[2018-09-21 00:11] mocchira opened #1130 "[leofs] Make it work with OTP 21"
The TODO list which should be done for OTP 21.

- error_logger has no longer started by default according to http://erlang.org/doc/man/error_logger.html so we have to start it explicitly

As we find something new to be added into the list, we'll add.

[2018-09-21 00:44] mocchira opened #1131 "[leo_storage] Check if +SDio with OTP 21 works"
Cited from http://erlang.org/doc/apps/erts/notes.html#erts-10.0

**The number of driver async threads will now default to 1 as the standard drivers do not use them anymore. Users that changed this value to tweak the file driver should replace +A with +SDio since it now uses dirty IO schedulers instead of async threads.**

Since we have used +A option to better perform disk I/O for AVS files, we ne

[2018-09-22 00:22] mocchira opened #1132 "[docs] Add the explanation about the support gzip compression on GET"
will describe
- how to enable it when requesting a GET
  - set "AcceptEncoding: gzip" to the request header
- when it can be applied to an object
  - object.size >= 300 && object.is_small (which means object.size < large_object.chunked_obj_len in leo_gateway.conf)

[2018-09-22 00:27] mocchira commented on #338
@asphytotalxtc Sorry for the late reply. Yes it's planned for a 2.0 release line. @yosukehara will explain the detailed plan sooner or later.

[2018-09-22 01:11] yosukehara commented on #338
@asphytotalxtc We need to implement a new consensus mechanism as [leo_konsul](https://github.com/leo-project/leo_konsul) to deliver the more scalable, reliable and efficient storage system - LeoFS v2 then will start developing the new MDC replication feature, which includes multi-cluster/ multi-datacenter replication.

[2018-09-22 01:59] yosukehara commented on #1130
I've done to be able to build LeoFS with [Erlang/OTP 21.0](http://www.erlang.org/news/123). Its commits are as below:

- https://github.com/leo-project/leofs/commit/ce4b24627acd35853b0a07af3e59176378149c65
- https://github.com/leo-project/leofs/commit/cf8ee18c831aac5d1136bd6d803bc87c81842791
- https://github.com/leo-project/leofs/commit/fd946438016965893ca77a92972e40d6e1b16806
- https://github.com

[2018-09-23 01:33] mocchira commented on #1130
@yosukehara It's not unclear whether those changes have affected but Circle CI tests keep failing after those changes.

[2018-09-23 04:18] yosukehara commented on #1130
I recognized that. I’ve been checking this cause from yesterday. I’ll fix that today or tomorrow.

[2018-09-23 23:24] mocchira opened #1133 "[leo_gateway][s3] PUT Object tagging MUST be ignored"
The same reason with https://github.com/leo-project/leofs/issues/1021.
Rerefence: https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUTtagging.html

[2018-09-24 09:18] asphytotalxtc commented on #338
Good to see it's still planned, thanks for the update guys! :)

[2018-09-25 01:06] yosukehara commented on #1130
I've just recognized `mp_upload_abort` test of leofs-test2's 1st scenario failed on my environment.

[code]

It's a same situation with [circleci.com/gh/leo-project/leofs/272](https://circleci.com/gh/leo-project/leofs/272). I'm going to check this issue again.

[2018-09-26 00:24] #1132 closed, assigned to mocchira

[2018-09-26 00:24] #1133 closed, assigned to mocchira

[2018-09-27 14:07] asphytotalxtc opened #1135 "Content-Type not being stored / returned properly"
Hey Guys,

Something I've just noticed, the Content-Type header does not appear to be correct when getting objects (using s3), see the following PUT and subsequent get requests:

[code]

And then when retrieving the object

[code]

Everything seems to be given the content-type of application/octet-stream, am I doing something wrong? Or perhaps content-types aren't supported maybe?

This is using l

[2018-09-28 00:05] mocchira commented on #1135
@asphytotalxtc You are right. Now LeoFS behaves differently from aws s3 in case handling the Content-Type header in request. When responding a GET request, LeoFS set the Content-Type header to a MIME type deduced by the suffix of the object (in your case, "dat") so that if the object name was 58186877.jpg or 58186877.jpeg then LeoFS set the Content-Type to "image/jpeg" as you intended.

We'd like

[2018-09-28 00:56] yosukehara commented on #1135
@mocchira I've remembered we discussed that few months ago.

When LeoGateway received PUT request which include "Content-Type" in the http-header, it'll register "Content-Type" into its user-defined metadata to set expected "Content-Type" when requesting GET/HEAD of the object.

[2018-09-28 01:27] mocchira commented on #1135
@asphytotalxtc We've come to the conclusion that we will comply with the s3 spec so that the fix will be included in 1.4.3. Anyway, thanks for reporting the issue as always.

[2018-09-28 05:05] mocchira commented on #1130
It turns out that https://github.com/leo-project/leo_object_storage/commit/e13f61338dde444164ea032bd5af4a26252fca70 causes leo_storage to crash randomly on Docker environment so I'm going to rollback the commit and check if it works on Circle CI.

[2018-09-28 05:43] mocchira commented on #911
Reopen due to https://github.com/leo-project/leofs/issues/1130#issuecomment-425322103

[2018-09-28 06:17] mocchira commented on #1130
Recovered as shown on https://circleci.com/workflow-run/a26131fe-0c0f-4bb0-9b2e-743b90afd56f so I'll close the issue.

[2018-09-28 06:17] #1130 closed, assigned to yosukehara

[2018-09-28 07:28] asphytotalxtc commented on #1135
Thanks guys! Awesome support as always :) 👍

Unfortunately, I'm implementing LeoFS into a very legacy application here and need to maintain the original filenames. The old system used to store everything as [numbers].dat regardless of what the original filename was so the content type header was pretty important for us lol.

[2018-10-02 00:59] #1128 closed, assigned to yosukehara

[2018-10-02 01:31] mocchira commented on #1135
IMPL details for devs

- Add the Content-Type to Headers here: https://github.com/leo-project/leofs/blob/v1/apps/leo_gateway/src/leo_gateway_s3_api.erl#L1479
- Replace leo_mime:guess_mime with something new like `retrieve_mime_and_udm_from_cmeta` at
  - https://github.com/leo-project/leofs/blob/v1/apps/leo_gateway/src/leo_gateway_http_commons.erl#L375
  - https://github.com/leo-project/leofs/blob/

[2018-10-05 06:35] mocchira commented on #1131
Confirmed that the option +SDio works as expected on OTP21 build with the patch below applied to leo_storage.schema.

[code]

If the option was given to a lower version OTP which doesn't support SDio then leo_storage can't start due to the invalid parameter so that the patch should be applied after the official packages will be bundled with OTP21.

[2018-10-05 07:37] mocchira opened #1137 "[leofs] Compression Support depending on extensions/Content-Type"
Probably could be similar approach to what minio implements. Details can be found on https://docs.minio.io/docs/minio-compression-guide.html.

[2018-10-10 02:29] mocchira commented on #1085
Reference IMPL
- https://docs.openstack.org/swift/latest/replication_network.html

[2018-10-10 02:48] mocchira opened #1138 "[leofs] Logging req_id as many places for better traceability"
Since the places to output req_id are limited now, it's relatively difficult to find out what's exactly happened at handling a specific request throughout the process.

[2018-10-10 05:08] mocchira opened #1139 "[MDCR] Room to improve the throughput of recover-cluster"
Under the circumstance where the both source/destination clusters have a same setting (same configurations, same number of storage nodes), we may be able to implement recover-cluster more efficiently by transferring AVS files directly instead of the current form (fetch objects and transfer those objects in batch repeatedly).

[2018-10-11 07:31] mocchira commented on #127
Since we plan to implement Bucket Notification (BN) for custom metadata search, Any bucket stats like the size, the number of objects can be tracked using BN and storing BN info into some external storage would realize the feature requested here.

[2018-10-11 07:44] mocchira opened #1140 "[leofs_client_tests] Add test suites for .NET and Node.js"
- https://docs.aws.amazon.com/sdkfornet/v3/apidocs/index.html
- https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/index.html

[2018-10-11 08:06] mocchira opened #1141 "[leofs] Reconsider the milestone described on README.md"
Since we plan to release 1.5.x series as a next major release cycle before 2.0, we have to fix the milestone described here: https://github.com/leo-project/leofs#milestones

[2018-10-11 08:14] NewDund opened #1142 "[leofs cluster] Queries on multi data center replication."
Now, we have multiple data center replication requirements, as follows:

- We now have a leofs cluster in a data center, storing three replicas in the cluster. I have uploaded the cluster configuration to GitHub.
https://github.com/NewDund/my_leofs/tree/master/1.4.2

- Now we're ready to start a leofs cluster for multiple data center replication in another data center in the hope of achieving a di

[2018-10-11 08:18] mocchira opened #1143 "[docs] User Guide for setting up GUI apps to connect to LeoFS"
It would be great if such docs exist in the official doc. (To be honest, I tend to forget how to set up Dragon Disk/ Cyberduck for the occasional debug especially I forget to add an endpoint using leofs-adm add-endpoint to allow clients to connect to LeoFS)

[2018-10-11 08:32] mocchira commented on #1142
@NewDund Thanks for reporting.

Yep, you are absolutely right. The English sentences in this page seem to be broken so it might be difficult to understand how to achieve your goal properly so I'm going to fix the page to make it more readable.

Anyway, the answer is below.

Setting `mdc_replication.max_targets` in leo_manager.conf to 1 would realize your requirement.

I hope it works for you.

[2018-10-11 08:42] mocchira opened #1144 "[docs] Check up the English sentences in the doc in terms of grammer"
As reported on https://github.com/leo-project/leofs/issues/1142, there are many broken sentences in the current doc especially in case the doc was written in the distant past (because we were newbies to write English sentences) so that it's probably good time to check up the sentences throughout the doc as our English skill have improved now.

[2018-10-11 08:54] NewDund commented on #1142
Is it feasible for me to modify leo_manager.conf to the following configuration?

[code]

Do I need to annotate the configuration item of `consistency.*` in the configuration file?

[2018-10-11 21:44] mocchira commented on #1142
Looks good to me.

Given your requirement (number of copies of object of another data center is 1), all consistency.* should be set to 1 as well.

[2018-10-12 02:05] NewDund commented on #1142
Finally, I would like to know if there are certain bandwidth requirements in the two data centers.

And, because we're using it as a disaster preparedness strategy, is it still possible for another data center cluster to provide S3 services when one data center cluster stops working as a whole?

If all clusters in one data center can't be restored, can clusters in another data center restore all d

[2018-10-12 05:02] mocchira commented on #1142
The files which are supposed to be replicated to the another data center are stacked locally until a certain time passes OR its size exceeds a certain threshold (both can be configurable in leo_storage.conf) so the memory usage on leo_storage(s) will increase as the PUT/DELETE operations happen at the local cluster. That being said, if the bandwidth is too narrow then the memory usage on leo_stora

[2018-10-17 04:03] NewDund commented on #1142
there, when i ran `leofs-adm join-cluster manager_10@10.16.2.223 manager_11@10.16.0.247`;
i got `[ERROR] Could not connect`
There is no problem in machine communication and cluster configuration.

[2018-10-17 04:59] NewDund commented on #1142
And I got these in logs.
[code]

[2018-10-17 05:04] mocchira commented on #1142
@NewDund

As shown the below document,
https://mocchira.github.io/leofs/admin/system_operations/multi_dc_replication/#join-cluster
You'd also have to specify a port number. The port number can be found on https://github.com/leo-project/leofs/blob/v1/apps/leo_manager/priv/leo_manager_0.conf#L166-L167 in leo_manager.conf.

Hope you find it helpful.

[2018-10-17 05:33] NewDund commented on #1142
I did this `leofs-adm join-cluster manager_10@10.16.2.223:13095 manager_11@10.16.0.247:13096`
This is my configuration.
`rpc.server.listen_port = 13095`
`rpc.server.listen_port = 13096`
But it is still shown `[ERROR] Could not connect`.

[2018-10-17 08:12] mocchira commented on #1142
If you still see the error log line below

as you can see which includes **connection_error,{connection_error,econnrefused}**. That being said, the port is not opened (or protected by the firewall or something like that).

Can you check if

- 13095 port is opened by leo_manager on manager_10@10.16.2.223 using netstat (or ss)
- 13095 is NOT protected by the firewall (ex. iptables or firewalld) by c

[2018-10-18 01:56] mocchira opened #1145 "[leo_storage][leo_object_storage] Add a certain buffer for the avoid write operation"
We've implemented https://github.com/leo-project/leofs/issues/592 to avoid write operations before it becomes impossible to execute data-compaction. However the current implementation checks the exact amount of free space retrieved through disk_mon (which is same with what `du` command shows) so currently it doesn't take the space used by a file system for its metadata into account. Although the m

[2018-10-18 03:44] NewDund commented on #1142
The following problems occurred during my cluster operation.

Unable to query data or insert data

log(manager) --> error
[code]

log(storage) --> error
[code]

log(gateway) --> error
[code]

[2018-10-18 04:01] NewDund commented on #1142
if i run `leofs-adm status`, i got this.
[code]

The `current ring-hash` is disappearing. And i don't know why.

I tried to restart all the processes, but it didn't work.

[2018-10-18 05:00] mocchira commented on #1142
@NewDund At first, let me confirm that

1. Have all previous problems you described at the prev comments been solved? if so, what were the cause of problems?
2. You said "Unable to query data or insert data", when did it start to happen? (ex. after executing join-cluster)
3. Can you tell us the exact procedures you took to set up the cluster (Terminal logs (what commands you ran) or scripts you us

[2018-10-18 06:28] NewDund commented on #1142
I checked the network and ports for the remote cluster, and there was no problem, but I still couldn't connect, so the problem remained unsolved.

But I do not think the operation of connecting remote cluster will affect the local cluster.

`Unable to query data or insert data`This happened when the cluster was running normally, probably this morning, as you can see in the log.

There is all log f

[2018-10-18 08:05] mocchira commented on #1142
@NewDund OK. Got it. However..

I've checked the error log and noticed that almost all error lines are related to **Multi DC Replication(MDCR)** feature and there has been so many tries and errors between 2 clusters so I think Multi DC related operations might affect the local cluster operations so Can you try to disable MDCR by issuing remove-cluster described on https://leo-project.net/leofs/doc

[2018-10-18 08:22] NewDund commented on #1142
But I didn't add a successful remote cluster.
[code]
So, what should I do?

[2018-10-18 10:20] NewDund commented on #1142
There is no problem with my local cluster. After I restart all the components and disconnect the remote cluster connection.
But I operate normally. Why can't I use MDCR?
Can you help me?

[2018-10-18 21:19] mocchira commented on #1142
Good to hear that.

OK. Let's get back to the MDCR problem.
You still didn't answer my question I asked before.

We will try to reproduce your problem based on the procedures you took.

[2018-10-18 21:35] mocchira commented on #1135
Close as the fix got merged into the v1 branch.

[2018-10-18 21:35] #1135 closed, assigned to mocchira

[2018-10-19 00:12] mocchira commented on #331
Since users who (have already used/plan to use/try to use) MDCR have gradually increased, so we've come to the conclusion that we prioritize this task and try to get as much test suites as possible into 1.4.3 release.

[2018-10-19 00:48] mocchira opened #1146 "[leofs] Add a "Try in PWD(Play with Docker)" button to README.md"
In order for newbies to make it easy to try LeoFS on their browser.
Reference: https://labs.play-with-docker.com/

[2018-10-19 01:27] mocchira opened #1147 "[docs] Add the in-house operation knowledge to the official document"
Since there are some useful in-house operation knowledge which might be helpful to our community, we are considering to publish as much information as we can (while getting rid of some internal specific information).

Major tips we are supposed to publish

- Keep the availability while some leo_storage nodes are down (useful tip especially in case the cluster is running with N=2)
- Data Migration

[2018-10-19 01:44] mocchira commented on #1145
@yosukehara Since the number of i-node(s) is likely to be fairly stable under the system using LeoFS because of its way to store files (storing files into the fixed number of OS files), I think it would be OK to use the constant value (2%) rather than making it configurable (less configurations, more better). What do you think?

[2018-10-19 01:46] yosukehara commented on #1145
@mocchira

I agree with your opinion.

[2018-10-19 01:55] NewDund commented on #1142
@mocchira
I just uploaded all directory of remote cluster.
https://github.com/NewDund/Remote_cluster

And I have uploaded the configuration of the local cluster before.
https://github.com/NewDund/my_leofs/tree/master/1.4.2

All local cluster logs were uploaded yesterday.
https://github.com/NewDund/leofs_log

I think these should be enough to analyze the problem and restore the scene.
(And I shut d

[2018-10-19 01:56] NewDund commented on #1142
Thank you very much. If we can solve this problem, we will use it immediately. (because we need to ensure data integrity in any case).

[2018-10-19 03:06] mocchira commented on #1142
@NewDund Thanks for sharing the information. we are going to try to reproduce your problem. Please wait for a while. Once we find the root problem, I'll get back to you ASAP.

[2018-10-19 06:04] mocchira commented on #1121
@NewDund Is there any unanswered problems here? if not, then please close the issue.

[2018-10-19 06:07] #1121 closed, assigned to mocchira

[2018-10-19 06:10] mocchira commented on #565
Close as the sentence no longer exists in the project info page.

[2018-10-19 06:10] #565 closed

[2018-10-19 06:18] mocchira commented on #512
Since the document has been available on the official doc at https://leo-project.net/leofs/docs/admin/system_admin/leo_manager/ , I'll close the issue.

Please reopen the issue if you find something to be fixed on the page.

[2018-10-19 06:18] #512 closed

[2018-10-23 02:39] NewDund commented on #1142
@mocchira
Hello, is there any new progress in `my remote replication cluster`?

[2018-10-23 02:45] mocchira commented on #1142
@NewDund From today, I can take the time for this issue.

[2018-10-23 09:49] mocchira opened #1148 "[leo_gateway] Content-MD5 is not verified when dealing with PUT Object"
Now it's only verified when dealing with a multiple delete request as below.

https://github.com/leo-project/leofs/blob/6d072790d9a3a9cb9af3a341bba11aeec4b28758/apps/leo_gateway/src/leo_gateway_s3_api.erl#L2223-L2246

We have to verify Content-MD5 when dealing with PUT Object as well and return 403 as "The request signature we calculated does not match the signature you provided" using reply_bad_d

[2018-10-24 01:02] mocchira commented on #114
Reference: https://issues.apache.org/jira/browse/CASSANDRA-7922

It's a little bit different from the goal of the issue but we may have to encrypt not only files uploaded by users but also any other files used by LeoFS at rest in order to cover more strict compliance needs as described on the above link.

[2018-10-24 01:16] mocchira commented on #179
We've recently complied with the aws-s3 spec as described on https://mocchira.github.io/leofs/admin/protocols/s3/#how-to-deal-with-content-type-request-header-on-put (the above document will be published on the official document once 1.4.3 comes out) so I'll close the issue.

[2018-10-24 01:16] #179 closed

[2018-10-24 01:45] mocchira opened #1149 "[leofs] Abolish deprecated features and configurations which are no longer supported (OR actively maintained)"
For example,

- https://github.com/leo-project/leofs/blob/v1/apps/leo_manager/priv/leo_manager_0.conf#L56 has no longer used as the recent version has not supported showing command histories through leofs-adm. Instead we've provided command histories through the command history log files.

- Since we have not actively maintained the http-cache feature anymore and would recommend users not to set c

[2018-10-24 05:58] mocchira opened #1150 "[docs] More strict system resource requirements"
The current documentation which we can find on https://leo-project.net/leofs/docs/admin/setup/hardware_requirements/ seems to be vague and the reference platform can be applied only to the very narrow use cases. (We may be able to deduce how much machines/network bandwidth/disk(or sssd) throughput(or IOps) are needed based on the reference architecture but it's nearly impossible) I think we can so

[2018-10-24 07:04] mocchira opened #1151 "[security] Eliminate hard coded access-key-id secret-access=key"
The default user's  access-key-id and secret-access-key have been hard coded. It should be removed in accordance with the security best practice. With this change, we may have to fix some test scripts which depends on the existing default user by adding a new user manually.

[2018-10-24 07:51] mocchira commented on #1142
@NewDund still no luck to reproduce your problem on our test environment based on your inputs. I'll keep trying and investigating the issue tomorrow. I might ask you more info (terminal logs (command histories) OR scripts to set up the both cluster and how you enabled MDCR etc.)

[2018-10-24 10:16] NewDund commented on #1142
OK, let me briefly describe my operation.

When I started the remote cluster, I run `leofs-adm join-cluster manager_10@10.16.2.223:13075 manager_11@10.16.0.247:13076` in the local cluster.
Then the local cluster failed to work properly.
There is no other operation during this period.
And failed to establish connection with remote cluster.

After adding the remote cluster success, I ran `leofs-adm

[2018-10-25 00:13] mocchira commented on #1142
@NewDund Thanks for the additional info.

Let me ask you, if possible, it would be really helpful if you would tell us those events with the timestamp and list them in chronological order. (I know I may be able to deduce by checking strictly all log files you shared with us but it will take much time and also I might fail to deduce)

And also a few questions below.

Can you elaborate it? (just joi

[2018-10-25 01:08] mocchira opened #1152 "[leo_manager] Prohibit any operations which change the cluster status while the RING inconsistency happens"
to prevent the secondary disaster from happening for safe.

Operations which should be prohibited.

- rebalance
- join-cluster
- remove-cluster

Let me know if there are other operations which also should be prohibited > @yosukehara

[2018-10-25 02:11] NewDund commented on #1142
My local cluster was after I first ran `leofs-adm join-cluster manager_10@10.16.2.223 manager_11@10.16.0.247`.
Then there was an error in the local cluster log that I described earlier, and the PUT / GET / HEAD / DELETE operation on the client was not working properly either.

I only added ports when running `leofs-adm join-cluster manager_10@10.16.2.223 manager_11@10.16.0.247` and closed iptables

[2018-10-25 06:25] mocchira commented on #1142
@NewDund OK. Got it.

So you tried

At the first time,
You issued join-cluster **without ports** at the local cluster (let's say cluster A) and failed. (expected result at this point as ports were not specified) however **PUT/GET/DELETE operations on the client not working properly either** shouldn't happen so there might be something wrong (unknown bug or some problem specific to your environment

[2018-10-26 01:35] mocchira opened #1153 "[leo_manager] Recover manager's RING in case storage's RING is correct in an automatic way"
### Related issues
- #1080

[2018-10-26 01:40] mocchira opened #1154 "[leo_manager][document] Recover manager's RING in case storage's RING is correct"
### Related issues
- #1080
- #1153

[2018-10-26 01:44] mocchira commented on #1080
We've come to the conclusion that we will implement it as one of the leofs-adm commands `recover-manager-ring`.

[2018-10-26 01:53] mocchira commented on #1154
The topics which will be included into the docs are

- How LeoFS tries to keep the RING consistency between leo_manager(s) and leo_storage(s)
- How to distinguish which RING is correct in case there are some differences between leo_manager's one and leo_storage's one.
- What to do in case it turns out that storage's RING is wrong
- What to do in case it turns out that manager's RING is wrong

[2018-10-26 03:24] NewDund commented on #1142
I tried to do it, and successfully added remote clusters.

But when I run `leofs-adm recover-cluster xz_leofs_2`, there is still a problem that the PUT / GET / DELETE operation does not work properly, and the log of the remote cluster appears again as follows:
[code]

My local cluster state is like this.
[code]

And my remote cluster state is like this.
[code]

Now, I repeat my previous work. Remo

[2018-10-26 03:26] NewDund commented on #1142
@mocchira
Because my local cluster already has a lot of data, I have to run commands like `leofs-adm recovery-cluster XXX` to restore consistency. What should I do?

[2018-10-26 03:57] NewDund commented on #1142
Just now I ran
[code]
And then I got this.
[code]

Will that help?

[2018-10-26 05:22] mocchira commented on #1142
@NewDund Let me confirm one thing.

- Before issuing the recover-cluster, were there no problems at all? In other words, Have all objects updated (through PUT/DELETE from clients) on the local cluster been replicated to the remote cluster properly? if so, there should be some problem around recover-cluster command so I will look into further here.

Yes you'd have to run recover-cluster however the

[2018-10-26 05:36] NewDund commented on #1142
The answer is yes, there is no problem here.
`Before issuing the recover-cluster, were there no problems at all? In other words, Have all objects updated (through PUT/DELETE from clients) on the local cluster been replicated to the remote cluster properly?`
But the `ratio of active size` is very small, like this.(It has no effect on data. It only shows the effect.)
[code]
`The broken manager RING

[2018-10-26 05:59] mocchira commented on #1142
OK then I'll look into recover-cluster implementation in detail from now.

Thanks. I hope this works for you. (Third time lucky may happen)

Sure.
In order to replicate the traffic caused by your recover-cluster operation, Can you share how much amount of data (the number of files and the average file size) does each leo_storage node have on the local cluster with us? I will make the testing envir

[2018-10-26 06:27] NewDund commented on #1142
Thanks, i hope so.

ok, I list these information below. (a single node, each node is basically the same)
[code]

Each object is probably less than 10M.

[2018-10-26 06:46] mocchira commented on #1142
@NewDund Thanks for the quick reply. I will get back to you once I find something wrong and the way to fix the problem.

[2018-10-26 07:29] NewDund commented on #1142
I went on to try again, and after connecting to the remote cluster was successful, the following problems occurred again in the log of the remote cluster, and my PUT / GET / DELETE operation did not work properly.
[code]

My remote cluster confirmation is a completely new environment, so I think there are only two possibilities.

And I found a very strange thing, I paste it below.
[code]
It makes

[2018-10-30 01:12] mocchira commented on #1142
@NewDund

Let me confirm that at this time did this error start to happen before issuing the recover-cluster? also just in case, has "my PUT / GET / DELETE operation did not work properly" happened at the local cluster?

I can't understand this.

There are still some bugs which can cause du to dump the wrong value to the console so Can you check the https://leo-project.net/leofs/docs/faq/administr

[2018-10-31 02:16] NewDund commented on #1142
This error began to occur after the recovery cluster was released.

The answer is obviously yes.

[2018-10-31 04:46] mocchira commented on #1142
@NewDund Thanks for the answer.

Got it. so just the same thing would happen again right? Although I'm still trying to reproduce the issue now, I've noticed one thing that might solve the problem in your environment. Since the queue items for doing the recover-cluster have been stored on leo_storage(s) in your local cluster after the first attempt and those queue items might have the wrong informa

[2018-11-03 06:33] varuntanwar opened #1156 "leofs-storage {cause,not_found}"
A few days back we had added a few nodes in the leofs cluster, but we removed them later. But it is still looking for the the removed nodes and throwing the following error logs:

[W]	storage_101@prd-leofs101	2018-11-03 11:44:48.578937 +0550	1541225688	leo_storage_mq:rebalance_1/1	912	[{node,'storage_107@prd-leofs107'},{addr_id,38174905918673712019893746042006228611},{key,<<"datastore/report/dbe8d

[2018-11-03 07:35] varuntanwar commented on #1156
I have 5 nodes in the cluster:  storage_106 to storage_110 and removed all of them.
But error is coming for only 3 nodes storage_{106..108}

[2018-11-05 06:58] NewDund commented on #1142
@mocchira
After many attempts, I found that there should be problems in my local cluster, but I do not know what is the problem, do you have any ideas or solutions for me?

[2018-11-05 08:08] NewDund commented on #1142
Moreover, after using a local stand-alone environment to construct MDCR with remote cluster successfully, I found that neither remote cluster self-synchronization nor running `leofs-adm recovery-cluster xz_cluster_2` could synchronize user and bucket privileges. Why? (There is nothing wrong in the log.)

[2018-11-05 23:52] mocchira commented on #1142
@NewDund

That being said, didn't my previous advise (deleting queue files and restart leo_storage(s)) work for you? I keep trying to reproduce your problem in my spare time so once I find something which might help us solve the problem, I'll get back to you. Sorry for the inconvenience.

This is weird (should not happen). Can you tell us the exact procedure in deploying the local stand-alone envi

[2018-11-05 23:59] mocchira commented on #1156
@varuntanwar Can you provide us with the information described on https://github.com/leo-project/leofs/wiki/template-of-an-issue-report to look into further your problem?

[2018-11-06 01:24] varuntanwar commented on #1156
**Purpose** : Production
**Environments** :

- LeoFS Version : 1.3.8
- Erlang Version : Erlang/OTP 18
- Kind of virtualisation : Xen
-  Operating system : Ubuntu 16

- Processor Architecture:

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 6
model name	: QEMU Virtual CPU version 2.5+
stepping	: 3
microcode	: 0x1
cpu MHz		: 1995.312
cache size	: 4096 KB
physical id	: 0
siblings	: 1

[2018-11-06 02:01] NewDund commented on #1142
Yes, this can bring some help, but there is no way to solve the main problem.
My local cluster is out of order, but there is no way to rebuild the cluster because there is already a lot of data in it. `Is there any way to reinstall the cluster and clear other working documents while retaining data?`

Thank you very much.

I will try when I have time.

[2018-11-06 02:48] mocchira commented on #1142
There is one way to achieve those requirements, however it will cost you so much time so it might not be the option for you. Anyway I'm going to share the way sooner or later.

[2018-11-06 03:03] mocchira commented on #1156
@varuntanwar Thanks for sharing the detailed info.

The reason why you can still see such log entries is that there are still some messages in the queue files which keep trying to rebalance (probably based on your first attempt) so stopping leo_storage and deleting all queue files on leo_storage and restarting on all leo_storage nodes might solve your problem.

(The queue files are stored under th

[2018-11-06 05:42] NewDund commented on #1142
@mocchira

Thank you.

Here is another question. Which node in MDCR is network communication? If I want to limit the bandwidth between clusters of different data centers, what should I do?

[2018-11-06 05:43] mocchira commented on #1142
@NewDund

### Prerequisites
- You have the complete object key list to fetch objects from the existing cluster.

### Procedure
- Build the new cluster (same spec as the existing cluster)
- Prohibit any PUT/DELETE operations to the existing cluster
- Copy all objects stored in the existing cluster to the new cluster based on the object key list
  - GET objects from the existing cluster
  - PUT obje

[2018-11-06 05:57] mocchira commented on #1142
All storage nodes in the local cluster can communicate with the storage nodes in the remote one so You should limit the bandwidth on all storage nodes by using https://linux.die.net/man/8/tc or something similar which enables you to control the network bandwidth.

[2018-11-07 04:50] mocchira commented on #1156
Notes: As for the first failure (after rebalancing with 5 storage nodes at once, many objects were inaccessible) @varuntanwar faced, we are looking into the root cause now. Once we find the root cause, we'll file it as another issue later.

[2018-11-07 06:04] varuntanwar commented on #1156
Will this cause any data loss if we don't restart the storage nodes ?

Yes. So we removed the nodes immediately  and did rebalance one by one. After that error rate dropped but still few files are not accessible.

[2018-11-07 06:19] mocchira commented on #1156
Theoretically no data loss will happen although you keep seeing the error log lines forever without wiping out the queue files and restarting the storage nodes.

What will "leofs-adm whereis" show against a few files which are not accessible now?

[2018-11-07 06:52] varuntanwar commented on #1156
[code]

Even for the files which are accessible, we are not getting any details ( Ring address, size, checksum and other details) in whereis command

[2018-11-07 08:01] mocchira commented on #1156
Let me confirm that means you can't get any details of all files stored in your cluster regardless of whether it's accessible or not? then it might be the symptom that the cluster RING has been broken for some reason. Can you provide us with the RING information by using "leofs-adm dump-ring"?

After executing "dump-ring", you can see the following files under the path specified by https://github.

[2018-11-08 00:23] mocchira opened #1157 "[docs] Add the caution that it's NOT recommended to do rebalance with multiple nodes at once"
Although we've already alerted our users not to do rebalance with multiple nodes at the warning section "Warning: Avoid Rebalance with many nodes attached|detached" https://leo-project.net/leofs/docs/admin/system_operations/cluster/#add-a-node on our official document, I think we have to make it more visible and get much more attention from people in order to prevent https://github.com/leo-project

[2018-11-08 00:34] mocchira opened #1158 "[test] Confirm if the rebalance with multiple nodes works as intended"
After we got https://github.com/leo-project/leofs/issues/1156 on github, we've started looking into whether or not the rebalance with multiple nodes works as intended. In case of the #1156, a user tried to add 5 nodes into 5 nodes cluster at once and do the rebalance. as a result, many objects were not accessible. I also tried to add 2 nodes into 2 nodes cluster at once and do the rebalance and th

[2018-11-08 01:55] mocchira opened #1159 "[leo_manager] Disallow the rebalance with multiple storage nodes"
Although we've already alerted not to do the rebalance with multiple nodes on our official document, there are some cases users do that and will have some trouble so we've decided to implement disallowing the rebalance with multiple storage nodes attached/detached for safe. (except the takeover in which there are one attached storage node and the other detached one)

Once we solve https://github.c

[2018-11-09 20:45] varuntanwar commented on #1156
Earlier I was only getting the errors with the few files but right now I am not able to reproduce the issue. I can fetch the details of the files which are accessible.

But not getting any details for the files which are not accessible. Seems like somehow those files got deleted from the cluster

[2018-11-12 05:56] NewDund commented on #1142
@mocchira
These problems have been solved by rebuilding local clusters, but it is not clear what is wrong with specific local clusters.

Now, I have a new question.
My remote cluster now has only one copy. If I have the operation of adding disks, should I run `"leofs-adm recovery-node"` in the local cluster or `"leofs-adm recovery-cluster"` in the remote cluster after adding disks?

[2018-11-13 00:15] mocchira commented on #1142
@NewDund

Great to hear that.

Good question. "leofs-adm recovery-cluster" would be the right option here. We'd have to document about it in our official document. Thanks!

[2018-11-13 00:34] mocchira commented on #1156
@varuntanwar

This is the problem.

As you may know, we have filed a few issues recently like

- #1157
- #1158
- #1159

All of these are related to the problem which can happen in case running rebalance with multiple storage nodes at once, that being said, we suspect that data loss could happen in that cases so we will prohibit "rebalance with multiple nodes at once" and also document (Don't rebal

[2018-11-13 03:51] varuntanwar commented on #1156
Yes, I want to recover those files. I haven't run the compaction. I have executed the recover-file and recover-node(only on 2 nodes) but no luck.

[2018-11-13 04:03] varuntanwar commented on #1156
Also, for this bucket, s3cmd ls is not working.
[code]
It is working fine for other cluster.

[2018-11-13 05:46] mocchira commented on #1156
OK.
At first, please refer to https://leo-project.net/leofs/docs/admin/system_operations/data/#diagnosis .
As you can see, "leofs-adm diagnose-start" allows you to dump the object list including its offset, filename, size, etc.. so if you know the filename to be recovered then you can retrieve the original content based on its offset and size.

### Steps
- "leofs-adm whereis $PATH_TO_FILE" to gras

[2018-11-13 06:05] mocchira commented on #1156
if there are so many files under s3://datastore/ then it might not work (to be precise, take very long time) due to the limitation we have for now (See this issue https://github.com/leo-project/leofs/issues/548 for more details) so we'd recommend you not to use s3cmd ls (and also any ls alternatives which are exposed through other aws-sdk tools) because it not only takes much time to retrieve the

[2018-11-13 07:23] mocchira opened #1160 "[MDCR][doc] The proper way to recover files on the remote cluster"
As for recovering the local cluster, "leofs-adm recover-(disk|node|consistency)" would be the right option for it, OTOH it can't be the right option to recover the remote cluster (Note: It can do the right job in case the consistency setting on the remote cluster is properly configured). Instead "leofs-adm recover-cluster" would be always the right option for it. Since it might be difficult for us

[2018-11-13 13:31] #1152 closed, assigned to mocchira

[2018-11-13 14:56] varuntanwar commented on #1156
I dumped the object list on all the 5 nodes and then tried to
`"grep" the dumped file with $PATH_TO_FILE` but didn't find the line. I tried it for 100 files

[2018-11-13 15:07] varuntanwar commented on #1156
I have a question regarding taking the backup of the leofs cluster, i know we can do it through Multi DC replication.

But can we do this :
Take the backup of data inside https://github.com/leo-project/leofs/blob/v1/apps/leo_storage/priv/leo_storage.conf#L48 and store it on some other server.

Case 1:
Suppose storage_node_102 goes down for some reason, we can suspend the node then add a new node w

[2018-11-14 00:44] mocchira commented on #1156
@varuntanwar Thanks for the quick try.

"grep" the dumped file with $PATH_TO_FILE but didn't find the line. I tried it for 100 files

Sounds wired. If possible, can you share the dumped files with us? I'd like to check if it's the file I'm supposed to and it's not corrupted.

Take the backup of data inside https://github.com/leo-project/leofs/blob/v1/apps/leo_storage/priv/leo_storage.conf#L48 and

[2018-11-14 00:53] mocchira commented on #1156
@varuntanwar let me confirm what ${PATH_TO_FILE} you used just in case. The dumped files looks like below
[code]

The third column is the file path and it's formatted in ${Bucket}/${Path} so you would have to grep something like "test/1234" in this case.

[2018-11-14 07:05] mocchira opened #1161 "[docs] Procedure to recover lost files using leofs-adm diagnose-start"
Will make the procedure based on the comment I described here: https://github.com/leo-project/leofs/issues/1156#issuecomment-438145039

[2018-11-14 07:12] mocchira opened #1162 "[docs] Recommended file structures which allow "s3cmd ls" to run efficiently and use less system resources"
Will make the document based on the comment I dropped here: https://github.com/leo-project/leofs/issues/1156#issuecomment-438148572

[2018-11-15 03:14] NewDund commented on #1142
@mocchira
Thank you.

I found that some requests to the gateway node would return 504. I don't know why. There are about 100 concurrent connections on my machine. I don't think the reason should be too many requests.
Although the probability of occurrence is not large, I am worried that it will affect our business.

[2018-11-15 06:44] varuntanwar commented on #1156
I just checked that compaction was auto executed 2 days before. I guess we lost all the data

[2018-11-15 06:46] mocchira commented on #1142
@NewDund

The status 504 would be returned only in case a timeout for the communication between leo_gateway and leo_storage happens so typical reasons why this could happen are

1. Network Congestion between leo_gateway and leo_storage
2. Packet Drop between leo_gateway and leo_storage
3. Slow leo_storage due to busy disk I/O (and/or) the garbage collection on Erlang VM takes much time

In order t

[2018-11-15 06:48] varuntanwar commented on #1156
[code]

But when I checked in the dump I found the entry :
leo_object_storage_1.20181113.11.1:8769476350	3767630959941716272835727232270768457	datastore/report/54a0f261-f3c4-4f0b-ab33-c9b4615ea6e5	55242880	1541180514943738	2018-11-02 23:11:54 +0550	0

leo_object_storage_6.20181113.12.1:9052000820	193485395879674610491525457285422576883	datastore/report/54a0f261-f3c4-4f0b-ab33-c9b4615ea6e5	03117824

[2018-11-15 06:58] mocchira commented on #1156
Oh, then the procedure I share at the previous comment: https://github.com/leo-project/leofs/issues/1156#issuecomment-438145039 might work for you so please give it a try to recover the lost files.

[2018-11-16 01:00] mocchira opened #1163 "[docs] Add a FAQ - what should I do when LeoGateway sometimes returns 504"
Will make the FAQ docs based on the comment I dropped here: https://github.com/leo-project/leofs/issues/1142#issuecomment-438935744

[2018-11-16 01:46] mocchira opened #1164 "[test][s3] Add s3-tests into CI workflows"
Although we used to test LeoFS with https://github.com/ceph/s3-tests to find bugs related to S3 compatibility, at some point we stopped using this. I think we should get it back to our CI WF as S3-API (also any aws-sdk) are always evolving and may affect LeoFS S3 I/F (actually we had faced some issues in the past when aws-sdk was bumped).

[2018-11-19 09:55] varuntanwar commented on #1156
what is the best backup/restore strategy for leofs? I don't want to use another leofs cluster.

Will there be any impact on the cluster or on data if we add more storage nodes in the cluster with different storage size? Say right now I have 5 nodes in the cluster with 200 GB storage. I want to add more nodes but different storage size (500GB- 1TB) considering replication factor = 2.

[2018-11-19 10:46] yosukehara commented on #1080
When I considered this implementation, I recognized LeoFS already has `recover ring <storage-node>"`.
I propose `recover ring` command is applied to nodes of `LeoGateway`, `LeoStorage`, and `LeoManager` because the purpose of recovering RING is same whatever the node type.

[2018-11-20 00:31] mocchira commented on #1080
I propose recover ring command is applied to nodes of LeoGateway, LeoStorage, and LeoManager because the purpose of recovering RING is same whatever the node type.

so you mean we will implement "leofs-adm recover-ring \<manager-node\>|\<gateway-node\>" ? then I agree with you.

The one thing we have to consider is when executing "leofs-adm recover-ring \<gateway-node\>", which node (manager or st

[2018-11-20 01:06] mocchira commented on #1156
It depends on the use case and requirements however in almost all cases, I think no backup/restore is needed because all files in the leofs cluster are replicated in multiple storage nodes (It can be thought as it's always backed up). however as you faced, there is some possibility that data loss could happen due to unknown software bugs (not only leofs itself but any other underlying software sta

[2018-11-20 02:40] varuntanwar commented on #1156
What is the formula to calculate the value of num_of_vnodes?
If I want to create a new cluster with 1 TB storage do we have to tweak the default value or is it only when storage nodes are of different size

I want to ask one more thing that, as of now both LeoFS manager master and slave both are running on same VM. But now we are increasing rapidly if we this VM goes down we will not be able to co

[2018-11-20 06:03] mocchira commented on #1156
If I want to create a new cluster with 1 TB storage do we have to tweak the default value or is it only when storage nodes are of different size

The default (168) should be suitable for typical cluster sizes (how many storage nodes the cluster consists of. we'd assume several dozen of servers) so that in almost all cases, you don't need to tweak the default unless you will try to deploy a very la

[2018-11-20 06:09] varuntanwar commented on #1156
Ok I will try that.

I have one more question:
Can we change consistency.num_of_replicas to 3 now? will there be any impact on the data if I change the replication number and restart the manager node? if yes, what will be the correct steps to change it without impacting the cluster data?

[2018-11-20 06:27] mocchira commented on #1156
Unfortunately it's impossible to change consistency.num_of_replicas after starting the cluster.
The only way to do so without impacting the current cluster data is

- Building a new cluster with consistency.num_of_replicas set to 3
- Copy all objects stored in the old (current) cluster to the new one
- Switch VIP to the new one

[2018-11-21 00:08] mocchira opened #1165 "[docs] Add a FAQ on how to utilize the disk space at the maximum in heterogeneous disk space env"
Based on the bottom of the comment here: https://github.com/leo-project/leofs/issues/1156#issuecomment-440098859 (using num_of_vnodes)

[2018-11-21 00:13] mocchira opened #1166 "[docs] Add a FAQ on LeoFS can keep handling requests from clients even with both LeoManagers downed"
Based on the bottom of the comment here: https://github.com/leo-project/leofs/issues/1156#issuecomment-440154600 and also use the image to explain it.

<img src="https://leo-project.net/leofs/docs/assets/leofs-architecture.001.jpg"/>

[2018-11-22 10:32] varuntanwar commented on #1156
I tried to test this case.
When I tried to execute `leofs-adm dump-mnesia-data <absolute-path>` I found out that I don't have dump-mnesia-data option.
Options available are
[code]
I also tried to use the backup-mnesia, I am getting this error :
[code]

Also, tried to create the file dump.dat, change the owner to leofs and file permission to 777  and executed the command again but getting same erro

[2018-11-22 12:56] mocchira commented on #1156
@varuntanwar

Sorry for the inconvenience. it should be fixed to "backup-mnesia" as you tried. Thanks for catching it.

Have you also changed **the owner of a directory** where the backup file is dumped OR change the permission 777 or something which enable leo_manager (running as leofs user) to dump the backup file? I'd suspect there seems to be something wrong around the permission.

Don't stop

[2018-11-22 17:36] varuntanwar commented on #1156
The file is located in my home directory. /home/varun.tanwar/dump.dat
I can not change the owner of my home directory or change the permission to 777.
 I have created a new directory /leofs and change ownership after that "backup-mnesia" successfully executed.
[code]
Now will try to execute the remaining steps.

This is what I wanted to ask what to do if my manager node crashed at any point of tim

[2018-11-22 17:43] varuntanwar commented on #1156
The file is located in my home directory. /home/varun.tanwar/dump.dat
I can not change the owner of my home directory or change the permission to 777.
I have created a new directory /leofs and change ownership after that "backup-mnesia" successfully executed.

[code]
Now will try to execute the remaining steps.

`Don't stop the manager node. keep it running and give it another try in a way as I me

[2018-11-23 02:53] NewDund commented on #1142
@mocchira
Now, when I run `leofs-adm recovery-cluster xz_leofs_2`, after several minutes of execution, I don't get any return results, and the following error occurred in my local `/usr/local/leofs/1.4.2/leo_manager_0/log/app/error`.

Do you know why? Generally speaking, when I execute this command, it should return "OK", but I didn't get anything.

[2018-11-28 07:19] mocchira commented on #1156
@varuntanwar Sorry for the long delay. I'm back now :)

Good to hear that.

Good point.
If it's possible to restart the manager node then restart and issue backup-mnesia via leofs-adm.
if not then unfortunately there is no clue at this point, however what we have to do for dumping the backup file is just calling https://github.com/leo-project/leofs/blob/391216c54e9868f5c7b2ef6fa5d2c6881b190535/app

[2018-11-28 07:43] mocchira commented on #1142
@NewDund

Great catch. It turns out that this is a bug which can happen in case the amount of files to be synced across the (local/remote) cluster is very large.

Now leo_manager will timeout after a certain time passed from the time "leofs-adm recover-cluster" issued. Since the time to sync increases as the amount of files increases, we have to fix the code implemented at https://github.com/leo-p

[2018-11-29 02:10] NewDund commented on #1142
@mocchira
Do you mean that after running the leofs-adm recovery-cluster command, I don't need any other operation, and the cluster will automatically recover?
How can I know the progress of recovery(such as recovery-node and recovery-cluster's rate of progress)?

Has it been repaired here? Or do you need to wait for the next version to be updated?

[2018-11-29 02:23] mocchira commented on #1142
Yes.

leofs-adm mq-stats (https://leo-project.net/leofs/docs/admin/index_of_commands/) will show you the progress of recovery (how many tasks are remained in the queue). In case of recover-cluster, you'd have to issue leofs-adm mq-stats against the remote-cluster.

Notification (when the recover-cluster was  finished) will be implemented at the next minor release 1.4.3 so please wait for a while.

[2018-11-29 02:29] NewDund commented on #1142
Thank you. I won't close this issue for the time being so as to avoid some new problems with MDCR.

How can I know your release plan?

[2018-11-29 02:32] NewDund commented on #1142
Oh, by the way, there's another question: Does leofs provide the ability to check the total size of a single bucket? (Because the amount of data in my single bucket is too large, using Python or s3cmd will cause a timeout error.)

[2018-11-29 05:02] mocchira commented on #1142
At this moment, we've still not come to the conclusion when we release 1.4.3 however I can say it will be released at least in this year.

Unfortunately we still don't provide such features yet, however there is a long standing issue here: https://github.com/leo-project/leofs/issues/127 and also there are not a few people demanding this feature in our community so we are now considering when/how w

[2018-11-29 05:29] NewDund commented on #1142
Thank you very much.

So here I come up with two ideas.
1. After recovery-node or recovery-cluster or rebalance operations, if you can add a percentage progress display to the info log, I think it's great.
2. I think it would be very good to limit the capacity of a single bucket.

Of course, if it doesn't conflict with your functional online plan, I think you can do these.

[2018-11-29 06:26] mocchira commented on #1142
@NewDund Thanks for giving us such ideas! We'd like to take your ideas into account while it doesn't conflict with our plan as you said. Thanks again.

[2018-11-30 02:27] NewDund commented on #1142
@mocchira

So when I run "leofs-adm mq-stats storage_11@10.16.1.74" (which is a node of a remote cluster), I get the following information. Which one describes the status of recovery-cluster?

[code]

[2018-11-30 05:14] mocchira commented on #1142
@NewDund

Sorry, I was wrong about the sentence below

To be exact, you'd have to issue leofs-adm mq-stats against all storage nodes in the **local**-cluster. **leo_comp_meta_with_dc_queue** will describe the status of recovery-cluster (More precisely, inconsistent objects between local/remote cluster will be stored in **leo_comp_meta_with_dc_queue" and removed once the object on each side gets co

[2018-11-30 05:25] mocchira opened #1167 "[docs][tool] Provide mnesia backup/restore tool which can run without manager nodes"
As described on https://github.com/leo-project/leofs/issues/1156#issuecomment-442344983, there are some use cases that it would be useful to provide standalone mnesia backup/restore tool instead of the current bakcup/restore command implemented in leofs-adm as there are some cases it's impossible to restart LeoManager for some reason (ex. the machine got broken completely)

[2018-11-30 05:31] mocchira opened #1168 "[docs] Add a FAQ - when should we take a backup for mnesia"
As described on the latter part of  https://github.com/leo-project/leofs/issues/1156#issuecomment-442344983,

This should be documented and also we have to mention that users should take the backup whenever the records in S3 related table (users, endpoints, buckets) change.

[2018-11-30 05:38] mocchira opened #1169 "[leo_manager][leo_storage][MDCR] recover-cluster may get timeout in case the number of files to be synchronized is very large"
As described on https://github.com/leo-project/leofs/issues/1142#issuecomment-442350260. we have to fix the code implemented at https://github.com/leo-project/leofs/blob/1.4.2/apps/leo_manager/src/leo_manager_api.erl#L1595-L1597 in some asynchronous way (ex: Don't wait for the task being finished. Instead returns OK to the leofs-adm immediately and notify via a log file when the task is being fini

[2018-11-30 05:43] mocchira opened #1170 "[docs] Add a FAQ - Before 1.4.2 leofs-adm recover-cluster may show the error msg even though the recovery actually got succeeded"
As described on the latter part of https://github.com/leo-project/leofs/issues/1142#issuecomment-442350260, leofs-adm recover-cluster may show the error msg even though the recovery actually got succeeded so it should be documented on FAQ in our official docs.

[2018-11-30 05:52] mocchira opened #1171 "[docs] Add a FAQ - How to count the number of files in a specific bucket"
As I answered in https://github.com/leo-project/leofs/issues/1142#issuecomment-442707443, using the file generated by leofs-adm diagnose-start would be most efficient to count the number of files in a specific bucket. Other ways like using "s3cmd ls" or something similar with aws-sdk would be very inefficient and take much longer time so we have to recommend the way using leofs-adm diagnose-start

[2018-12-01 14:47] yosukehara commented on #1153
### Precondition

The current implementation of updating a `Cluster Member` table is done in LeoManager, then LeoManager distributes it to LeoStorage nodes *(this procedure is without exception)*. Therefore, since LeoManager's the records of `Cluster Member` table is master. If there is inconsistent records in the table of LeoStorage and LeoGateway, LeoFS delivers fixing inconsistent records under

[2018-12-01 14:48] yosukehara commented on #1080
related to https://github.com/leo-project/leofs/issues/1153#issuecomment-443431349

[2018-12-03 02:38] NewDund commented on #1142
Here, I execute `leofs-adm mq-stats` at each storage node in the local/remote cluster, all of which have the following information
[code]
But when I executed `leofs-adm du` on each storage node of the local/remote cluster, I found that there were 8662522 active objects in the local cluster, while only 2164525 active objects in the remote cluster (number of single replicas)
I think `leofs-adm recov

[2018-12-04 00:23] mocchira commented on #1142
@NewDund Since active objects include deleted objects and also ephemeral objects (which can be generated in multipart upload operations), those objects won't be sent to the remote cluster so there can be differences between two clusters if your S3 clients can issue DELETE requests (and/or) multipart upload requests.

I'd like to document about the above thing on FAQ in our official docs.

[2018-12-04 00:36] mocchira opened #1172 "[docs] Add a FAQ - Why is the number of active objects on local/remote cluster different"
As described on https://github.com/leo-project/leofs/issues/1142#issuecomment-443922051, deleted objects and ephemeral objects (only exist during processing multipart upload requests) won't be sent to the remote cluster so there can be differences.

[2018-12-04 01:56] NewDund commented on #1142
No, no, no, I don't think you understand what I mean. The point I'm going to focus on is that leofs-adm recovery-cluster doesn't seem to work.

I did what you said and found that the MSG of the option **leo_comp_meta_with_dc_queue** was 0 (but the cluster did not recover)

[2018-12-04 02:04] mocchira commented on #1142
Oh, got it.
How about "leo_sync_obj_with_dc_queue" ? which also keep showing zero while recover-cluster is ongoing?

[2018-12-04 02:09] NewDund commented on #1142
Regarding "leo_sync_obj_with_dc_queue", there will be one or two storage nodes in the local cluster whose MSG value is 3-5 and the state is running, while the remote cluster is all 0.

[2018-12-04 02:31] mocchira commented on #1142
OK. then it seems to keep working now. (I'm sorry I misunderstood the difference between leo_comp_meta_with_dc_queue and leo_sync_obj_with_dc_queue. The latter should describe the progress of recover-cluster)

[2018-12-04 02:38] NewDund commented on #1142
Okay, then, with the bandwidth constraints of 50Mbps between local and remote clusters, how long does it take for 5T data to synchronize between local and remote clusters?
I don't know the MDCR synchronization rate of leofs. If you can, please give me a rough calculation. I need to know the approximate time for complete recovery.

Thank you very much for your long help.

[2018-12-04 06:34] mocchira commented on #1142
@NewDund I'd like to describe a **rough** calculation below.

### Prerequsites
- the bottleneck is network bandwidth between local and remote clusters (don't take other factors like CPU/disk I/O into account here)
- metadata size = 200 bytes
- total protocol overhead (ethernet/ip/tcp/leo_rpc) = 10% (10% traffic will be consumed by each protocol header)
- The remote cluster doesn't have any files y

[2018-12-04 06:41] mocchira commented on #1142
Notes: if 5TB includes replicas then it will take around 10 days.

[2018-12-05 02:13] NewDund commented on #1142
@mocchira
Today, I found that my remote cluster node has the following error, and will return 502 for client access. What's the reason?
`[E]	gateway_11@10.16.2.249	2018-12-05 10:11:47.946138 +0800	1543975907	null:null	0	Bad value on output port 'tcp_inet'`

[2018-12-05 04:53] mocchira commented on #1142
@NewDund

AFAIK, I saw this error due to

- https://github.com/leo-project/leofs/issues/641
- https://github.com/leo-project/leofs/issues/1120

Oh, Since the latter one is still no released (already fixed but still not released yet), you may face the latter one. if so then please check the below comment out

- https://github.com/leo-project/leofs/issues/1120#issuecomment-421257305

this error only

[2018-12-05 06:39] NewDund commented on #1142
Well, do you know when v1.4.3 will be released to fix this problem?

[2018-12-05 07:28] mocchira commented on #1142
@NewDund We are discussing now when we release 1.4.3. Since almost all critical bug fixes are done now, probably we will make a decision releasing 1.4.3 within one week or so. Once it's decided, I'd like to let you know here.

[2018-12-07 00:40] mocchira commented on #1142
@NewDund If everything goes well then we will release 1.4.3 on next week.

[2018-12-07 04:46] NewDund commented on #1142
@mocchira
Thanks.
First, does version 1.4.3 solve the problem of leofs_adm recovery-cluster returning to OK immediately and then asynchronously processing?
Then, I still don't know how to ensure that recovery-node has been successfully executed and all done.
And how recovery-cluster is complete (because the local cluster is still updating new data, so I don't think that just looking at "leo_sync_o

[2018-12-11 00:49] mocchira commented on #1142
@NewDund

Yes.

And how recovery-cluster is complete (because the local cluster is still updating new data, so I don't think that just looking at "leo_sync_obj_with_dc_queue" can solve the problem intuitively)

Unfortunately there is still no complete solutions for this. we may have to implement "leofs-adm delete-bucket-stats" like solution for recover-cluster to show the actual progress of recove

[2018-12-12 07:00] mocchira opened #1173 "[docs] Add a FAQ on How can I know when recover-cluster finished"
As described on https://github.com/leo-project/leofs/issues/1142#issuecomment-446030966, there is no complete solution with the current latest (1.4.2) so that the workaround described on that issue comment should be added into the official document as a FAQ until the feature which enables users to know when recover-cluster finished will be introduced in.

[2018-12-12 07:09] mocchira opened #1174 "[proposal][leo_manager][leo_storage] Add leofs-adm recover-cluster-stats"
As reported on https://github.com/leo-project/leofs/issues/1142#issuecomment-445121586 from our user, we don't have a feature which enables users to know when recover-cluster finishes so they would have to rely on the workaround I described here: https://github.com/leo-project/leofs/issues/1142#issuecomment-446030966 for now. It might be great to have the feature to realize this requirement as we

[2018-12-17 07:23] NewDund commented on #1142
@mocchira
HI, Is 1.4.3 complete?

And, You didn't describe the `recover-node` recovery process to me.

For example, I'm doing disk expansion. When I run `recover-node`, how can I make sure that it's restored and that I can expand the next node?

[2018-12-19 10:39] NewDund opened #1175 "Storage node overloads and returns 504, Very urgent !!!"
@mocchira
My cluster has been functioning normally, but today there is a weird situation.
Between 17:58-18:18, my storage node was loaded very heavily, and my request returned a lot of 504. When I ran'leofs-adm mq-stats storage-node', I found'leo_sync_obj_with_dc_queue'became very high, but I didn't do anything today. I don't know why?
Here are my crash. log and error logs.

crash.log
[code]

erro

[2018-12-20 00:45] mocchira commented on #1142
@NewDund Sorry for the long delay.

Unfortunately still not complete yet. now we are doing our best to release it this week.

(As you may know) As for the procedure to expand disk space, please refer to Scale up (Add an additional disk volume on LeoStorage) at https://leo-project.net/leofs/docs/admin/system_operations/data/#use-cases

As for the confirmation whether the recover-node is finished, s

[2018-12-20 02:30] NewDund commented on #1142
@mocchira
OK, get it.
If the new version is released, please let me know. I will also pay close attention to the official website news in real time.
Then I submitted a new issue. It's urgent for me. I hope it can be solved as soon as possible.
Thanks.

[2018-12-20 04:50] mocchira commented on #1175
@NewDund The error **enotconn** we can see in crash.log will happen in case the connection is NOT established (for TCP connection) so I guess some network trouble happened around that time and some connections were forcefully closed by network switches placed between LeoGateway and LeoStorage. So I'd recommend you contact your infra team (OR if your run LeoFS on some public cloud then contact the

[2018-12-20 04:53] mocchira commented on #1175
And also any system metrics related to network would be helpful if your system gather those information regularly.

[2018-12-20 05:04] NewDund commented on #1175
@mocchira
This is part of the error log of the storage node I intercepted, and you can see if it's helpful.
[code]

[2018-12-20 05:17] NewDund commented on #1175
@mocchira
Here is my traffic limit order by tc.
`/usr/sbin/tc qdisc add dev eno16777984 root tbf rate 150Mbit latency 60ms burst 15000`
This restriction is a safe amount for my intranet communications. But I don't know how large the leofs can be used. Can you give me some advice?

[2018-12-20 07:01] mocchira commented on #1175
@NewDund I can see many error lines including the word **sending_data_to_remote**. So let me confirm that under a normal circumstance, does this error line appear with such a high frequency rate? Since **sending_data_to_remote** means that "LeoStorage is trying to do MDCR with remote clusters so now it's impossible to take another replication tasks, try again after a certain period of time", MDCR

[2018-12-20 07:23] NewDund commented on #1175
@mocchira
You mean that both my local and remote cluster bandwidth restrictions should be increased, right?

[2018-12-20 07:35] NewDund commented on #1175
@mocchira
I checked it according to your prompt and found that there might be network fluctuation between our local cluster and remote cluster at that time. (Of course, I'm not entirely sure)

The main point I want to say is that local clusters and remote clusters should theoretically be independent of each other, and nothing happens to one cluster should affect the other. That is to say, even if

[2018-12-20 09:07] mocchira commented on #1175
@NewDund

Got it then probably the cause would be network related things.

Right. The current retry mechanism we are using at any asynchronous tasks including MDCR isn't optimized sufficiently (There are rooms for improvements) so we are going to improve it in the future release.

[2018-12-20 09:16] NewDund commented on #1175
Well, anyway. It is hoped that the related issues will be seen in the description of future version updates.

[2018-12-20 10:38] mocchira commented on #1175
Yes we will. At first, I will file the issue related MDCR to deal with the situation in which the network bandwidth between both clusters is unstable.

[2018-12-20 10:41] mocchira commented on #1175
@NewDund also I will share the recommended configuration which might contribute to make this kind of incident less likely to happen compared to the default settings. Please wait for a while.

[2018-12-20 10:52] mocchira commented on #1175
@NewDund The setting **mdc_replication.size_of_stacked_objs** in leo_storage.conf explained on https://leo-project.net/leofs/docs/admin/settings/leo_storage/ would be to control how much amount of data is transferred to the remote cluster at once. The default is around 32MB. that said, this number probably would be too large for your environment (capped 150Mbit) so I'd recommend you lower this set

[2018-12-20 11:13] NewDund commented on #1175
Okay, thank you, but we're going to stop MDCR first, and then use self-written programs to manually synchronize the two clusters.

Then if the official has a more perfect solution, we will test it again.

[2018-12-20 11:54] varuntanwar commented on #1156
I ran out of space on the cluster so I have started the compaction on one of the node, cluster is up (read/writes are going). I hope compaction wouldn't affect data and writes.

My concern is:
This node is having 175GB of data and ratio of active size is 71%. I have started the compaction with default settings:
Num. of Targets: 8
Num of Comp Proc: 1

So it is happening very slowly. ( ~0.01% in 20

[2018-12-21 00:25] mocchira commented on #1175
@NewDund

OK. little bit sad for us but your service stability should be the matter prior to anything else.

Thanks! I'm sure we will be able to improve the MDCR stablity thanks to your feedback so once we are confident to meet your requirements, we'll get back to you.

[2018-12-21 01:30] mocchira commented on #1156
@varuntanwar

Good question. The answer is yes.
Since the compaction status (idle/running/suspending/resuming) is stored on memory, once you restart LeoStorage while it's suspending, the compaction will be stopped.

Yes you can and also there should be no impact on any data.
One thing you would have to care is
- the compaction generate a new file (more precisely, it scans the existing file and cop

[2018-12-21 05:31] mocchira opened #1176 "[MDCR] Unstable network between local/remote clusters may affect the operations on the local cluster"
Reported on https://github.com/leo-project/leofs/issues/1175.
We may have to consider improving internal queue mechanism and also retry mechanism to solve this problem.

[2018-12-21 05:42] mocchira opened #1177 "[docs] Tuning guide for the MDCR setting according to the network bandwidth between local/remote clusters"
As I commented on https://github.com/leo-project/leofs/issues/1175#issuecomment-448955403, the default mdc_replication.size_of_stacked_objs can be too large for env with narrow bandwidth between local/remote clusters so that can result in filling the queue leo_sync_obj_with_dc_queue up and making LeoStorage under high load. I think we have to provide some tuning guide to set an appropriate number

[2018-12-21 05:56] mocchira opened #1178 "[docs] Add a procedure on how to stop (cancel) the compaction"
As reported on https://github.com/leo-project/leofs/issues/1156#issuecomment-448973341, there are some users who can't find any information on how to stop/cancel the compaction because what compaction operations we provide through leofs-adm are

- compact start
- compact suspend
- compact resume
- compact status

so there is no stop/cancel commands.

Unfortunately actually we haven't implemented s

[2018-12-22 12:16] varuntanwar commented on #1156
After adding a new node and executed the rebalancing command, how can I check that data transfer is completed (how to check the status that data is transferred successfully).
I have 1TB of data in the cluster.

As, I have to add another node. I want to make sure that data is successfully transferred.
Or can I add the remove/add another node as rebalancing is done successfully will it impact the da

[2018-12-22 12:18] varuntanwar commented on #1156
After adding a new node, executed the rebalancing command, how can I check that data transfer is completed (how to check that how much time it will take to redistribute the data).
I have 1TB of data in the cluster.

As, I have to add another node. I want to make sure that data is successfully transferred.
Or can I add the remove/add another node as rebalancing is done successfully will it impact t

[2018-12-22 18:25] varuntanwar commented on #1156
I added the node to the cluster. As you suggested, I added the node with 500G drive (vnode = 420)
But on this node, it has been more than 8 hours, this node got only 70G of data. Other nodes still have around 170-180G data (these nodes have 200G drive).

I checked the mq status of each nodes:

First nodes:

[code]

Second Node:
[code]

Third Node:
[code]

Fourth . Node:
[code]

Fifth Node:
[code]

[2018-12-22 18:57] varuntanwar commented on #1156
I also see difference in ring hash number:

[code]

I checked the issue [1078](https://github.com/leo-project/leofs/issues/1078).
Should I follow same steps to resolve this? But that is for resolving ring for Manager nodes, what should I do for storage node?

[2018-12-23 03:41] varuntanwar commented on #1156
I also see difference in ring hash number:

[code]

I checked the issue [1078](https://github.com/leo-project/leofs/issues/1078).
Should I follow same steps to resolve this? But that is for resolving ring for Manager nodes, what should I do for storage node?

[2018-12-25 00:52] mocchira commented on #1156
@varuntanwar Sorry for the late reply.

Now I don't know what the current status of your cluster is, so I'd like to answer the each question.

As you may already get to know, leofs-adm mq-stats would tell you the progress. In case of rebalance, you can see the progress at leo_per_object_queue and leo_rebalance_queue. After starting the rebalance, both will start to increase. Once both get close to

[2018-12-25 06:10] varuntanwar commented on #1156
How much disk should be available  to ensure that rebalancing does not stuck and we dont get 500 while uploading the files as space was still available? Before I started the rebalancing, I had 5 nodes with 200G drive. Out of which 2 had 24-25G space and remaining 3 had 10-12G space available. Total space I had : 70-80G. But the disk with 10-12G started returning 500s.

[code]

For a moment it show

[2018-12-25 06:57] varuntanwar commented on #1156
This time, we added only 1 node and ran the rebalance.
We lost around 12k file. As you suggested last time, we can do the "leofs-adm diagnose-start" but it will run compaction in the background which I dont want [running comapaction], as I dont know how it will impact as rebalancing is still going.

[2018-12-25 07:30] mocchira commented on #1156
@varuntanwar

LeoFS starts to respond 500 to clients once there is not enough disk space to execute compaction safely as described on https://github.com/leo-project/leofs/issues/592. So the free space not returning 500 depends on the most largest AVS file (files suffixed by **.avs** are used to store objects inside LeoFS) on the server. That being said, the most largest AVS file size on your serve

[2018-12-25 08:19] varuntanwar commented on #1156
Output of Mem_cur.dump
On storage_101@prd-leofs101:
[code]

On storage_104@prd-leofs104:

[code]

Should I share other files also?

[2018-12-25 08:32] mocchira commented on #1156
Yes please share all dumped files. (as some of them tend to be relatively large, it would be good to attach files by dragging and dropping files rather than copying and pasting the file contents.

[2018-12-25 11:24] varuntanwar commented on #1156
Storage101 -> unhealthy node
storage104 -> healthy node

[storage101_dump.tar.zip](https://github.com/leo-project/leofs/files/2708695/storage101_dump.tar.zip)
[storage104_dump.tar.zip](https://github.com/leo-project/leofs/files/2708696/storage104_dump.tar.zip)

[2018-12-26 00:04] mocchira commented on #1156
@varuntanwar Thanks. the big difference between 101 and 104 is

[code]

This means that 101 recognizes 106 storage node running on port 13077 while 104 recognizes 106 running on port 13075. Since a different port number can make a different ring hash, this is the reason why 101 ring hash is broken.

Let me confirm that

- which port number is correct? (On prd-leofs106 which port number is opened b

[2018-12-26 08:16] mocchira opened #1179 "[leo_storage] Avoid write operations at more earlier timing than #592 do"
This issue is a follow up for https://github.com/leo-project/leofs/issues/592.

As reported on https://github.com/leo-project/leofs/issues/1156#issuecomment-448973341, #592 worked as we intended and succeeded in avoiding that the disk full happens however it turned out that the compaction on LeoStorage which available disk space is really small took so much time as the less available disk space th

[2018-12-27 12:49] varuntanwar commented on #1156
`tcp        0      0 0.0.0.0:13077           0.0.0.0:*               LISTEN      30155/beam.smp`

No always used the default configs

[code]

Manager is also having wrong port number.

Right now, rebalancing is under process. We found out that few of the files(around 1k) are in deleted state when we execute whereis command. Is there any way to get those files by removing the delete marker from tho

[2018-12-28 00:32] mocchira commented on #1156
@varuntanwar Thanks for the reply.

Got it.

Hmm. so there are no port configurations set to 13075 across you cluster, right? then it seems to be a symptom something has been broken so I'm going to investigate around it and confirm whether or not this wrong port number can affect the system. Once I find out something, I'll get back to you.

Does it mean you don't understand how to use diagnose-sta

[2018-12-28 06:04] varuntanwar commented on #1156
I checked that comment. I understood the process. Thing is, I have to do this for each file (as of now it is more than 1K).
Is there anything what will remove the delete marker of the file so that I dont have to go to each node to get file manually.( I know that Leofs does not support versioning ).
And most of the files are more than 5MB. Please tell the steps to recover these files.

This is afte

[2018-12-28 07:02] mocchira commented on #1156
@varuntanwar

Then unfortunately the answer is No.

As mentioned on the prev comment, the only way to recover these files is to issue diagnose-start and retrieve the content from AVS by hand (or some tool to do the same thing I described at that comment)

I'm still not sure about it because there are three wired things I can't still figure out.

- RING hash broken due to the wrong port
- the port

[2018-12-28 07:13] mocchira commented on #1156
oh I forgot the last step to recover a large file.

Lastly you would have to PUT the recovered file through some s3 client.

[2018-12-28 07:32] mocchira commented on #1156
and one thing I forgot to answer your question.

Still not sure however AFAIK, As long as the ring information is correct (I confirmed this is correct on your system) across the cluster, read/write operations should work without any trouble.

[2018-12-28 07:52] varuntanwar commented on #1156
You mentioned that to recover the files:

But I dont have the size of the files, some of the files were uploaded 6 months back.

[2018-12-28 10:26] varuntanwar commented on #1156
I was trying the recover process but facing issues:

I uploaded a file in the stage cluster and deleted it.

`-rw------- 1 root root 61 Dec 28 13:19 ipp2.txt`

After running the diagnose command, got following values:

- the name of dumped file (eg. leo_object_storage_0.20181113.14.2)
- the offset found in the dumped file
- the size found in the dumped file

[code]
What should be the correct offse

[2018-12-28 11:05] mocchira commented on #1156
@varuntanwar Thanks for trying diagnose out.

Regarding offset, Sorry I told you a wrong information what offset actually means so let me explain the proper offset meaning here.

From an offset, there is not only a content itself but also some associated metadata stored around it so that's why you failed to retrieve a content.

The start offset of a content can be calculated in
[code]

So in your

[2018-12-28 11:26] varuntanwar commented on #1156
After running following command I can get the data:

[code]
I have following question:

- What should be the correct offset value? 757481395 or 757480977. Once I deleted the file, offset value is different.
- How to calculate the key size of a file? Will calculation part be different for those files which are more than 5MB?
- How to calculate count value in dd command? I gave 60 because file size

[2018-12-28 11:50] mocchira commented on #1156
In this case, 757480977 is correct. 757481395 is a pointer for the delete flag generated at deleting the file so there is no content.

That being said, the operation order is important. Let's say

1. PUT an object at Offset1
2. DELETE the object at Offset2
3. PUT an object (the same name with 1) at Offset3

then you can see the same file name three times but what you want is Offset3 here.

Keysize

[2018-12-31 06:07] varuntanwar commented on #1156
My file size is
`-rw------- 1 root root 61 Dec 28 13:19 ipp2.txt`

But to recover the file, I have to use count value is 87.
[code]

But according to file the count should be 60.

[2019-01-09 15:27] NewDund commented on #1175
@mocchira
My cluster has almost encountered a thorny problem. My LB has returned a lot of 503 and 504. My LB and network management nodes have set very large timeouts.

Let's take a look at my log.

The following is the result returned by my leofs mq-stats:

[code]

And these are the error logs of my network management node:

[code]

Finally, the error log of my storage node:

[code]

[2019-01-09 15:28] NewDund commented on #1175
@mocchira
This is my production environment. Please reply as soon as possible. Thank you very much.

[2019-01-10 08:20] NewDund commented on #1175
@mocchira
Moreover, I found that occasionally mistake 500 appear, which I have not seen before. Can you help me analyze why 500 appears?

[2019-01-11 02:37] NewDund commented on #1175
@mocchira
Also, I found a very strange problem.

One of my PUT requests, haproxy returned me 200, but my leo_gateway did not receive this PUT request. Is this possible?

If possible, how can I judge whether PUT is successful?

[2019-01-14 23:38] mocchira commented on #1156
@varuntanwar Sorry for the long delay. I can spare time to look into this tonight.

[2019-01-14 23:39] mocchira commented on #1175
@NewDund Sorry for the long delay. I can spare time to look into this tonight.

[2019-01-21 12:19] varuntanwar commented on #1156
Hey,

We are facing issues in accessing the files. I can see that file is present.

[code]

When I tried to get the file via s3cmd:
[code]

This is in the gateway logs:
[code]

[2019-03-04 13:14] mrPsycho opened #1180 "LeoFS - what is it best for?"
Hello,

its hard to understand, what it suits.
for example, i see NFS support... but cant find on site - how it is did?

for example - is it possible to use LeoFS for hosting git repositories?
Idea is deploy git server on AWS Fargate... but, there is problem with persistent data... and one of solutions - using ec2 and docker in it. Where it is possible to mount NFS.

So, main question: Is it possi

[2019-03-06 23:17] sychan commented on #507
I looked on Dockerhub and was not able to find anything that looks like a current build of the LeoFS services. I see mocchira/leofs_deploy image, and mocchira is a committer to LeoFS. But it is 3 years old.

Docker images are the default way for people to test out new services these days, and for most modern shops, that is how software deployments are handled. I would like to try out LeoFS as an S

[2019-03-07 01:10] yosukehara commented on #507
We publish [the all-in-one LeoFS image on Docker hub](https://hub.docker.com/r/leoproject/leofs-all-in-one). You can try to use it. Furthermore, we have been [testing LeoFS w/it on CircleCI](https://github.com/leo-project/leofs/blob/v1/.circleci/config.yml#L25-L38) after modifying the code.

[2019-03-07 01:27] yosukehara commented on #1180
We provide NFS v3 on LeoGateway of LeoFS as a complement to S3-API and Rest-API. Read [FAQ: LeoFS Limits / NFS Support](https://leo-project.net/leofs/docs/faq/limits/#nfs-support) and consider where/how to use its protocol.

[2019-03-11 22:35] sychan commented on #507
@yosukehara Thank you for pointing that out. It looks like the image you use for integration testing. Is it really built and documented as an image for someone who wants to test out LeoFS?

The getting started guide doesn't mention it at all, and the entrypoint does not seem to be structured at all for accepting configuration via environment variables and then starting all the required services.

[2019-03-12 05:29] yosukehara commented on #507
In addition, this Docker image is for integration tests. Therefore, this issue is not closed yet.

[2019-03-17 19:52] mrPsycho commented on #1180
i see, thanks... re-read it several times, and understood... thanks!

[2019-03-17 19:52] #1180 closed, assigned to yosukehara

[2019-03-28 09:33] nullne opened #1182 "cannot stat object metadata?"
i cannot stat object metadata by:
[code]

or (from minio client)
[code]

everything works fine for me now except this.  i wonder whether there is no such function or i don't find it.
Thanks in advance

[2019-04-02 09:20] yosukehara commented on #1182
I've just checked the latest LeoFS, v1.4.3 whether reproduce your issue. This issue was not reproducible. Works for me. If possible, would you share your LeoFS' configuration?

[code]

[2019-04-02 09:25] yosukehara commented on #1182
LeoGateway's settings for the test is as below:

[code]

[2019-04-02 10:03] nullne commented on #1182
can you stat this file `s3://test/leo_commons/make_rst_doc.sh` for example?  i can use the `ls` to list files under one directory but cannot stat one file

[2019-04-03 02:31] yosukehara commented on #1182
I got the point. I've read [s3cmd usage](https://s3tools.org/usage) again, then recognized we don't implement retrieving the state of one object because its command returns `List objects or buckets`. We will consider that implement a function of **"retrieving the state of one object"**. Thanks.

### [s3cmd usage](https://s3tools.org/usage) (Excerpt):

[code]

### Operation Log:

[code]

[2019-04-03 07:11] nullne commented on #1182
We use `HEAD` operation a lot to fetch object metadata
FYI: [S3 HEAD Operation](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectHEAD.html)

[2019-04-03 07:26] yosukehara commented on #1182
I would like to fix previous my comment.

- Error: We will consider that implement a function of "retrieving the state of one object".
- Correct: We will consider that implement a function of "retrieving the state of one object  for s3cmd’s ls command”. LeoFS already supports `HEAD`.

[2019-04-04 02:17] yosukehara commented on #1182
You can execute `HEAD` by `s3cmd info` as below:

[code]

[2019-04-04 03:02] yosukehara commented on #1182
I would like to share another tip. You can easily check the state of an object with Curl:

1. To allow requests of curl command _(HEAD OR GET)_, need to execute `leofs-adm update-acl` command:

[code]

2. Request `HEAD` command with Curl:

[code]

[2019-04-14 14:20] yosukehara commented on #1182
This issue will be closed.

[2019-04-14 14:20] #1182 closed, assigned to yosukehara

[2019-04-16 22:11] zicklag opened #1183 "[Question] Suitability for clustered production filesystem"
Hi, I was evaluating LeoFS and was wondering whether or not you would suggest it to back production applications as a generic filesystem using the NFS api. I'm trying to find a clustered, highly available filesystem that I can integrate with my Docker Swarm cluster to provide Docker volumes. The volumes will be used for anything from website attachment storage to MySQL/Postgres/etc. database stora

[2019-04-17 00:43] mocchira commented on #1183
Unfortunately It's a known limitation (still not implemented yet and there is no plan to do so for now).

Since LeoFS don't have built-in fail-over feature for NFS mount, you would have to build something fail-over architecture out of LeoFS(ex. monitoring whether or not a mount point works and fail-over(mount) to another healthy gateway once the monitoring detect a certain time failure)

[2019-04-17 02:23] zicklag commented on #1183
OK, thanks, that helps. :slightly_smiling_face: :+1:

[2019-04-17 02:23] #1183 closed, assigned to nobody

[2019-05-10 13:33] asphytotalxtc opened #1184 "[Question] Debian support"
Hi Guys,

We're about to go production with our LeoFS cluster however our standard deployment environments are based on Debian 9. I see you guys only provide packages for Centos/Ubuntu, and we've successfully installed the Ubuntu deb without issues, but I wanted to ask if doing this could result in any future issues relates to OS updates etc?

Do you guys do any testing against Debian at all? I se

[2019-05-10 21:32] mocchira commented on #1184
Unfortunately we haven't deployed LeoFS with Debian on our production environments, however I've heard some community users were using LeoFS on debian and AFAIK I haven't heard any trouble from them.

Only one thing I found going through our documentation is
https://leo-project.net/leofs/docs/faq/administration/#why-doesnt-leofs-adm-respond-to-a-command-like-leofs-adm-status

This issue was report

[2019-05-14 07:28] asphytotalxtc commented on #1184
Ah thanks for the info @mocchira! Very helpful, we'll take those thoughts on board and make a decision :)

[2019-05-14 07:28] #1184 closed, assigned to nobody

[2019-05-20 12:15] tnatanael opened #1185 "Cant delete large file"
Hy guys, i created a simple cluster, with 2 storages, and after uploading a file with 1Gb and running the cluster for 1 week, i am not able to delete this file, the delete operation runs with success but the file persists...

What i tried:
recover-node
recover-disk
recover-consistency

I wonder that when i put the cluster in the production env, with so many files this would be a very annoying bug,

[2019-05-21 07:04] mocchira commented on #1185
@tnatanael What you'd have to do for deleting file physically is "compaction-start" as described here: http://leo-project.net/leofs/docs/admin/system_operations/data/#how-to-operate-data-compaction

please check the doc above out for more details.

[2019-05-21 11:19] tnatanael commented on #1185
Tried with leofs-adm compact-start, it says OK, but the file persists, even after waiting the process to finish

[2019-05-21 11:27] yosukehara commented on #1185
Let us know your LeoFS' error log and the state of the large object:

- The error log is output under LeoStorage's log directory
- To understand the current state of the object,  execute `leofs-adm whereis <OBJECT_NAME>` command

[2019-05-21 11:39] tnatanael commented on #1185
How can i discover the object name? Is it the filename of the original file?

[2019-05-21 11:42] tnatanael commented on #1185
![image](https://user-images.githubusercontent.com/11818318/58093186-5efcf580-7ba4-11e9-8761-34d0367e85fe.png)

[2019-05-21 11:43] tnatanael commented on #1185
when i run compact and when i try to delete the file using s3 api this error message pops on log

[2019-05-21 11:43] yosukehara commented on #1185
Exactly, [leofs-adm whereis `<file-path>`](http://leo-project.net/leofs/docs/admin/index_of_commands/)

[2019-05-21 11:45] tnatanael commented on #1185
I tried with only filename...
leofs-adm whereis 1000mb_1

And bucket + filename
leofs-adm whereis teste-thiago/1000mb_1

The 2 options says
[ERROR] Could not get ring

[2019-05-21 11:47] tnatanael commented on #1185
I am 100% sure that the file was corrupt due to disk failures, but it may need to be cleared by the manual delete or auto by the cluster in some way

[2019-05-21 11:50] yosukehara commented on #1185
I've understood that your LeoFS' RING (routing table) is broken. So let me know the current state of the system. Can you share the result of `leofs-adm status` and the operation histories to this day?

[2019-05-21 11:52] tnatanael commented on #1185
Sure!!!
![image](https://user-images.githubusercontent.com/11818318/58093770-97e99a00-7ba5-11e9-9b4c-add6d70c1b75.png)

It is a test cluster, i am simulating a disk failure we experienced in production

How can i get the operations history?

[2019-05-21 11:54] yosukehara commented on #1185
`$ history | gpre leofs-adm`

[2019-05-21 11:56] tnatanael commented on #1185
![image](https://user-images.githubusercontent.com/11818318/58094142-53123300-7ba6-11e9-81c0-631417f8c39f.png)

Do you want a team viewer session?

[2019-05-21 11:59] yosukehara commented on #1185
I've just clearly understood that LeoManager's RING is broken.
I'm going to consider how to recover the system.

[2019-05-21 12:01] tnatanael commented on #1185
Ok... only to state, the cluster is still working, i am uploading and removing new files right now... only this file is undeletable...

[2019-05-21 12:03] yosukehara commented on #1185
TO: @mocchira your opinion will be much appreciated.

[2019-05-22 12:21] tnatanael commented on #1185
Hy guys! Can this ticket be labelled as a bug instead of question?

[2019-05-22 12:24] tnatanael opened #1186 "Question: How LeoFS communicate between storage nodes?"
I have seen other distributed file projects that uses Http API to communicate between nodes, i am trying to understand what is the strategy LeoFS uses to replicate the files between storage nodes? Is there a persistent network connection and specific data transmission protocol? Or it uses HTTP requests to replicate the data?

[2019-05-22 12:42] yosukehara commented on #1185
Please do the following if you understand that we may NOT be able to restore your system completely.
I considered how to recover your LeoManager’s RING as below:

### Procedure:

1. Stop the all nodes of LeoStorage, LeoGateway, and LeoManager
2. **Backup all files of LeoManager nodes** _(Archive LeoManager‘s directory)_
3. **After data backup of LeoManager nodes,** Remove  [Mnesia files under mnes

[2019-05-22 12:46] yosukehara commented on #1186
We’ve been publishing LeoFS’ documentation, which includes [LeoFS Documentation / LeoFS’ Architecture](https://leo-project.net/leofs/docs/architecture/README/).

[2019-05-22 12:52] tnatanael commented on #1186
Really thanks for your quick reply, i see in the docs that inter node communication uses Erlang EPC module, is it true for the "files data" transmission part also?

[2019-05-22 13:00] yosukehara commented on #1186
Exactly

[2019-05-22 13:01] tnatanael commented on #1186
Thanks man!

[2019-05-22 13:01] #1186 closed, assigned to nobody

[2019-05-23 01:34] yosukehara commented on #1185
I'd like to share an example of the procedure of recovering LeoManager's RING as below.

# [Example] How To Recover LeoManager's RING
## Before recovery:

[code]

## The Procedure of Recovering LeoManager's RING
### 1. Stop the all nodes

[code]

### 2. Archive LeoManager's directories

[code]

### 3. Remove the LeoManager's data directories

[code]

### 4. Restart the all nodes except LeoGateway'

[2019-05-23 01:54] tnatanael commented on #1185
I'll try this tomorrow and return, but i am wondering why this happens? It appear to be an expected behaviour? Thanks for now!

[2019-05-24 11:54] tnatanael commented on #1185
Sorry for delay... it worked... after that procedure i was able to delete the file...
Thanks!

[2019-05-24 11:54] #1185 closed, assigned to nobody

[2019-06-27 16:09] icez opened #1187 "[leo_gateway] 'Content-Range' not response properly when client request range larger than object size"
I'm setting up nginx caching in front of Leofs-Gateway and using the slice cache to cache large object. But then I found that the gateway response header contain incorrect Content-Length header. Here's an example:

File: object.bin
ObjectSize: 2481708

Client request:

Leofs Response

Expected Response

It seems like LeoFS doesn't change the Range header parameter and thus response with the client

[2019-06-28 04:24] yosukehara commented on #1187
Understood, I'll fix this issue soon. Thank you for sharing.

[2019-07-09 09:08] w1nns opened #1188 "Automatic duplication of files to alive servers"
Hello!
I deployed a cluster of leofs in docker. Master Manager, Slave Manager, three storages and gateway. Replication is configured to two storages.
I can't understand if there is a mechanism for auto-duplicating a file to third alive storage, if one of the two storages that contains the file fell.

I found the command `leofs-adm recover-file`, but error is displayed:

Error logs are empty.

Rega

[2019-07-10 01:20] yosukehara commented on #1188
Let me know your LeoManager's configuration file which is `leo_manager_0/etc/leo_manager.conf` and the result of `$ leofs-adm status` to solve the problem.

[2019-07-10 05:08] mocchira commented on #1188
@Kirsun25 If I understand your question correctly, there are no mechanisms for **auto-duplicating a file to third alive storage** (I think this is the feature called **Hinted Hand Off**) on the current latest LeoFS.
so recover-file never works without bringing the failed node back to the cluster.

As we noted on https://github.com/leo-project/leofs#version-2, **Hinted Hand Off** (The feature you'd

[2019-07-10 09:38] w1nns commented on #1188
Thank you for the quick reply!

[code]

[code]

[code]

Perhaps I incorrectly formulated my question. Actually, I'm interested in the recovery mechanism.
As I said above, there are three repositories. Two of them contain a file. One of the storages, which contain the file fell and suppose it does not recover. How can I recover the number of duplicates(to two) of a file on servers?

[2019-07-16 00:14] yosukehara commented on #1188
Sorry for the late reply. Read the following LeoFS' documentation - [Cluster Settings / Consistency Level](https://leo-project.net/leofs/docs/admin/settings/cluster/#consistency-level).
The document seems to contain what you want to know.

[2019-07-22 08:15] pybt opened #1189 "Initiate multipart upload key contain "&" response with malformed xml"
Put file with s3cmd that will trigger multipart upload.

[code]

**Leofs response**

[code]

**Expected response**

[code]

This problem also occur in Complete multipart upload.

[2019-07-24 00:39] yosukehara commented on #1189
Thank you for sharing this issue. I'll check it then fix it.

[2019-07-25 06:02] akezakky555 commented on #1185
@yosukehara  I tried to do follow your instructions but I found some problem.   After I restart all leofs service. All User and Buckets are disappear.

**After Remove mnesia folder**
![leofs02](https://user-images.githubusercontent.com/28082459/61849623-1cc19e80-aedc-11e9-857b-e061d2b0ca95.PNG)

So I recovery  mnesia  folder at leo_manager Everything is back. but RING is broken again.
![leofs01](h

[2019-07-30 11:15] sandervesik opened #1190 "Storage compaction fails with garbage_too_long"
LeoFS storage compaction fails and no space is freed up. The data files are over 1 TB but contain around 45G of actual data. Is there anything that can be done or should the cluster be redeployed one node at a time to recover? Also, could you please document the maximum amount of garbage that compaction can handle?

From the info log :

[I]     storage_2@leofs-03.infraci.ptec 2019-07-30 10:37:23.7

[2019-08-03 10:25] yosukehara commented on #1190
I've checked your LeoFS' data-compaction situation. `garbage_too_long` means an [AVS file](http://leo-project.net/leofs/docs/architecture/leo_storage/#data-structure) of your LeoFS' is that part of the file is corrupted. Also, which means that there is a 10 MB or more file corruption. [The default value of `force quit in bytes`](https://github.com/leo-project/leo_object_storage/blob/v1/include/leo

[2019-08-10 16:57] pybt opened #1191 "When executing data-compaction after changing the size of a large object with the same name, the size of the object is incorrect"
## Expected Behavior

After compaction object size must be the same as before compaction.

## Actual Behavior

After compaction completed

Object size 4294967295 bytes not change \
Object size 4294967296 bytes become 0 byte \
Object size 5368709120 bytes become 1073741824 bytes

## Steps to Reproduce the Problem

1. PUT object with size 4294967295 bytes
2. PUT object with size 4294967296 bytes
3.

[2019-08-13 14:32] wulfgar93 commented on #939
Hello!

Also I found that range requests are not present on leo_gateway access logs. Please fix this too.

[2019-08-13 22:29] wulfgar93 opened #1192 "range requests in leo_gateway access log"
Hello!

I found that no any records of range requests are present in leo_gateway access log.

The issue can be represented by uploading any mp4 file (for example) and request a part o this file with "Range: bytes=10000-20000" header. No GET records will be added in leo_gateway access log.

LeoFS 1.4.3 on CentOS 7

[2019-08-15 07:54] somsak commented on #1191
Is there any update on this?

We are considering leofs for our production system, but this problem would possibly block the decision since maintenance task could possibly corrupt large file on the system.

[2019-08-15 18:50] wulfgar93 opened #1193 "rebalance while compaction is in work on all nodes"
Hello! Could you be so king and answer me one question? I didn't find any information in docs.

Is it save to add new storage node and run rebalance while compaction is in work on all nodes?

[2019-08-15 19:10] wulfgar93 commented on #466
I've faced with issue that after rebalance active object statistic have not updated... But during manual compact procedure I see that number of active objects are decreasing. Could be so kind to clarify weather autocompact would work after rebalance? Could you clarify what data of active objects autocompact are based of?

[2019-08-16 02:07] yosukehara commented on #1193
The main purpose of Data compaction is to remove unnecessary objects from each your storage node. The purpose of adding a storage node(s) and rebalance is to increase the disk capacity of the storage system.

When the disk capacity of your LeoFS storage system is low, add nodes, otherwise, data-compaction is enough.

[2019-08-16 02:14] yosukehara commented on #1191
Sorry for the late reply. We'll survey this problem in our environment.
If you found error logs in your LeoFS _(mainly your LeoStorage node)_, let us know that.

[2019-08-16 05:26] yosukehara commented on #1191
I would like to share a simple report as below. As you can see, I cloud not reproduce the same problem.

[code]

[2019-08-16 06:05] pybt commented on #1191
From your 3rd report size column value 5242880K change to 1048576K but checksum is not change after compaction.

[code]

[2019-08-16 08:57] wulfgar93 commented on #1193
@yosukehara thanks for answering! I made a mistake with word "save" in my question, I meaned "safe". :) I understand meaning of these functions, but the question is whether it is safe to run both of these functions in parallel. Cluster receive new data faster than compaction can delete unnecessary objects and also I know that disk capacity will be not enough for new data. New storage nodes are rea

[2019-08-16 09:34] wulfgar93 opened #1194 "work of auto compaction after rebalance"
Hello! While #466 in not implemented I've faced with issue that after rebalance active object statistic have not updated... But during manual compact procedure I see that number of active objects are decreasing.
[code]
As you can see the ratio of active objects are not 97.77%, it's about 72%.

Could you be so kind to clarify weather auto compaction would work properly after rebalance if I set the

[2019-08-16 11:44] yosukehara commented on #1191
The following is correct:

There is no issue, "not change" in our environment.

But it was reproduced in our environment too.

### In conclusion:

When executing `data-compaction` after changing the size of a large object with the same name, the size of the object is incorrect.

[2019-08-17 00:04] yosukehara commented on #1191
Just in case, I would like to share the result of data-compaction after overwriting an object of the same name and size.

[code]

[2019-09-16 10:59] varuntanwar opened #1195 "INCONSISTENT HASH | manager node and other nodes."
Hi,

We have 3 Nodes running.
LEOFS version:  1.3.8-1

[code]

I have tried restarting all services (stop gateway -> stop storage -> stop manager then start in the reverse order : manager -> storage -> gateway).

When I run where-is command, I getting following error:

When I configure the s3cmd, I get following error:

but when I upload file via s3cmd, it succeeds.

[2019-09-16 20:07] jankyjames opened #1196 "[ERROR] Mnesia is not available"
Following guides for setting up a cluster, ran into some problems. Completely uninstalled leofs using apt remove, completely deleted leofs directories. reinstalled manually and when I start leofs manager_0 and try to leofs-adm start or status I get "[ERROR] Mnesia is not available"

[2019-09-18 03:39] yosukehara commented on #1195
Ring may be broken as below:

[code]

You need to rebuild Ring. Refer to my comments below:
- https://github.com/leo-project/leofs/issues/1185#issuecomment-495033961

[2019-09-18 07:31] varuntanwar commented on #1195
@yosukehara

On the same thread, one user mentioned that after following the steps all users and buckets disappeared.

Should we go ahead? We can't afford any data loss.

[2019-09-19 07:04] varuntanwar commented on #1195
I have another question:

When I configure the s3cmd, I get following error:

but when I upload/download file via s3cmd, it succeeds.

Is this because of broken ring?

[2019-09-19 08:33] yosukehara commented on #1195
I can only provide this solution. I recommend that you build a test environment and test this solution.

[2019-09-24 00:16] yosukehara commented on #1196
Please accept my apologies for the late response.
Let me know your LeoFS Manager's error logs.

[2019-10-04 16:27] wulfgar93 commented on #1194
@yosukehara, could you clarify my question?

[2019-10-04 16:30] wulfgar93 commented on #1193
@yosukehara, could you clarify weather I can add new sorage node and launch rebalance in parallel with compaction?

[2019-10-09 07:26] yosukehara commented on #1194
Thank you for your comment and sorry for the late response. I'll check this issue again. After that, I will comment after my thoughts are settled.

[2019-10-16 08:42] Argentum88 opened #1197 "Project is alive?"
I noticed that in late April, active development was suspended. What happened?

[2019-10-22 22:29] mocchira commented on #1197
@Argentum88 Sorry for the late reply.

Originally @yosukehara project lead should answer your question but he seems busy so I'd like to answer instead of him.

Now he and other project members (including me) have been involved in other projects with more high priority so LeoFS has been not active these days.

One thing I can say at this moment is we will keep doing the maintenance release for LeoF

[2019-10-23 01:17] yosukehara commented on #1197
@Argentum88
Thank you for your comment.
The answer to your question is as @mocchira wrote.

[2019-11-08 16:37] gauravrishi168 opened #1198 "Object size not reducing after delete files from bucket"
Hi
I am using Leofd version 1.3.3. using S3cmd command, i removed all most of the heavy file from the bucket but while doing df -HT, the size of the partition is showing the same.
Compaction was also enable.

 active number of objects: 114459
  total number of objects: 314918
   active size of objects: 560646011442
    total size of objects: 1428424558539
     ratio of active size: 39.25%
    last

[2019-11-12 01:30] yosukehara commented on #1198
I delayed to reply.
Do you know that errors have occurred in the LeoStorage node?
The error log of LeoStorage is output to the following location:

- Reference: [LeoStorage Settings/Configuration](https://leo-project.net/leofs/docs/admin/settings/leo_storage/)

[code]

[2019-11-12 04:42] gauravrishi168 commented on #1198
not getting any serious error: However, i have restarted the gateway, storage but no luck. Can you please confirm if we can delete the object like .avs

[root@pgp-leofs1 app]# tail -100 error.20191108.23.1
[W]	storage_0@10.143.1.70	2019-11-08 23:02:58.612885 +0550	1573234378	leo_compact_fsm_worker:execute_1/4	1082	[{obj_container_path,"/home_leofs/avs/object/6.avs_63662924913"},{error_pos_start,11

[2019-11-20 07:01] alexfrolov commented on #1196
The same thing for me.. mnesia is not started at startup.
[code]
I am able to run after attach, but the transactions still are being aborted. Any suggestions, how we can work this around. Thank you!

Best,
   Alex

[2019-11-20 07:33] yosukehara commented on #1198
We fixed some data-compaction issues to this day:
- [issues / closed / data-compaction](https://github.com/leo-project/leofs/issues?q=is%3Aissue+is%3Aclosed+compaction+label%3Adata-compaction)

If you'd like to fix this problem, you need to consider migrating your LeoFS to the latest version.

[2019-11-25 07:59] yosukehara commented on #1196
Sorry for my late reply.
`{cause,"Mnesia is not available"}` means that Mnesia is not starting correctly.
You may be able to launch it correctly by reviewing the settings of the LeoFS Manager nodes.

[2019-11-25 08:03] alexfrolov commented on #1196
Yep, have found that slave manager is obligatory for leofs cluster, otherwise mneisia is not started on the primary manager due to timer:apply_after. Thank you!

[2019-11-25 15:22] alexfrolov commented on #1196
I think, the issue can be closed. thanks!

[2019-11-26 00:42] yosukehara commented on #1196
@alexfrolov Thank you for your confirmation.

[2019-11-26 00:42] #1196 closed, assigned to yosukehara

[2019-12-15 11:35] patsevanton opened #1199 "Can`t Run LeoGateway on node with leo_manager, Leo_storage - Node is already running"
Hello!
Ansible Inventory:
[code]

[code]

Schema:
![leofs-cluster](https://user-images.githubusercontent.com/10828883/70862054-3cc42e00-1f61-11ea-9cbd-8730ff253cb2.png)

How run Run LeoGateway with leo_manager, Leo_storage on one node(server) ?

[2019-12-23 11:25] patsevanton opened #1200 "what to do if the nodes run out of disk space?"
Hello!
I use leofs 1.4.3.

[code]
7GB available
But

[code]

[code]

[code]

[2019-12-27 07:22] smile4054 opened #1201 "rebalance failed after detach cmd"
-------+--------------------------+--------------+---------+----------------+----------------+----------------------------
 type  |           node           |    state     | rack id |  current ring  |   prev ring    |          updated at
-------+--------------------------+--------------+---------+----------------+----------------+----------------------------
  S    | storage_0@127.0.0.1      | det

[2019-12-27 12:17] yosukehara commented on #1201
Let me know your command history of `leofs-adm` and error logs of your LeoManager.

[2020-01-21 11:05] wulfgar93 commented on #1194
@yosukehara hello! Any news?

[2020-02-13 21:33] wulfgar93 commented on #1197
@yosukehara @mocchira could you tell when you plan to return to the development of LeoFS?

[2020-02-13 21:41] wulfgar93 commented on #1195
@yosukehara got the same problem.
I tried to fix the managers RING by this solution https://github.com/leo-project/leofs/issues/1185#issuecomment-495033961 but old RING did not restored, new RING was generated. So I restored the mnesia on leomanagers nodes.
I found another solution https://github.com/leo-project/leofs/issues/1078#issuecomment-406518483 and it helps, but if I restart leomanager ser

[2020-02-17 01:15] yosukehara commented on #1197
Thank you for your comment.
I'm involved in another project from last year. So I cannot take the time to develop LeoFS.
I'm going to consider organizing my work and making LeoFS development time.

[2020-02-19 14:04] mocchira commented on #1197
@wulfgar93 The situation I've been in is almost same as @yosukehara. I'm not sure when I can come back to LeoFS developement for now however I'll be back ASAP.

[2020-02-29 18:24] wulfgar93 commented on #1195
@yosukehara I can add the repeating error massage in leomanager error log:
`[W]     manager_0@10.6.0.40     2020-02-29 20:55:44.439025 +0300        1582998944      leo_manager_api:brutal_synchronize_ring_1/2     2143    [{cause,invalid_db}]`

[2020-03-02 01:57] yosukehara commented on #1195
@wulfgar93
I've recognized that it seems to be an error in your LeoFS setting because as below:

This error is occurring at [leo_redundant_manager/src/leo_cluster_tbl_member.erl#L190-L191](https://github.com/leo-project/leo_redundant_manager/blob/8320bd95e061f86356eb8e22d05706033034f048/src/leo_cluster_tbl_member.erl#L190-L191).  Cloud you review the settings of your LeoFS with the reference to [t

[2020-04-07 07:15] francoricci opened #1202 "LeoFS gateway timeout with poor network performance"
I'm running LeoFS 1.4.1 under FreeBSD.
All works wheel but from some days, I’me experimenting a timeout problem when I get files (several MB ~ 20 MB) under network slow (~ 200 KB/s).

In such situation I get a crash error from leo_gateway:

[code]

[2020-04-08 20:28] francoricci commented on #1202
I think to have found the solution.
In the gateway configuration file, I set:

[code]
It's important to set either parameters to very similar values.

Now even with slow network I can download large files. Probably with fast network is not a good performance settings but it's a balanced settings for almost all "domestic" networks.

[2020-04-10 03:20] mocchira commented on #1202
@francoricci Yes you could reach the right solution (Congrats!).

Anyway, our document has already mentioned this topic here: https://leo-project.net/leofs/docs/faq/administration/#what-should-i-do-when-a-timeout-error-happen-during-upload-a-very-large-file

however it only mentioned the case on uploading so we should add some statements that this can apply to the downloading under a narrow bandwi

[2020-04-15 08:44] francoricci commented on #1202
OK. So I think issue can be closed.
Thanks.

[2020-04-15 08:44] #1202 closed, assigned to nobody

[2020-06-22 15:37] wulfgar93 commented on #1195
@yosukehara I did not find any strange settings in manager's conf file. Could you please take a look on it's settings?
[code]

[2020-07-05 05:06] bernardx opened #1203 "mdc_replication.max_targets for 3-way replication"
I'm trying to add a three datacenter replication using the "join-cluster" command. The mdc_replication.max_targets was set to 3.

The first dc is added without any problem. However,  while I'm trying to add the second one, it shows: "Over max number of clusters".

Maybe MaxTargets should be larger than length(Rows) to allow add more replication?
https://github.com/leo-project/leofs/blob/c1ea685929

[2020-07-08 23:43] yosukehara commented on #1203
I'm sorry it took me a while to get back to you.
The current version of LeoFS only supports one remote cluster replication.

[2020-07-08 23:49] #1203 closed, assigned to nobody

[2020-10-09 12:10] wulfgar93 commented on #1195
@yosukehara

[2020-10-09 14:57] yosukehara commented on #1195
@wulfgar93 I'm sorry for the delay in replying. Let me know LeoStorage's configuration of your LeoFS _(Not LeoManager configuration)_.

[2020-10-09 15:52] wulfgar93 commented on #1195
@yosukehara
[code]

[2020-10-10 03:12] yosukehara commented on #1195
I’ve confirmed LeoManager and LeoStorage configuration files. But I could not find an issue.

So I recommend that you rebuild your LeoFS’ ring. I will share its procedure soon.

[2020-10-10 14:40] yosukehara commented on #1195
I've remembered that I recommended the same solution last year - https://github.com/leo-project/leofs/issues/1195#issuecomment-532504776

[2020-12-02 12:10] OldhamMade commented on #557
Have there been any recent changes relating to multi-tenancy? Is this possible yet?

[2021-01-14 16:21] posliedov opened #1204 "Rename managers (master and slave)"
Hello.

I was faced with the need to rename the master and slave managers (nodename).

For example:
`M0@dc1-mgr01.s3.local.lan` -> `DC1_M1@10.13.1.11`
`M1@dc1-mgr02.s3.local.lan` -> `DC1_M2@10.13.1.12`

I've tried to rename managers according to this instruction https://leo-project.net/leofs/docs/admin/system_admin/leo_manager/#case-2-launch-a-new-manager-masterslave-instead-of-a-collapsed-node-ta

[2021-01-15 00:12] yosukehara commented on #1204
I will investigate how to rename LeoManager nodes and then share the procedure.

[2021-01-17 15:54] posliedov commented on #1204
@yosukehara, hello.

Sorry... Have you any news/progress about rename managers procedure?

[2021-01-18 00:43] yosukehara commented on #1204
I started investigating this issue on last Friday. I'm still investigating it.

[2021-01-18 11:28] yosukehara commented on #1204
I would like to share the procedure as bellow. I share important things which is to **back up all mnesia files of LeoManager nodes** so that they can be restored.

[Procedure]
1. **Stop all nodes**
    1. Stop LeoManager Master node
    2. Stop LeoManager Slave node
    3. Stop LeoGateway node(s)
    4. Stop LeoStorage node(s)
2. **Move LeoManager's mnesia files _(Not COPY)_**
    1. Make a direct

[2021-01-19 21:12] posliedov commented on #1204
Hello, @yosukehara
First of all, thank you for your help!

I tried to perform all the manipulations you described (in the order you specified), but after starting the cluster, information about the buckets was lost...

![Снимок экрана 2021-01-19 в 21 55 41](https://user-images.githubusercontent.com/2674731/105093495-83148680-5aab-11eb-8486-622db27c24fc.png)
(There is an assumption that information

[2021-01-21 02:03] yosukehara commented on #1204
I forgot to share about recreating users, endpoints and buckets.

* How to create an endpoint:
    * command: `leofs-adm add-endpoint <endpoint>`
    * reference: [leofs/documentation/s3-api-related-operation/endpoint](https://leo-project.net/leofs/docs/admin/system_operations/s3/#endpoint)
* How to create a user:
    * command: `leofs-adm create-user <user-id> <password>`
    * reference: [leofs/

[2021-01-24 16:02] posliedov commented on #1204
Hello @yosukehara

Sorry for the long feedback…
After testing the steps to recreate users, buckets and endpoints, I can confirm that the bucket's data is available again.

But there is one note: instead of creating users, I used the `import-user` command with the old `access-key-id`s and `secret-access-key`s:

[code]

Thank you very much for your help!

Kind regards.
Igor.

[2021-01-25 01:25] yosukehara commented on #1204
Thank you for sharing. Let me know results of `leofs-adm whereis <file-path>`.

* reference: [Index of leofs-adm Command Lines](https://leo-project.net/leofs/docs/admin/index_of_commands/)

[2021-01-25 06:06] posliedov commented on #1204
[code]

Can you tell me please why `has children` for `bucket1/materialicons/` is `false`?

[2021-01-30 00:38] yosukehara commented on #1204
Thank you for your reply. It seems to be an error in the configuration of LeoManager(Master). Looking at the following [this figure](https://user-images.githubusercontent.com/2674731/105093495-83148680-5aab-11eb-8486-622db27c24fc.png), it is set to "N = 3". However, the result of `whereis` is "N = 1".

* reference: [For Administrators / Settings / Cluster Settings / Consistency Level](https://leo-

[2021-01-30 18:15] posliedov commented on #1204
Oh sorry. That screenshot was taken in the production cluster, while as the result of the `whereis` - in the test environment  during the second attempt to go through all the steps to rename the managers.
Sorry to confuse you and thank you for your consideration 🤝

[2021-01-30 18:15] #1204 closed, assigned to yosukehara

[2021-12-17 11:54] #488 closed

[2021-12-29 15:01] dumblob commented on #1197
I was recently looking for a storage system with properties of LeoFS and wonder whether it's a good idea to use LeoFS in production considering it's not backend by any commercial interest any more.

Any new insights?

[2022-01-10 15:09] posliedov opened #1205 "[mdcr] connect second cluster to the existing one (with data)"
Hello.

I need to connect an empty cluster in another DC to an existing cluster that already has data.

### DC1 cluster info
[code]

### DC2 cluster info
[code]

### join-cluster
[code]

#### /usr/local/leofs/1.4.3/leo_storage/log/app/crash.log
After `join-cluster` command such errors appears in the `crash.log` on the `storage_0@10.13.188.171`
[code]
and DC1 cluster  is getting very slow:
[code]
#

[2022-01-11 00:04] nkosi23 commented on #1197
I am interested in knowing if LeoFS would be recommended for new projects as well

[2022-01-17 13:28] posliedov commented on #1205
@yosukehara Can you help, please?

[2022-01-28 11:23] alexey-milovidov opened #1206 "Pictures are changing too quickly on the main website"
https://leo-project.net/leofs/

It has pictures on top that change each other every second or two.
But these pictures are pretty rich and contain large amount of text.
It is impossible to read them during these two seconds.
Even if I click on the picture to focus on it, it does not prevent quick change.

[2022-01-28 11:24] alexey-milovidov commented on #1206
Example:

![Screenshot_20220128_142402](https://user-images.githubusercontent.com/18581488/151538814-b9b02385-89fc-4f38-acdd-cedcbff9ad31.png)

How I am supposed to read this slide in three seconds?

[2022-01-28 11:26] alexey-milovidov opened #1207 "The latest news on the website are from 2019"
Released LeoFS v1.4.3 on February 20, 2019

[2022-08-02 02:27] JamieSlome opened #1208 "Trying to get in touch regarding a security issue"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@lethanhtrung22) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a

[2022-10-26 20:07] dyasny commented on #1197
+1

[2022-10-26 20:31] nkosi23 commented on #1197
@dyasny In the meantime I have found out that seaweedfs is the established and recommended alternative. Hope this helps

[2022-10-26 20:32] dyasny commented on #1197
@nkosi23 yeah, I'm aware of it. Unfortunately, it doesn't support NFS, and that's what I need for now

[2022-11-04 02:57] onlyjob commented on #1197
Maybe [Ganesha](https://github.com/nfs-ganesha/nfs-ganesha) can be of help? It is an NFS server in user space that can present Fuse file systems over NFS.

SeaweedFS is not great with POSIX compliance/compatibility...

I wholeheartedly recommend [MooseFS](https://github.com/moosefs/moosefs) as alternative.

[2022-11-04 13:38] dyasny commented on #1197
I can simply set up a basic NFS server, I think performance would actually be better. But What I actually need is a resilient NFS service, distributed, replicated, the works. I am aware of ceph and gluster of course and they are an overkill for me.

Frankly, I don't care too much about posix compliance. What I need to do is mount the same NFS export on all of my k8s workers and use that mountpoint