[2017-11-20 18:14] vstax opened #941 "Making more information available over SNMP for storage nodes"
Currently, some important information is missing over SNMP, forcing to execute commands with leofs-adm to get this information (which is pretty inconvenient, requires parsing output, spams in cmd_history logs and so on). This includes:
1. Message queues. It's possible to get numbers for replication, sync-vnode and rebalance queues, but not others. Other queues, like ones related to bucket deletion

[2017-11-21 05:42] mocchira commented on #936
@vstax

Sorry, my words weren't enough and also the spec is too complicated!
Now there are two different cache mechanisms for each (small and large objects).
- Caching for small objects
  - Cache happens in both cases PUT(write through) and GET
  - Stored to memory if the size of an object < cache.cache_disc_threshold_len
  - Stored to DISK if the size of an object >= cache.cache_disc_threshold_le

[2017-11-21 06:03] mocchira commented on #940
@vstax thanks for filing this issue.

Good catch. however it seems impossible to me due to the limitation of file:open with raw option in erlang.
There is a sentence in http://erlang.org/doc/man/file.html#open-2.

That means opening files in parallel (multiple processes try to open files at once and share the result (file handles) across the erlang processes) is impossible when raw option is used

[2017-11-21 07:04] windkit commented on #940
@mocchira This problem looks like we are spawning process and opening AVS files sequentially. Is it true?
If so, what stops us from parallelizing them?

[2017-11-21 07:38] mocchira commented on #940
@windkit Yep thanks for pointing that out. I misunderstood the current impl (it turned out that I have a fever so that might make me do such mistakes :\\

Looks add_container_1 https://github.com/leo-project/leo_object_storage/blob/develop/src/leo_object_storage_sup.erl#L378 can be paralleled to me so

It's possible > @vstax

[2017-11-21 18:53] vstax commented on #940
@mocchira

Yes it requires forking and changing leveldb :( Not very good. The change itself is probably not that hard ([Around here, I think](https://github.com/basho/leveldb/blob/develop/db/db_impl.cc#L2077)) - write_buffer_size is already available, need to make another conditional variable passed from eleveldb and do the call when option is activated. Looks like posix_fallocate() no available o

[2017-11-22 13:34] yosukehara commented on #835
@pannon v1.3.8 has been released. I've closed this issue.

[2017-11-22 13:34] #835 closed

[2017-11-23 01:40] mocchira commented on #940
@vstax

1 will be implemented soon and also we will consider adopting RocksDB as leo_backend_db through erocksdb (IIRC, one of the reasons why we've made it was for actually this issue).

I see.

Thanks, return to almost health now :)

[2017-11-28 00:56] mocchira commented on #941
Yes possible and make sense to me so will discuss among the team.

[2017-11-28 01:19] mocchira opened #943 "[leo_backend_db] Support erocksdb"
Since some users hit the fragmentation problems leveldb have recently like #940 and seems to take time to be fixed on upstream, it might be time to support erocksdb on leo_backend_db.

[2017-11-28 01:21] mocchira commented on #940
Filed rocksdb support on #943.

[2017-11-28 04:59] mocchira commented on #743
@windkit Please close this one once CI pipeline become to run the tests for aws-sdk-cpp.

[2017-11-28 05:04] windkit commented on #743
It is now included in the CI pipeline

[2017-11-28 05:04] #743 closed

[2017-11-29 00:15] mocchira commented on #900
Close as duplicated with #901.

[2017-11-29 00:15] #900 closed

[2017-11-29 00:16] #899 closed

[2017-11-30 07:02] mocchira commented on #543
It turned out that simply implementing this feature causes leo_storage to consume much Disk I/O especially on read-intensive workload more than ever as it forces each leo_storage to retrieve the whole body stored in AVS and calculate the md5 based on that in case handling read-repair.

So I'd like to propose introducing a new configuration that enables users to specify whether turning on this comp

[2017-11-30 07:47] mocchira commented on #553
IMPL
- where to check if errors include 500
  - https://github.com/leo-project/leofs/blob/develop/apps/leo_storage/src/leo_storage_handler_object.erl#L1210
  - https://github.com/leo-project/leofs/blob/develop/apps/leo_storage/src/leo_storage_handler_object.erl#L1327-L1333
    - Actually the 2nd element in an error tuple includes a list which type is [{node(), Reason::term()}] so have to enumerate

[2017-11-30 08:00] yosukehara commented on #543
@mocchira

I agree with your propose. We will need to publish its documentation at the same time of v1.4.0 release:

- [Configuration section](https://leo-project.net/leofs/docs/admin/settings/leo_storage/)
- [Consistency section](https://leo-project.net/leofs/docs/admin/settings/cluster/#consistency-level)

[2017-11-30 15:04] vstax commented on #543
@mocchira
If there is serious performance degradation and new option is needed, is it possible to add some commentary about (expected) degradation to option commentary? E.g.
[code]

Btw, I kind of forgot when exactly read-repair is executed - is it what happens to two secondary nodes with N=3 and R=1 (because is_strict_check=True covers data checking for primary node)? Or it's about something else

[2017-12-01 08:35] mocchira commented on #543
@vstax

Sure.

read-repair always get executed on ANY GET request regardless of how N, R are configured. and now since HEAD (which touches only metadata) is used for read-repair to compare the checksum between replicas, this issue have existed.

Yes should be covered with this fix.

Good point. I think it's possible and make sense to have more light weight version and make it default once the benc

[2017-12-04 05:36] windkit commented on #543
To me, this raises the need of a data scrubbing tools/daemon so user can check data integrity
Now it is only checked at read (on primary replica only?)

[2017-12-04 20:49] vstax commented on #543
@mocchira
If you don't mind explaining in a bit more detail... About read-repair, is my understanding correct that before this change: HEAD now checks only metadata, while with it it's supposed to check data in AVS file as well (whether data will always be checked or not and strictness of check is under discussion).
As for GET request, let's suppose N=3, R=2 settings (and all nodes working), so wh

[2017-12-05 00:11] #894 closed

[2017-12-05 00:14] mocchira commented on #940
Closed as the corresponding PR already got merged.
@vstax Please reopen if you tried the PR and found something wrong(like it couldn't boost the boot time as expected)

[2017-12-05 00:26] mocchira commented on #543
@windkit Yea already filed here: https://github.com/leo-project/leofs/issues/574

[2017-12-05 00:58] mocchira commented on #543
@vstax

Happened only one on the primary. the others (secondary and third) will be received the HEAD from the primary, retrieve the metadata from backend_db on each and then send it back to the primary.

What R almost means is waiting for (R-1) HEAD replies from others in order to reply to the client.

Same as above. the only difference is calculating MD5 based on the body retrieved from AVS and c

[2017-12-05 01:04] mocchira opened #947 "[leo_object_storage] MD5 check doesn't happen in case GET with Range header with "is_strict_check = true""
MD5 check always should happen when is_strict_check = true regardless of whether Range header exists or not.
Where to fix: https://github.com/leo-project/leo_object_storage/blob/develop/src/leo_object_storage_haystack.erl#L567-L577

[2017-12-05 01:06] mocchira commented on #543
filed https://github.com/leo-project/leofs/issues/947 for the problem - GET with Range header and is_strict_check = true.

[2017-12-05 07:45] windkit commented on #553
PR: https://github.com/leo-project/leofs/pull/948

[2017-12-06 00:11] windkit commented on #503
PR for fadvise_willneed in eleveldb
https://github.com/leo-project/leo_backend_db/pull/16

[2017-12-08 06:29] mocchira commented on #840
@vstax Sorry for the long delay.

Please also add the notification code after this line - https://github.com/leo-project/leofs/blob/1.3.5-rc4/apps/leo_manager/src/leo_manager_sup.erl#L106 to handle no mnesia directory case.

Yes the log messages should(can) be clean so I'll file as another one.

I will get into the conditional build.

[2017-12-08 06:40] mocchira opened #949 "[leo_manager] Suppress error messages in crash.log during mnesia initialization"
Reported here: https://github.com/leo-project/leofs/issues/840#issuecomment-340035289
This can be solved by catching the exception here: https://github.com/leo-project/leofs/blob/1.3.8/apps/leo_manager/src/leo_manager_table_sync.erl#L174

[2017-12-08 07:04] #892 closed

[2017-12-12 07:12] mocchira commented on #840
@vstax

- how to implement dynamic dependencies handling in current build system
  - make the template for reltool.config (reltool.config.in)
  - add erlang-sd_notify to rebar.config in leo_* as **raw** dependency (no compile target get triggered but targets related to deps like get-deps get fired)
  - invoke make compile in erlang-sd_notify directory and capture the result on **release** target i

[2017-12-12 07:27] windkit opened #950 "[Discussion] Eventual Consistency may make user confused in error case"
With `N=3, W=2`, user would receive error message in two situations

1. No Write accepted, the new data will never be in place
2. 1 Write accepted, write quorum is not reached, but the new data will be in place.

Some users may understand this is what eventual consistency would give, some may be confused.

I want to discuss what can we do in this case.

[2017-12-12 15:37] xingxing9688 opened #951 "Is there a migration tool for leofs, can I migrate ceph swif data to leofs, or ceph fs tools can also be migrated to leofs？"

[2017-12-12 19:08] vstax commented on #840
@mocchira Thanks for checking this out. I see; replacing all 3 reltool.config files with templates is a bit sad just for this purpose but if there is no better way..

I don't think there is need to check make results, though, because this step (compiling sd_notify) is done only for packaged versions, and packages already know if they are creating release with systemd support or not. If they are bu

[2017-12-13 00:36] mocchira commented on #840
@vstax

Yea it's sad, I read the full spec of reltool and tried some ways but turned out no way for conditional build other than relying on other tools.

I see.

Now testing scripts depend on other hacks to detect the end of initialization and it works so currently no strong needs to make sd_notify work for non-packaged ones.

IMO, sed would be enough in such a simple case.

OK.

[2017-12-13 01:38] mocchira commented on #840
@vstax

Unfortunately I couldn't reproduce this problem (without manager, leo-storage.service failed as expected and subsequent retries happened without any slow down) so let me know for more detail.

- environment
- leofs config files
- minimum procedure to reproduce

[2017-12-13 19:37] vstax commented on #840
@mocchira

OK, I will after doing more proper build solution.

Here is implementation: https://github.com/vstax/leofs/commit/a2ac1c41f69ed370cd5cc5755e733a60c2ff9c20

running
[code]
will create a release with sd_notify library, while plain "make release" will skip it. I put sd_notify to separate target because I think it's more clear this way but it can be put to the end of "compile" target instea

[2017-12-14 19:09] vstax commented on #840
@mocchira
I need a bit of your guidance here, here is change for leo_commons: https://github.com/vstax/leo_commons/commit/bd04244ace20cc7e7ce3db6080df118e46359d8a
Not 100% sure if just this version (which returns same result for success and error) is fine or version that actually fails when sd_notify is not available is needed for example for tests (or this is just a bad style and error should be

[2017-12-15 02:16] mocchira commented on #840
@vstax Please check the review comments I dropped at
- https://github.com/vstax/leo_commons/commit/bd04244ace20cc7e7ce3db6080df118e46359d8a#r26289014
- https://github.com/vstax/leo_commons/commit/bd04244ace20cc7e7ce3db6080df118e46359d8a#r26289016

[2017-12-15 02:21] mocchira commented on #840
OK.

Looks fine. so please PR once the everything I pointed out have been fixed.

[2017-12-15 08:24] mocchira commented on #950
One possible solution would returning the error with more detail like the number of write accepted.
As for write after error, depending on the use case, when 1 accepted, a client may have a choice not to retry a write by relying on eventual consistency (but in almost cases, the cluster should operate with W=1) and when 0 accepted, a client must retry a write.
As for read after error, without any c

[2017-12-15 17:56] vstax commented on #840
@mocchira
Thanks for review! I've created a PR here: https://github.com/leo-project/leo_commons/pull/11 but the module now fails the tests which expect sd_notify to load :( Is it possible to exclude that function from test or do something else about it?

Regarding manager startup without mnesia case, yes, the new spot seems to work fine. I noticed just one thing which - while probably not being a

[2017-12-15 18:01] vstax commented on #840
@mocchira
Regarding slow startup of storage nodes without master. I am able to reproduce the problem on latest dev version like this, with both managers and two other storage nodes down, I execute "systemctl start leofs-storage". It loads AVS/metadata fast on the first try, then fails due to the lack of managers, there is restart timeout, after which it start and takes much more time to open AVS/m

[2017-12-15 19:23] vstax commented on #940
@mocchira
Unfortunately, it doesn't work on our system. Or, rather, it does load AVS files in parallel, but it crashes after opening all of them.
End of normal load (before this change):
[code]

With this change:
[code]

In info log:
[code]

In error log:
[code]
Yes it's actually like that in log file: "0Supervisor"!

In crash.log:
[code]

leo_backend_db is latest (1.2.25), leo_object_storage is u

[2017-12-19 00:02] mocchira commented on #940
WIP

[2017-12-19 01:56] mocchira commented on #840
@vstax

Sorry my bad in the review comment. I will add the comment on PR so please check it out.

Yes a little complicated so leave it for now. (I will fix in future if I come up with some simple solution for that)

[2017-12-19 03:13] mocchira commented on #840
@vstax

Finally got it thanks to your full log.
Now in case of the start failure due to lack of managers, leo_backend_db in leo_storage failed to produce  the state file that includes the number of keys stored in leveldb so leo_backend_db have to iterate the all records on the next startup so this cause startup leo_storage to be slow down. I will send PR later.

[2017-12-19 08:48] mocchira commented on #940
@vstax Reproduced and figured out the root case. I will send PR later.

[2017-12-19 08:59] vstax commented on #840
@mocchira

NP, done. It passes the test now. Waiting for merge and version tag.

I see; glad you could find the reason!
I wonder if it's possible to postpone wiping of old state files to later stage (after all AVS files are opened and node is connected to manager, right before starting to server requests) instead of just wiping and re-creating them?
Consider the earlier version of this experiment:

[2017-12-20 00:28] mocchira commented on #840
@vstax

Yes, the fix will be done like that.

[2017-12-20 01:45] mocchira commented on #940
@vstax https://github.com/leo-project/leo_object_storage/pull/19 should work for you. Please wait for a bit til the PR  get merged.

[2017-12-21 08:02] mocchira opened #955 "[all] Supervisor received unexpected message appeared in error log on startup"
Since ets:give_away (http://erlang.org/doc/man/ets.html#give_away-3) invoked at https://github.com/leo-project/leo_backend_db/pull/15/files send the message `{'ETS-TRANSFER',Tab,FromPid,GiftData}` to the new owner and now supervisor handles those messages as unexpected messages in a way implemented at https://github.com/erlang/otp/blob/OTP-19.3.6.5/lib/stdlib/src/supervisor.erl#L630-L633, the erro

[2017-12-21 08:04] mocchira commented on #955
I tried to fix this by ignoring this particular message at https://github.com/leo-project/leo_logger/blob/1.3.4/src/leo_logger_error_logger_h.erl#L66-L86 but no luck (doesn't reach into this closure however should be passed according to the spec (http://erlang.org/doc/man/error_logger.html)). WIP

[2017-12-21 08:22] mocchira commented on #955
Another possible solution is to change the owner to some other **well known** (at least leo_backend_db_sup knows) permanent process which is not supervisor however there seems to be no such processes.

[2017-12-21 19:29] vstax commented on #840
@mocchira
Unfortunately I made an error in the last commit, a small fix is required (#956).
Also, package change is at https://github.com/leo-project/leofs_package/pull/11
I checked generation of systemd and non-systemd packages on Ubuntu 16 and systemd packages on EL7 but yet to check non-systemd packages on EL6.

Since it tries to execute "make sd_notify" which breaks compatibility (once again),

[2017-12-22 01:14] mocchira commented on #840
@vstax

OK. FWIW, there is another choice giving up one liner concise sed and using `cat` to attach the header lines instead if the current script causes the portability problem.

make sd_notify looks good to me.

Great.

like this?
[code]

[2017-12-22 02:30] mocchira commented on #955
https://github.com/leo-project/leo_backend_db/pull/17 will fix this issue.

[2017-12-22 08:14] vstax commented on #840
Unfortunately that "dpkg-shlibdeps" wants only compiled and linked executables in arguments, not files with executable attribute; the reason why originally only "bin/beam" was in path because most of other files in bin/ are code to be run under "escript" and not ELF binaries. I just need to find the code that filters out true linked binaries during typical package generation, it has to be there so

[2017-12-22 08:28] mocchira commented on #840
@vstax Got it how about this one?

[code]

[2017-12-22 10:30] mocchira commented on #931
@vstax

Any update on this?

[2017-12-22 19:44] vstax commented on #840
@mocchira Thanks for suggestion, that's almost it - there is an extra .o file (I suspect it's there by some mistake in reltool config for that project?) which gives a problem so I changed filtering a bit. I wasn't able to find how that tool is supposed so it's more automated so had to settle for find. I've updated the package PR.

I think maybe it's just Ubuntu's Erlang packaged strangely (file  /

[2017-12-22 23:44] mocchira commented on #840
@vstax

LGTM. Thanks.

Weird!

Yes I have, I'll check later.

[2017-12-22 23:56] mocchira commented on #840
@vstax

Works fine on my Mac.

[2017-12-25 17:22] vstax commented on #840
@mocchira Thanks for checking!
I submitted PR #959 with this version.

[2017-12-25 19:32] vstax commented on #931
@mocchira
I'm sorry for the delay. We have finished migration to LeoFS so there is hardware to test this now but I won't have time before New Year, so this will have to wait until after NY holidays (that's after ~ Jan 9).

So I should fill cluster with enough data so that compaction will go on for hours, then launch compaction on one node and "recover-node" for another node, then check log files f

[2017-12-26 00:25] mocchira commented on #931
@vstax Thanks for checking this.

NP. anyway great to hear that you have finally finished migration to LeoFS. Congrats!

Right.

[2017-12-26 17:39] vstax commented on #940
@mocchira
Thanks for support. Yes, it doesn't crash anymore with the latest fix.

Unfortunately, this change doesn't really improve the situation much: it works (that is, opens all directories in parallel) and doesn't work at the same time - there seem to be some internal reasons (locks?) slowing opening of multiple AVS files, so in the end it's hardly any faster than original non-parallel version

[2017-12-27 08:30] #553 closed

[2017-12-27 08:42] mocchira commented on #543
Now the corresponding PR got merged on develop.
TODO:
- [ ] benchmark rebalance/recover on RIT environment > @windkit

[2017-12-27 08:44] mocchira commented on #546
This issue should be closed after https://github.com/leo-project/leofs/issues/543#issuecomment-354076892 finished.

[2017-12-27 09:24] #955 closed

[2017-12-27 12:00] #949 closed

[2017-12-28 02:00] mocchira opened #960 "[leo_storage] Suppress error logs on stop"
Now dozen of error lines are likely to get appeared on leo_storage stop like below.

- Case 1:
[code]
- Case 2:
[code]

Case 1 can be handled by stopping gen_server **leo_storage_handler_del_directory** before leo_backend_db_sup:stop invoked on leo_storage at https://github.com/leo-project/leofs/blob/develop/apps/leo_storage/src/leo_storage_app.erl#L53

Case 2 also probably can be handled by stopp

[2017-12-28 07:41] mocchira commented on #960
Case 2 and part of Case 1 will get disappeared once https://github.com/leo-project/leo_mq/pull/10 get merged.

[2017-12-28 07:45] mocchira commented on #940
@vstax Thanks for trying the latest patch. WIP. however it turned out that the problem is probably in eleveldb or leveldb.

[2017-12-28 18:49] vstax commented on #840
@mocchira

Thank you, the fix works fine, it fails before opening AVS files now:
[code]

Everything seems to be done here. I think I've checked that notification works in all important cases, but it is possible that there is some special case that I've missed which will cause a problem (and without notification service will be killed & restarted over and over..), so it's best to be alert about thi

[2017-12-29 00:17] mocchira commented on #940
@vstax

Right. I will lower its priority and consider a bit whether rolling back this IMPL or not.

[2017-12-29 01:06] mocchira commented on #840
@vstax

OK. We will notify users this change (which we plan to ship with 1.4) through our ML and social channels.

[2017-12-29 02:18] mocchira commented on #960
Remained cases will get disappeared once https://github.com/leo-project/leo_watchdog/pull/9 and https://github.com/leo-project/leofs/pull/962 get merged.

[2017-12-29 05:44] mocchira opened #963 "[leo_storage] Suppress error logs on start"
Log lines like below occasionally get appeared on leo_storage start.
[code]
This can happen in case ops(operation per second) against error_logger exceeded error_logger_hwm.
I think many INFO level messages yielded on startup cause ops to exceed the threshold so it may be good to raise the default (current: 500) in leo_storage.conf however it's difficult to choose the optimal number as the higher

[2017-12-29 08:37] mocchira commented on #911
For the record, unfortunately https://github.com/leo-project/leo_object_storage/pull/17 didn't work on otp18.x  (otp19.x and 20.x works fine) so the PR got closed. we will retry the PR once opt18 get out of our supported erlang runtime.

[2018-01-09 00:41] windkit commented on #543
@mocchira Noted. going to run the benchmark :)

[2018-01-09 05:21] mocchira opened #964 "[leo_manager] import-user with the access-key-id belonging to a deleted user doesn't work"
Because delete-user doesn't delete the corresponding credential record on the auth table.
Details can be found on https://groups.google.com/d/msg/leoproject_leofs/GGqJfRBKTAQ/V9B7yXTeBgAJ

TODO:
- [x] Delete not only records on user table but records on credential/auth table when handling delete-user
- [ ] Provide a tool to remove obsolete records on credential/auth table. (maybe checking on start

[2018-01-09 06:27] mocchira opened #965 "[leo_manager] create|import-user can fail with records partially updated"
Because those two don't use transaction even though there are multiple update statements.
those should be changed into
[code]
to avoid partial updates.

[2018-01-09 07:54] mocchira commented on #897
#926 and #845 could make this issue happen more often, although those two have been fixed now so can you check this issue still exists? > @vstax

[2018-01-09 17:36] vstax commented on #897
@mocchira I will try, however I'd like to note that version with this problem already included fix from #845, and #926 should not affect this at all because I was uploading objects with script that only uploads each file once. I was uploading objects in parallel but each uploader instance worked with its own set of source files. So I don't think that anything should change because of #926 was fixe

[2018-01-09 23:58] #758 closed

[2018-01-10 00:03] mocchira commented on #897
@vstax

I see, will keep vetting.

[2018-01-10 03:20] mocchira commented on #764
With the patch below for leo_mq,
[code]
erlang.log looks like shown below
[code]
Ideally
[code]

at first, try https://github.com/leo-project/leofs/issues/764#issuecomment-311260390. if it doesn't distribute equally enough then will try to come up with other solutions.

[2018-01-10 07:53] mocchira commented on #764
With https://github.com/leo-project/leo_object_storage/pull/22,
erlang.log looks like shown below
- head - middle part
[code]
- tail part
[code]

On my dev-box,
90% of messages seems enough distributed but remained 10% tend to be congested. This percentage can improve as the number of AVS files increases (or the number of cpu cores increases).
IMO, it's not perfect but enough in practice. what do

[2018-01-10 08:31] mocchira commented on #764
Note as to possible improvements.
Instead of relying completely on erlang scheduler to distribute the messages evenly to each server (leo_object_storage_server), controlling the message producing rate on each spawned process in leofs could improve the distribution nearly uniformly regardless of the number of AVS files, the number of cpu cores and how frequently erlang scheduler switch the erlang p

[2018-01-10 18:56] vstax opened #966 "Node entered "strange" state with internal crashes (timer problems?)"
This is not 100% LeoFS problem as there was external factor present. So maybe there is no need to solve this directly but I wanted to report this in case there actually is some error (or error handling) in code that can be improved.

We were updating & rebooting cluster of storage nodes (firmware and kernel update against recent vulnerabilities). We have N=3, W=2, so maximum single node was touche

[2018-01-11 01:55] windkit commented on #595
With s3a:// available, it may be possible to use `cp` / `distcp` to copy file to/from hadoop
[code]

TODO

- [ ] Test cp/distcp

[2018-01-11 02:23] mocchira commented on #966
WIP.
At a first glance,
[code]
This can happen only in case `env->LockFile` get invoked more than once without calling `env->UnLockFile` according to https://github.com/basho/leveldb/blob/2.0.34/util/env_posix.cc#L720. also given that LockFile can be invoked from Repair/Recover/DestroyDB, it seems some race could happen on  leo_storage startup/shutdown phase.

I will take a closer look around http

[2018-01-11 04:01] yosukehara commented on #951
@xingxing9688 We don't have a data migration tool yet but we started to consider your request which is to deliver it.

[2018-01-11 04:08] yosukehara commented on #901
Closed it

[2018-01-11 04:08] #901 closed

[2018-01-11 05:40] mocchira commented on #764
With the latest PR including the commit which enables leofs to control the message producing rate (https://github.com/leo-project/leo_object_storage/pull/22/commits/d17c49eb1df5c3e13ef501b4f08ef7c5c40000af),
head-middle part looks almost same as previous one but tail part looks like shown below
[code]
looks improved! the further tuning the some hard-coded values could make the distribution more un

[2018-01-12 08:39] mocchira commented on #966
Updates.
Some testing with gdb, I've still never faced to hit the break point on LockFile/UnlockFile. It seems probably Repair or Recover should be triggered somehow. I will try to make it happen by breaking .log file intentionally.

[2018-01-12 15:04] vstax commented on #966
Nothing of sorts was done explicitly, though; the node was working just like before (also, the service log that I posted above is full stdout/stderr output around time of problem). Lines with "id:leo_diagnosis_log" that appeared there are usually logged only during node startup; I have no idea what it means when they are printed on a node that is up & running for a long time. I've checked logs for

[2018-01-15 14:53] pannon opened #967 "basho_bench with custom user"
This is kinda two issues in one.

Trying to test LeoFS v1.3.6 with basho_bench on a cluster where _test_leofs user has been deleted.
I've tried to re-import the user with default credentials `AccessKeyId = "05236"
SecretAccessKey = "802562235"` but this resulted in `[ERROR] already_exists` (the user is not visible).

Plan B was to get basho_bench working with a new user by modifying the access and

[2018-01-16 00:44] mocchira commented on #967
@pannon Thanks for reporting.

I've tried to re-import the user with default credentials AccessKeyId = "05236" SecretAccessKey = "802562235" but this resulted in [ERROR] already_exists (the user is not visible).

Plan A will fail due to the bug filed here: https://github.com/leo-project/leofs/issues/964. we will ship the fix on 1.4.

This should work so we will check if this works on our envs.

[2018-01-16 07:38] mocchira opened #968 "[leo_manager] error occasionally happens on startup and fail to initialize mnesia tables"
I happened to face the log below today,
[code]
The first line including "Cannot install fallback" occasionally appears and usually it doesn't matter for subsequent startup processes but at this time things got different. As shown on the second line, something went wrong in mnesia_bup module and the error line dumped and as a result, mnesia initialization  between master/slave failed.

We may have

[2018-01-16 07:55] mocchira commented on #967
@pannon Plan B works on my dev-box like below.

1. Create a custom user
[code]
2. Modify the configuration for basho_bench as follows. (You can sepecify access_key and secret_key through a config file without rebuilding basho_bench)
[code]
3. Run the benchmark
[code]

let me know if it doesn't work for you.

[2018-01-16 08:24] mocchira commented on #966
@vstax It turned out that doubly called leo_backend_db_eleveldb:open without calling its close on leofs causes "Io error: lock ${file_name} already held by process" error so there can be something wrong in error handlings on startup (the parallel open patch might be involved).

[2018-01-16 08:25] windkit commented on #967
Could you also try to set

[code]
in the basho bench configuration file?

[2018-01-16 11:58] pannon commented on #967
When the following is set on the gateway `protocol = rest` basho_bench is working. Previously had `protocol = s3`.

Is this behaviour expected?

[2018-01-16 15:44] vstax commented on #966
@mocchira I see. Yes, this is version with parallel open. I just don't understand why you mention "startup" - the node was up and running for over two weeks when this happened?

[2018-01-17 00:13] #764 closed

[2018-01-17 00:25] mocchira commented on #967
@pannon

'protocol = s3' also should work if its access_key and secret_key are properly configured.

let me confirm what version of basho_bench have you used? (the tip on master at https://github.com/leo-project/basho_bench would be encouraged to use)
also can you share the terminal history and configuration file for basho_bench? those can be helpful to further digging.

[2018-01-17 00:39] mocchira commented on #966
@vstax

Sorry, strictly speaking, it's not node startup but erlang internal process startup so it can happen while node was up and running.

Anyway, we will consider to rollback the PR to fix #940 as we cannot gain any performance improvement on your case. what do you think?

[2018-01-17 01:19] mocchira opened #970 "[leo_storage][leo_object_storage] Optimize m_EleveldbThreads on eleveldb"
Details are described here https://github.com/leo-project/leo_object_storage/pull/22#issuecomment-358161292.
It would be good to set m_EleveldbThreads to the number of AVS files rather than the default(71) to avoid IO tasks being enqueued on eleveldb thread pool queue.

[2018-01-17 02:29] mocchira opened #971 "[all][leo_redundant_manager] Keep dumping the same error in case mq worker process died"
This can happen in all components (leo_manager, leo_storage, leo_gateway).
[code]
There seems to be something wrong (probably file handle leak) in termination processing.

[2018-01-17 05:29] #960 closed

[2018-01-17 09:18] mocchira commented on #964
The former one of TODO will be fixed by https://github.com/leo-project/leo_s3_libs/pull/11.

Now I'm bit afraid that the latter one could take much time with many obsolete records being remained so instead I'd propose to extend import-user with -f (force update flag).
Now `import-user ${UserID} ${AccessKey} ${SecretKey}` will fail if there is no ${UserID} but ${AccessKey} exists on the credential

[2018-01-17 18:59] vstax commented on #966
@mocchira
Sure, rolling back sounds like a good idea if this problem was aggravated by parallel open change.
It's a bit strange that this "internal process startup" has happened at all in the middle of load, though. At least, I haven't seen this to happen before (id:leo_diagnosis_log_* lines appeared only on actual node startup). Is there a known way to force this to happen to make sure that the p

[2018-01-17 23:56] windkit commented on #964
To me, having a revocation list is better for security.

[2018-01-18 00:42] mocchira commented on #964
@windkit

Since we will make leofs GDPR-compliant enterprise storage on 1.4, we probably get to implement audit log for every operation so as a result, revocation list would be realized. what do you think? > @yosukehara

[2018-01-18 00:56] #971 closed

[2018-01-18 01:02] yosukehara commented on #964
Due to GDPR, we need to keep logs related to user-info registration, update, and deletion/revocation, so need to also implement the following feature:

- Implements the log output of user-info operation for the system audit (GDPR, others)

[2018-01-18 03:51] yosukehara opened #972 "[leo_manager][GDPR] Implements the log output of user-info operation"
To cover GDPR security, we need to keep logs related to user-info registration, update, and deletion/revocation for the system audit.

- Link: #964

[2018-01-18 08:47] #964 closed

[2018-01-18 09:06] mocchira commented on #966
@vstax WIP however a little bit progresses there.

- The root cause is many timeouts happened on requests to leo_backend_db_eleveldb (queue or metadata)
- That said, some part of eleveldb/leveldb written in C/C++ might be vulnerable against system clock correction. (No vulnerable code in Erlang and its application while using right runtime API) now further digging into C/C++ code.
- Subsequent man

[2018-01-18 09:09] mocchira commented on #966
@vstax

Agreed.

Safe while the node is suspending so please go forward for checking it!

[2018-01-18 16:01] vstax commented on #966
@mocchira
Thanks for looking at this in-depths! Very interesting. Unfortunately, I don't know how to reliably reproduce this problem (not that I want to, on production, anyway), so I don't know if I can provide any help in testing even if you were to fix original issues.

There is one more thing, however. I didn't mention it before because I didn't think it was important (since that problem was go

[2018-01-18 16:46] vstax opened #974 "Object counting during startup (without .state files) is slow"
Originally mentioned as part of #966.

I did experiment with startup after removing state files - and yes, that was the culprit of long startup times. On our system, lacking .state files adds ~11 seconds to opening of each container. This process seems to be CPU bound (by single core, that is). Disk read is around 11 MB/s (or 2200-2400 op/s) but it's not IO-starved (figures, given that .sst files

[2018-01-19 08:00] mocchira commented on #974
@vstax Thanks for reporting in detail.
Apparently the erlang scheduler thread bounded and the only erlang code (not C/C++) running during the object counting is https://github.com/leo-project/leo_backend_db/blob/develop/src/leo_backend_db_eleveldb.erl#L400-L411 which is a simple tail recursive loop (equivalent of the tight loop in procedural language) other than invoking the eleveldb's C/C++ bridg

[2018-01-19 08:03] mocchira commented on #974
@vstax Just in case, can you do the same experiment and run leofs_doctor during that time? the result might tell us other possible culprit.

[2018-01-19 08:17] mocchira opened #975 "[leo_object_storage] Avoid gen_server crash due to timeout"
As reported on https://github.com/leo-project/leofs/issues/966, timeout happened on calling https://github.com/leo-project/leo_object_storage/blob/develop/src/leo_object_storage_server.erl#L792-L793 caused leo_object_storage_server to crash. Add `catch` statement here.

NOTE:
Since it turned out that leo_object_storage_event_notifier and some other ones (leo_object_storage_event and leo_storage_ms

[2018-01-19 08:28] mocchira opened #976 "[leo_storage][leo_object_storage] Refactor slow processing notification to avoid bottlenecks"
As reported on https://github.com/leo-project/leofs/issues/966#issuecomment-358582625, the current erlang process structure to handle slow processing notification doesn't scale well so need to refactor (ex: getting rid of intermediate gen_server(s). instead directly CRUD the specific ets talbe created with {write_concurrency, true} and logging through a library module)

[2018-01-19 08:38] mocchira opened #977 "[all] Handle supervisor restart properly"
As reported on https://github.com/leo-project/leofs/issues/966#issuecomment-358582625, the restarts of leo_mq_sup or leo_object_storage_sup might cause the supervisor process tree to be broken (part of worker processes failed to restart) the below is the crash.log when that happened.
[code]
Just in case, we have to test/check if all supervisor restarts work as expected.

[2018-01-19 08:43] mocchira opened #978 "docs: Add explanation about import-user -f and its FAQ"
FAQ would be needed as recently import-user related questions posted on github and ML.
- https://github.com/leo-project/leofs/issues/967
- https://groups.google.com/d/msg/leoproject_leofs/GGqJfRBKTAQ/1tZnRQGQAQAJ

[2018-01-19 08:46] mocchira opened #979 "survey: eleveldb/leveldb if there is vulnerable code against system clock correction"
As reported on https://github.com/leo-project/leofs/issues/966#issuecomment-358582625, There might be something wrong in C/C++ to handle system clock correction.

STATUS:
- DONE: eleveldb (nothing wrong here)
- DOING: leveldb

[2018-01-19 09:00] mocchira opened #980 "[all][systemd] Tune the default 30min for TimeoutStartSec"
As reported on https://github.com/leo-project/leofs/issues/966#issuecomment-358406898, we may have to consider increasing the default 30min for TimeoutStartSec in the systemd unit file as the current implementation can make leo_storage startup take longer without state files.

[2018-01-19 15:33] vstax commented on #974
@mocchira I see, thanks for looking.
Unfortunately, leofs_doctor doesn't seem to work during node startup:
[code]

[2018-01-24 00:57] windkit commented on #543
![recover-node-strict](https://user-images.githubusercontent.com/360884/35308775-9ccf2060-00ec-11e8-9c2e-8ed01727ad18.png)

1. Load image f4m data set
2. Stop storage node `S1@192.168.100.37`
3. Remove AVS files on storage node `S1@192.168.100.37`
4. Start storage node `S1@192.168.100.37`
5. `leofs-adm recover-node S1@192.168.100.37`

Here is the result of current develop branch with `is_strict_ch

[2018-01-24 07:13] mocchira commented on #977
TODO:
- [ ] leo_mq_sup: needs FIX
- [ ] leo_backend_db_sup: needs FIX
- [ ] leo_object_storage_sup: needs FIX

[2018-01-24 07:34] mocchira commented on #977
There are two possible fixes for the supervisor restart.
- Use supervisor2 https://github.com/rabbitmq/rabbitmq-common/blob/master/src/supervisor2.erl and specify the delay parameter then the supervisor restart itself will not happen anymore.
- Track all supervisor:start_child calls into the permanent ets table and restore all children based on that when the supervisor got restarted.

IMO, the for

[2018-01-24 08:32] mocchira commented on #976
I'm going to deprecate leo_object_storage_event_notifier/leo_object_storage_event in leo_object_storage and leo_storage_msg_collector in leo_storage. Instead add the following module to realize the same functionality while scaling pretty well even in case many slow processing/timeout(s) happen.
[code]
@yosukehara Take a look for review. Once the review finished, I will get to implement.

[2018-01-24 08:39] mocchira commented on #974
@vstax I see. if possible, would you like to do the same experiment with the following patch applied to leo_storage? This will make leofs_doctor work even during node startup. (after experiments, please rollback the original one without the patch)

[code]

[2018-01-24 17:09] vstax commented on #974
@mocchira
OK, here are results for slow startup when counting objects: https://pastebin.com/z9kBkRKY
and fast startup when just opening files: https://pastebin.com/1cv0xTvQ

No compactions in either case.

[2018-01-24 23:48] mocchira commented on #974
@vstax Thanks! looks exactly what I expected. (iterator_move consumes almost CPU time in erlang runtime) so implementing count on C/C++ is likely to improve the boot time. I get to implement and would like to ask you test again once it's finished.

[2018-01-25 08:36] mocchira commented on #974
### TODO
- [x] IMPL/UT leo-project/eleveldb (waiting for the review https://github.com/leo-project/eleveldb/pull/1)
- [x] micro benchmark on dev-env
- [ ] IMPL/UT leo-project/leo_backend_db
- [ ] micro benchmark on dev-env
- [ ] IMPL/IT leo-project/leofs
- [ ] benchmark on RIT

### OPTIONAL
- [ ] PR to upstream (basho/eleveldb) however looks not actively maintained now...

[2018-01-26 01:17] yosukehara commented on #976
@mocchira I've reviewed your proposal and agreed to it.

[2018-01-26 01:21] yosukehara commented on #977
@mocchira I've reviewed your opinion. I recommend it depends on [rabbitmq-common/master/src/supervisor2](https://github.com/rabbitmq/rabbitmq-common/blob/master/src/supervisor2.erl) because of keeping simple implementation.

[2018-01-26 04:30] mocchira commented on #963
https://github.com/rabbitmq/rabbitmq-server/pull/1472 this solution (raising the error_logger_hwm only during the boot then setting the original value back once the boot finished) can be applied to this issue.

[2018-01-26 07:40] mocchira commented on #974
I confirmed this fix actually improves the boot time of leo_storage without .state files. This fix will be shipped with 1.4.0-rc2 today so please give it a try if you have a chance > @vstax

[2018-01-26 07:49] #978 closed

[2018-01-30 00:09] mocchira commented on #974
@windkit Can you compare the boot time without .state files for metadata between 1.3.8 and 1.4.0-rc2 on RIT? (the number of records would be at least 10,000,000 on one node)

[2018-01-30 01:18] windkit commented on #974
@mocchira noted, let me check it

[2018-01-30 02:12] windkit commented on #974
### Test Case
8 AVS, SSD
Image f4m Load (n=3, w=2, r = 1)
[code]

### Test 1.3.8
1. Normal Boot (14s)
[code]
2. Delete State File (40s)
[code]

Test 1.4.0-rc2
1. Normal Boot (14s)
[code]
2. Delete State File (15s)
[code]

[2018-01-30 02:14] mocchira opened #982 "[all][GDPR] Erlang distribution over TLS"
Build and test erlang distribution over TLS and other security considerations based on https://www.erlang-solutions.com/blog/erlang-distribution-over-tls.html to check if it complies with GDPR.

[2018-01-30 02:25] mocchira commented on #982
As part of the article get deprecated, for which we should reference 4.3 Specifying SSL Options on http://erlang.org/doc/apps/ssl/ssl_distribution.html instead.

[2018-01-30 02:27] mocchira commented on #974
@windkit Thanks for testing. LGTM.

[2018-01-30 06:31] windkit commented on #114
I propose to add several fields in metadata for SSE-C

1. Original Object ETag
2. Original Object Size
2. Key Salted Hash (for verification)

So most operations could be handled without disk read from AVS and minimize code change at `leo_object_storage`, object encryption and decryption happens in `leo_storage`

@mocchira @yosukehara

[2018-01-30 07:39] mocchira commented on #114
@windkit

Can you elaborate

how those values contribute to minimizing the code change and disk read from AVS on each operation (GET/PUT/DELETE/HEAD/MULTIPART UPLOAD)?

and also please share the gross sequence (how it works) on each operation for the review.

Let me confirm that it's meant to be hmac for Key + Salt?
then where does the Salt come from? (I think the Salt also should be stored)

Also

[2018-01-30 07:54] windkit commented on #114
To respond to GET, HEAD, we need to know the ETag and Object Size of the original file.
Both `checksum` and `dsize` are now referred to that on-disk (after encryption), if we are not recording those, we need to decrypt, aka, disk read.

[2018-01-30 07:59] windkit commented on #114
I was thinking about salted hashing the key and store it as `$salt$hash`, salt is randomly generated.

In Amazon S3 documentation, they are storing randomly salted HMAC value (probably HMAC with a master rotating key)

[2018-01-30 08:05] windkit commented on #114
@mocchira TBH, that looks more like a marketing sentence to me...

Back to the topic, as the key is transferred to `leo_gateway` it is already in Erlang control somewhere, implementing the logic NIF does not seem to solve the problem at all.

And if there is a way to force Erlang GC particular binary, i think that solves the issue already.

[2018-01-30 09:05] mocchira commented on #114
@windkit

In case of GET, the decryption must happen so that only HEAD can benefit from the original fields right?

OK, I see.

Right. (or implementing http handling on leo_gateway in NIF but that make no sense)

We keep the key until we finish replying should be sufficient enough.

AFAIK, no way (only process heap can be GCed) so for now all we can do without any cost is just explicitly documenti

[2018-01-31 00:38] mocchira commented on #114
Note:
Even GCed the memory segment including the key, since no memset is invoked at erlang runtime, the key keep residing in somewhere on memory until the same segment will be reused and overwritten. so it's impossible to achieve this spec in any language without having ability to directly control memory.

[2018-01-31 00:40] windkit commented on #114
@mocchira

True.

As Amazon S3 does not give a strong promise like "removes the encryption key right away / immediately", I don't think it is good to say that, it gives impression that we are storing customers' keys somewhere.
To me, we are still discarding the key after we are serving the data.

[2018-01-31 01:15] mocchira commented on #114
@windkit

then we have to compare the pros/cons on each whether storing the original fields or not

- Storing original fields (size and checksum)
  - Pros
    - Improve the performance and the system resource consumption in case of HEAD
  - Cons
    - size(1+4byte) + checksum(1+4+16byte) = 26 bytes per object additional capacity needed according to
      - http://erlang.org/doc/apps/erts/erl_ext_d

[2018-01-31 01:33] mocchira commented on #114
@windkit

Yes we have to take care not to worry users more than necessary so the actual sentence should be considered as much cares as possible.

As stated above comment, from the actual memory POV, it's true the raw key keep residing in memory so if the system was taken over by exploiting other vulnerability and also which allow hackers to peek the user land memory on any offset then there is pos

[2018-01-31 03:22] mocchira commented on #114
Reference SSE-C Impl on minio: https://github.com/minio/minio/blob/master/cmd/encryption-v1.go

[2018-01-31 04:12] yosukehara commented on #114
@mocchira Thanks for sharing your comment. Let me ask you to share the draft design of the implementation.

[2018-01-31 07:24] mocchira commented on #114
The rational behind the impl on minio can be found on https://github.com/minio/sio/blob/master/DARE.md. Now I'm checking its correctness.

[2018-01-31 08:18] yosukehara commented on #114
@mocchira

Even if metadata's size little bit increases, I recommend **storing original fields (size and checksum)** because LeoFS' implementation keeps simplicity, and we can expect HEAD performance.

[2018-01-31 08:29] yosukehara commented on #114
@mocchira Thanks for sharing `minio/sio/blob/master/DARE.md`

I've read [Data At Rest Encryption (DARE) - Version 1.0](https://github.com/minio/sio/blob/master/DARE.md), and then recognized that it is a suitable implementation for LeoFS' object encryption (client-side) feature:

[2018-01-31 23:10] mocchira commented on #979
DONE.
In conclusion, there is no vulnerable code in eleveldb/leveldb. so instead I doubt there can be problematic logic in leo_storage boot phase in case its status is NOT suspending AND accepting incoming requests from leo_gateway(s). I will look into #966 again with this assumption.

[2018-01-31 23:10] #979 closed

[2018-01-31 23:26] mocchira commented on #498
- Reference
  - http://dev.splunk.com/view/logging/SP-CAAAFCK

[2018-02-01 01:34] mocchira opened #983 "[leo_storage][leofs-adm] Add recover-disk to improve the recover performance in case of disk drive failures"
### Background (shared by @vstax
When losing some data on the node (e.g. due to disk failure), node has no information on exact data that is now missing (only other nodes do). However, other nodes have no information on how data was physically distributed on this node, so they will have to send all data that has to be stored on node where failure has occurred, even if it's actually missing only so

[2018-02-01 01:49] mocchira commented on #983
As long as num_of_containers settings in leo_storage.conf is set to a same value across the cluster, how files are distributed to containers on each node is deterministic so that we can implement recover-obj-container to boost the performance of a recover process by sending files on a specific container.

[2018-02-01 07:26] mocchira opened #984 "[leo_gateway] PUT/POST a large file causes higher load and memory consumption"
### Background shared by @vstax
The POST/PUT operations for large objects (which will be stored as multipart objects) create higher load on leo_gateway compared to (client-assisted) multipart uploads in S3 mode. memory requirements increase a lot especially when uploading very large objects.

### Solution
As it's probably caused by long running erlang processes (spawned by ranch and leo_large_obje

[2018-02-01 08:20] mocchira commented on #114
As for whether storing the original size and checksum,
Since we've decided to adopt the requirement that **"An attacker is defined as somebody who has full access to the encrypted data but not to the encryption key. An attacker can also act as storage provider."** cited from DARE spec, storing the original checksum(md5) and its size could allow attackers to derive the original content by simply br

[2018-02-01 09:12] mocchira commented on #114
## Design Draft and TODO for SSE-C on LeoFS
### Spec
- https://docs.aws.amazon.com/AmazonS3/latest/dev/ServerSideEncryptionCustomerKeys.html
### Prerequisites
- LeoFS can be deployed on untrusted storage providers
  - Never storing the original checksum and size on metadata for security
  - for more details: https://github.com/leo-project/leofs/issues/114#issuecomment-362191742
- The risk describe

[2018-02-01 13:34] windkit commented on #114
@mocchira if you are thinking about brute force with original size and original md5, I would rather brute force the encryption key, which is only 256-bit......
with the same rationale, we need to think about how to securely store the key checksums for verification.

[2018-02-01 18:47] vstax commented on #984
A good way to see this is to create a large file, e.g.
[code]
Then upload it in parallel with
[code]

Near the end of upload of each file the gateway will be consuming gigabytes of memory (it's easier to see this if connection speed to gateway is limited, e.g. 100 Mbit network or with tool like `trickle`).

[2018-02-01 22:17] mocchira commented on #114
@windkit it's impossible to BFA against 256bit (check https://crypto.stackexchange.com/questions/1145/how-much-would-it-cost-in-u-s-dollars-to-brute-force-a-256-bit-key-in-a-year) OTOH, the size of an object which is supposed to encrypt could be more smaller ranging from 1 byte to theoretical limit around 10 bytes according to https://en.wikipedia.org/wiki/Brute-force_attack#Theoretical_limits.

[2018-02-01 22:26] mocchira commented on #984
@vstax Thanks for sharing. (trickle looks pretty handy compared to other similar products

[2018-02-02 02:08] mocchira commented on #966
@vstax Sorry for the late reply.

Don't mind we can reproduce the catastrophic scenario by killing some erlang processes intentionally within a certain period (anyway you can do the same through remote_console however never do it on production until the below TODOs get fixed) so additional UT which will be added through #977 should cover the fix for this.

TODO:
- [ ] https://github.com/leo-projec

[2018-02-02 02:45] yosukehara commented on #710
@mocchira I agree to *"Filtering out any item that depend on downed nodes when fetching items from a queue"* because its implementation cost is low and we can quickly recognize the effect of the implementation through tests.

If the result is not expectation, we need to consider the latter idea.

[2018-02-02 02:48] yosukehara commented on #114
@mocchira I've reviewed [this comment](https://github.com/leo-project/leofs/issues/114#issuecomment-362204133). I agree with your proposal. We can finally start its implementation.

[2018-02-02 02:50] mocchira opened #985 "[all] Versioning internal RPC protocol format"
As currently internal RPC is not versioned, errors could happen while mixed version coexist across the cluster such as during rolling upgrading. (however it could not be serious problem unless you operate LeoFS with the strong consistency setting like N=W=D=R=3 as all errors will be eventually recovered by leo_mq after completing the upgrade process)

[2018-02-02 02:56] mocchira commented on #710
@yosukehara Thanks for the review. I will get to work from now.

[2018-02-02 08:12] mocchira commented on #710
@yosukehara Prototype on my dev-box make CPU usage less than the current develop. It looks improvement however not permanent fix to me. however IMHO, it's worth implementing until we polish the latter idea.
Just in case, Can you review the below thought to push the former idea into the production quality?

In order to push the application logic (filtering out items) into leo_storage, I'd like to p

[2018-02-02 08:34] yosukehara commented on #710
@mocchira

I've just reviewed your proposal. **User Defined Filter Function** for `leo_mq` is good idea I realized. it's finally become clear how to proceed. Let's adopt this way.

[2018-02-02 08:36] mocchira opened #986 "[leo_gateway] Caching enabled on leo_gateway may make GET ignore R consistency"
Right now caching makes gateway ignore R consistency setting as copy in cache is verified only against primary node. This behavior should be changed to verify also against other nodes if needed according to the R consistency setting.

[2018-02-02 08:39] mocchira commented on #710
@yosukehara Thanks. I will send PR next week.

[2018-02-05 00:00] yosukehara commented on #986
We need to deliver a configuration of objects' consistency which are HEAD requests _(from LeoGateway to LeoStorage)_ in case of enabling the cache function, which is to strictly check the consistency of an object or not because systems' performance are affect.

LeoFS adopts `Primary Backup + Quorum Based Replication`. An object is copied to the primary node then it is replicated to the secondary n

[2018-02-05 19:09] vstax commented on #974
@mocchira
This fix works very well, thank you. Time to open container without state file is cut from 11 sec to ~2.5 sec, the process is now IO bound (60-70 MB/s reads) and CPU usage is at 20%. Overall time to open 256 containers without state files is around 12 minutes (when no compaction is performed), effectively getting rid of #980 issue at least on this system.

[2018-02-05 19:09] #974 closed

[2018-02-05 19:14] vstax commented on #966
@mocchira

I see! I had no idea, actually. I kind of assumed that "very long time" from #710 meant hours/days and lots of messages in queue, so I never thought it's possible to trigger it within just minutes and with hundreds of messages. Well, I'm glad that the cause is known.

Yes, it's much better with that fix, thanks. I closed that issue.

[2018-02-06 00:09] mocchira commented on #980
Close as https://github.com/leo-project/leofs/issues/974 solve the problem on @vstax enviromnent and AFAIK nobody else face the problem.

[2018-02-06 00:09] #980 closed

[2018-02-06 07:09] mocchira commented on #966
@vstax

Note: the upper bound of CPU usage is limited by https://github.com/leo-project/leofs/blob/1.4.0-rc2/apps/leo_storage/priv/leo_storage.conf#L237-L238 settings (default: 4 so that means around 400% CPU could be consumed by leo_mq while there are suspended/downed nodes in the cluster).  That being said, there is a workaround by setting this param to lower value which result in consuming less

[2018-02-06 07:32] mocchira commented on #977
@yosukehara @windkit
https://github.com/dLuna/chaos_monkey can be helpful to find this kind of problems in our code so I'd like to propose adding chaos_monkey to the dependencies and turn on (call chaos_monkey:on/2) while doing long running tests and so on.

[2018-02-06 08:00] yosukehara commented on #977
@mocchira I've realized we use `chaos_monkey` to avoid similar error.

[2018-02-06 08:21] mocchira commented on #709
One idea: we can make a rough estimate for the total amount of the size for (pending/ongoing) read/write ops to disk by tracking all PUT/GET requests and its size so with those values, we can implement bandwidth based watchdog and realize all requirements below
- Responsiveness
  - by tracking/restricting requests in real time.
- Less Configuration / Less Spiky
  - by deducing the disk throughput

[2018-02-06 09:02] mocchira opened #987 "[leo_storage] Measure rebalance/recover-node performance according to mq.num_of_mq_procs"
If there is a negligible time difference between 4 (current default) and the lower number like 1 or 2 then we should consider to lower the default as it turns out this number affect the CPU usage while there are suspended/downed nodes in the cluster. Details can be found on https://github.com/leo-project/leofs/issues/966#issuecomment-363331049.

[2018-02-06 13:18] mocchira commented on #709
- Reference
  - User Defined Rate Limiting Discussion on RocksDB - https://github.com/facebook/rocksdb/issues/3271

[2018-02-08 06:39] mocchira commented on #977
It turned out that using stuffs in rabbitmq-common with rebar2 forces us to make a bit hack in rebar.config as it does't form a standard OTP directory structure just after downloaded (make to be invoked).

kind of the patch below (Combo using post_hooks and raw dependencies) might work
[code]
however I seem to have connection problem when fetching lager dependencies right now so postponed for now.

[2018-02-08 06:54] mocchira opened #989 "[leo_gateway] should return 503 in case leo_watchdog get triggered"
Now leo_gateway return 500 instead of 503. this should be fixed as some clients do automatic retry only in case the code is 503.

[2018-02-08 23:40] #975 closed

[2018-02-08 23:42] #976 closed

[2018-02-09 00:38] windkit opened #990 "[Feature Suggestion] Track disk usage of buckets"
### Description
Currently, if one wants to know the disk usage of a bucket, he has to send a list bucket request.
Which we know is too heavy.

If would be useful if we can keep track the total object size of a bucket, this would be useful to implement quota and provide information for multi-tenant scanerio

[2018-02-09 00:43] yosukehara commented on #990
@windkit Thanks for your report. We already filed this issue on #127. I've closed this issue because it duplicates.

[2018-02-09 00:43] #990 closed

[2018-02-09 06:31] mocchira commented on #984
With recon, it turned out there has been memory fragmentation problems while handling PUT large objects like below (vcpu:2)

[code]
[code]
As shown above, the lower mbcs_usage has indicated a typical fragmentation symptom, and also leo_gateway has had many large binaries during high load so as a result, the default sbct (single block carrier threshold: 512K) push many binaries into single block ca

[2018-02-09 06:36] mocchira commented on #984
With the patch below applied to leo_gateway.schema,
[code]
got the following output from recon
[code]

Fragmentation problem has gone and every binaries now has been stored into mbcs as I intended however the memory usage keep being high during PUT workload so I will keep digging.

[2018-02-09 06:38] mocchira commented on #984
Reference (MUST read):
- http://erlang.org/doc/man/erts_alloc.html
- https://blog.heroku.com/logplex-down-the-rabbit-hole
- http://www.erlang-factory.com/static/upload/media/139454517145429lukaslarsson.pdf

[2018-02-09 08:41] #963 closed

[2018-02-09 10:39] mocchira opened #993 "[leo_object_storage] Pluggable AVS"
The spec of the current AVS aims to realize
- High read/write throughput
- Durable against power outages
- Able to recover the index (metadata) from AVS
- Free from inode exhaustion

while there was an assumption that DELETE operations against unstructured data rarely happen so it was not difficult choice for us to adopt append-only file format even though it come with the cost - compaction is nee

[2018-02-10 15:19] mocchira opened #994 "[eleveldb][leo_backend_db] Impl iterater_move in batch"
As it turned out that interactions _(to be precise, sending a message from an OS thread to an erlang scheduler thread)_ between erlang runtime and NIF are NOT negligible _(hogged CPU rather than Disk I/O)_ especially if the number of call times is relatively large _(For more details and evidences, see https://github.com/leo-project/leofs/issues/974)_.
https://github.com/leo-project/eleveldb/commit

[2018-02-13 00:04] #989 closed

[2018-02-14 01:50] mocchira commented on #966
@windkit See all comments on #710 for its background.

The current IMPL is almost what you said but there is also a certain sleep (configurable) per batch so CPU should not be hogged by design. IMO, #994 will solve the CPU hogged problem.

[2018-02-15 06:51] mocchira commented on #977
It turned out that the destination URL where a hex package is placed looks like below
[code]
so they are placed on s3 however on my dev-box, s3.amazonaws.com has been resolved to 127.0.0.1 for testing whether various aws-sdk-clietnts works with LeoFS as expected so fetching hex dependencies silently failed.. Please be careful > devs

[2018-02-16 00:06] mocchira commented on #967
I'll close this issue as any update doesn't come recently, feel free to reopen if you have any update > @pannon

[2018-02-16 00:06] #967 closed

[2018-02-16 00:20] mocchira commented on #984
Since a PUT with a large object is handled in parallel (as many processes being spawned through leo_pod as possible) on leo_gateway, this might affect the maximum memory usage so I'll benchmark to compare the current IMPL (in parallel) and the other (sequential) in terms of the maximum memory usage, throughput, ops and latency.
Depends on the result, we may decide to make it configurable to choose

[2018-02-16 00:26] mocchira commented on #966
#977 (WIP) will be finished before long so once the fix landed, I'll close this issue.

[2018-02-16 00:31] windkit commented on #984
First of all, I want to ask how bad was it. We did solve similar problem with large object write handler in 1.3.1
https://github.com/leo-project/leofs/issues/570

At the same time, I would try to re-do the test to check no degradation in this aspect.

[2018-02-16 00:43] mocchira commented on #943
Now we have our own eleveldb forked and have to maintain until the fix https://github.com/leo-project/eleveldb/commit/61c1f5b3cffa61372e97598e22d6b3ec274bd73d and a planned fix https://github.com/leo-project/leofs/issues/994 get merged into upstream so it might be more easy path to patch the fragmentation problem for our eleveldb rather than supporting rocksdb. I'll add the issue later.

[2018-02-16 01:09] windkit commented on #993
From my experience, catergorizing data into timestamped buckets do help much in data expiration!

[2018-02-16 01:25] mocchira commented on #984
@windkit

Try https://github.com/leo-project/leofs/issues/984#issuecomment-362363741 vstax procedure using trickle (to keep the memory usage high for a long time) on any linux with OOM enabled. leo_gateway will be killed at least on my dev-box.

It seems you've fixed the problem at that time, great. however the problem seems still remained (I also tried to set the number of worker of leo_pod to ve

[2018-02-16 01:35] yosukehara commented on #993
@mocchira @windkit I've been considering this issue from this week. After organizing my thoughts, I'll share it. Actually, it is not easy as it relates to the multi-tenancy feature.

[2018-02-16 01:45] mocchira commented on #984
Note: Test environment
- Virtualbox
- vCPU: 2
- Memory: 8G
- OS: ubuntu 16.04LTS
- Erlang: 19.x (the latest retrieved throug kerl with systemd enabled)
- LeoFS: develop on the tip

[2018-02-16 02:11] mocchira commented on #940
As there is a workaround and also https://github.com/leo-project/leofs/issues/974 has solved, we lower its priority and set the milestone to 1.4.1 or higher one.

[2018-02-16 02:16] mocchira commented on #931
We set the milestone to 1.4.1 or later as this task depends on @vstax. Please don't worry about it, test when you have enough time :)

[2018-02-16 02:24] mocchira commented on #930
#940 tried to solve the slow startup problem with parallel open between AVS directories however no improvement for some reason (still not sure at this time). so with the same approach, we might hit the same problem again so I'd like to postpone this until we will find out the root cause.

[2018-02-16 03:33] mocchira commented on #725
@vstax #812 has already solved OTOH #813 has still remained however it's not big deal so I'd like to ask you to test the delete-bucket related when you have a time. (I will set the milestone to 1.4.1 because of the same reason as https://github.com/leo-project/leofs/issues/931#issuecomment-366126397

[2018-02-16 03:40] mocchira commented on #760
As it's harmless to data at all, we set the milestone to 1.4.1 or later.

[2018-02-16 03:52] yosukehara commented on #994
@mocchira I've just confirmed your idea. I agree to it.

[2018-02-16 04:01] mocchira commented on #994
@yosukehara Thanks for taking time. I will go ahead from now.

[2018-02-16 07:52] mocchira opened #995 "[eleveldb] Make log files less fragmented"
As reported on https://github.com/leo-project/leofs/issues/940 by @vstax, eleveldb have a fragmentation problem for its .log files. This can be fixed by calling fallocate() or posix_fallocate() when creating .log file. and also we have to check how this fix would affect the performance of synced writes to .log file for safe.

[2018-02-16 08:20] mocchira opened #996 "[leo_mq] Anti entropy activities should prioritize the item with a low redundancy"
Now leo_mq consumes items one by one by simply iterating all items through eleveldb's iterator, however let's say a LeoFS running with N=3, R=W=D=2 and one node in the cluster has following 10,000 items in a leo_mq for recover object consistency
item A0001 have 1 redundancy (missing 1 replicas),
...
item A9999 have 1 redundancy (missing 1 replicas),
item B0001 have 2 redundancy (missing 2 replica)

[2018-02-19 06:34] windkit commented on #984
I have confirmed the issue exists when the GW bandwidth is limited to 10MB/s
(in 100MB/s it works as before)

[2018-02-19 12:34] mocchira commented on #569
We discussed on other channel and has come to the conclusion we have to switch rebar 3 ASAP to better integrate with other Erlang/Elixir libraries/packages which are not compatible with rebar 2.

[2018-02-20 00:38] windkit commented on #984
While I am still checking the root cause, there is something I don't feel right in `leo_large_object_put_handler`
https://github.com/leo-project/leofs/blob/master/apps/leo_gateway/src/leo_large_object_put_handler.erl#L309

when all the `leo_pod` workers are out, processes would wait 30 seconds before timeout. This seems open up a way to consume huge amount of resources.

(In general, I don't think

[2018-02-20 01:15] mocchira commented on #984
@windkit Great catch. I'm sure this must be the culprit.
To limit the memory usage as we expected, we have to restrict at the first place where the large shared binary is generated.
- https://github.com/leo-project/leofs/blob/1.4.0-rc2/apps/leo_gateway/src/leo_gateway_http_commons.erl#L861
- https://github.com/leo-project/leofs/blob/1.4.0-rc2/apps/leo_gateway/src/leo_gateway_http_commons.erl#L909

[2018-02-20 01:33] mocchira commented on #984
@windkit I discussed with @yosukehara and your most high priority task is #114 so that please proceed this task ONLY if that doesn't affect your high priority one.

[2018-02-20 23:36] #977 closed

[2018-02-20 23:39] mocchira commented on #966
@vstax Now all issues which can cause this problem have gone so I'll close, please feel free to reopen when you face the same issue again.

[2018-02-20 23:39] #966 closed

[2018-02-21 00:17] mocchira commented on #984
After the discussion with @yosukehara, we've decided to postpone this issue to 1.4.1 as this is not critical (there is a workaround using multipart-upload with S3 mode enabled). so please don't take your time for this during 1.4.0 dev-cycle.

Anyway for the record, I'll add a comment below on how to solve this issue.

We should not use leo_pod to restrict the memory usage as the large binary alloc

[2018-02-22 01:32] mocchira commented on #936
Postpone the investigation part of this issue to 1.4.1 and fixing cache documents will be filed as another issue and set its milestone to 1.4.0.

[2018-02-22 02:01] mocchira opened #997 "[docs] Fix the document as to cache on leo_gateway"
As described on comments of https://github.com/leo-project/leofs/issues/936, cache related documents should have been fixed as below.

- Cache is only available to small objects when cache_disc_capacity = 0.
    - IOW, An object which size are larger than cache_disc_threshold_len never be cached if cache_disc_capacity = 0.

- There are two different cache mechanisms for each (small and large objec

[2018-02-22 02:04] mocchira commented on #936
filed https://github.com/leo-project/leofs/issues/997 for fixing documents.

[2018-02-22 06:14] mocchira commented on #840
Done on google groups https://groups.google.com/forum/#!topic/leoproject_leofs/hO7i70t2Hpk

[2018-02-22 06:17] #997 closed

[2018-02-22 06:56] mocchira commented on #917
WIP

[2018-02-23 01:51] mocchira commented on #543
@windkit Sorry for the long delay. Looks good to me.
@vstax The final spec has been decided to what you suggested "Yes something like that. Or, alternatively, even without seek and check for the next object: just check this object's header in AVS file and that's it." This works well in almost cases through our tests.

[2018-02-23 01:51] #543 closed

[2018-02-23 01:53] #546 closed

[2018-02-23 02:25] mocchira commented on #917
@windkit When you have time,

Before getting the IMPL phase started, To validate the above sentence, I'd like to ask you to benchmark as following scenarios.

- Loading and R:W=9:1 with the settings we have usually used other than num_of_containers and backend_db.eleveldb.write_buf_size
  - Test 1
    - obj_containers.num_of_containers = [8]
    - backend_db.eleveldb.write_buf_size = 62914560
  -

[2018-02-23 07:45] mocchira commented on #994
After some experiments, I've decided to change the new I/F as below.
[code]
Comparison to the previous I/F
- Pros
  - Much less code
  - Completely independent to the existing iterator related code base
- Cons
  - Use cases are narrowed down

However the iterating function we are using in leo_mq now is ONLY
- leo_backend_db_server:first_n

That said, just covering the first_n use case would solve

[2018-02-23 08:49] mocchira commented on #836
@yosukehara
I happened to come across this issue today while doing other tasks, and at a first glance, I might find some of the culprits here so will try to fix on the next week.

@pannon Sorry for the long delay. Can I ask you some?

Let me confirm what kind of inconsistencies have happened on large files? (ex. some parts in a large file was missing, a whole object was missing etc.)
and also are

[2018-02-24 09:53] yosukehara commented on #994
@mocchira I've reviewed your idea, and I agree to deliver its function:

[code]

[2018-02-27 05:12] mocchira commented on #972
I've watched https://issues.apache.org/jira/browse/CASSANDRA-12151?page=com.atlassian.jira.plugin.system.issuetabpanels%3Aall-tabpanel and recently a big move have happened here. A Design Document has been attached
https://issues.apache.org/jira/secure/attachment/12911892/DesignProposal_AuditingFeature_ApacheCassandra_v1.docx.

IMO, Well written and I think the general idea can be applied to LeoFS

[2018-02-28 05:09] mocchira commented on #728
Now https://github.com/leo-project/leo_konsul (leo_redundant_manager replacement) has been under active development and once this works finished, we may be able to fix this issue in a more easy way like below
[code]

[2018-02-28 08:28] mocchira commented on #983
WIP

[2018-03-01 03:02] mocchira commented on #825
Given that its related to GUI spec and now we are re-considering GUI spec, this issue should be postponed until the GUI spec is fixed.

[2018-03-01 03:13] mocchira commented on #846
As the virtual-node rebalance feature will depend heavily on leo_konsul (leo_redundant_manager replacement) and leo_konsol will have lots of code changes and may impact the LeoFS quality, we will postpone this issue to 2.0.0.

[2018-03-01 05:19] mocchira commented on #572
This issue will be fixed with https://github.com/leo-project/leo_konsul (leo_redundant_manager replacement) so I'll set its milestone to 2.0.0.

[2018-03-02 06:28] mocchira commented on #983
### Purpose
Recover the data stored under a specific directory (typically mapping to a physical disk drive) from remote nodes in the cluster.

### How
Now recover-node goes through all AVS files to recover as shown below
- https://github.com/leo-project/leofs/blob/develop/apps/leo_storage/src/leo_storage_mq.erl#L500
- https://github.com/leo-project/leo_object_storage/blob/develop/src/leo_object_st

[2018-03-02 15:48] vstax commented on #812
The problem still persists. Repeating experiment described in https://github.com/leo-project/leofs/issues/725#issuecomment-325004619

[code]
Few seconds later, when stage switches to "enqueuing" I stop storage_0 node. After it's stopped (takes some time), I stop storage_1 node. After it's stopped, I start storage_0 node, then start storage_1 node.

End result:
[code]

mq-stats shows empty queues.

[2018-03-02 17:18] vstax commented on #846
This kind of turned into discussion about how to solve uneven distribution after it happened - but how about just making sure it doesn't happen instead?

For example, when creating new cluster first RING generated had *really* uneven distribution. (I checked by supplying ~2000 strings to "whereis" command). So I generated it again and again and third one was much more even than the first one. Mayb

[2018-03-06 01:35] mocchira commented on #846
@vstax Thanks for pointing this issue again. WIP however we are going to provide some kind of solution also for 1.4.x. and also will conduct some experiments to validate whether or not a degree of the current uneven distribution is expected with various factors which can affect the distribution (file name, num_of_vnodes, number of storages, replication factor).

[2018-03-07 02:16] mocchira commented on #994
Confrimed this works fine. however unfortunately this improvement couldn't solve the #710 so I'll close this issue while leaving #710 open.

[2018-03-07 02:16] #994 closed

[2018-03-07 02:20] mocchira commented on #710
Unfortunately both UDFF and #994 couldn't solve this issue essentially so we have to seek other solutions like retry-later queue as described above. Postponed it to 1.4.1.

[2018-03-07 08:19] mocchira commented on #987
The benchmark result on RIT.

### Purpose
How much time does it take to recover-node with around 600,000 objects and how does mq.num_of_mq_procs affect the time?

### Result
- mq.num_of_mq_procs = 8
  - Time to recover: 5min
  - 1min Avg Load of the node recovered: 5.5
  - 1min Avg Load of the other nodes: 4.0
- mq.num_of_mq_procs = 4
  - Time to recover: 8min
  - 1min Avg Load of the node recover

[2018-03-08 03:43] yosukehara commented on #987
I've shared the chart of the benchmarks as below:

![leofs-benchmark-for-987](https://user-images.githubusercontent.com/148770/37131916-3897fdac-22ce-11e8-9e9e-9ac343dd692b.png)

[2018-03-08 05:11] mocchira commented on #917
Now it's still under benchmarking though the latter graph in the below figure shows the result of the Test 2, looks not good shape. especially
- Load scenario (at the first peak) and R:W=9:1 mixed workload (at the third peak)

![leofs_917_bench](https://user-images.githubusercontent.com/279052/37133789-ba689e18-22d8-11e8-9dbf-892cf28b78a7.png)

however let us think for a while to decide the spec a

[2018-03-08 07:25] mocchira commented on #917
Note: The above benchmark has been conducted on the following environment.

### Environment

* OS: Ubuntu Server 14.04.3
* Erlang/OTP: 18.3
* LeoFS: 1.4.0-dev
* CPU: Intel Xeon E5-2630 v3 @ 2.40GHz
* HDD (node[36~50]) : 4x ST2000LM003 (2TB 5400rpm 32MB) RAID-0 are mounted at `/data/`, Ext4
* SSD (node[36~50]) : 1x Crucial CT500BX100SSD1 mounted at `/ssd/`, Ext4

[2018-03-08 08:23] mocchira commented on #987
https://bitbucket.org/leo-project/reports/issues/14/benchmark-v140-dev-on-rit-server#comment-43782709 get merged into develop so I'll close.

[2018-03-08 08:23] #987 closed

[2018-03-08 08:25] mocchira commented on #840
Two weeks passed and there are no complains about this change on any private/public channels so I'd like to close this issue. Please reopen if you find something wrong.

[2018-03-08 08:25] #840 closed

[2018-03-08 09:04] yosukehara opened #1000 "[leofs][tool] Provides configuration migration tool"
To be able to easily migrate v1.4's configuration to v2.0's one, we need to provide a configuration migration tool of LeoFS.

We're now considering changing the configuration names because we need to name them more appropriately.

[2018-03-08 11:42] MrApe opened #1001 "Many cause,not_found errors producing GBs of logs"
I have a 4 node cluster with N=3, D=R=W=2 setting. I deleted a lot of files using s3cmd. Now each storage node produces GBs of error logs like this:

[code]

(as you can see it's a [project fifo](https://docs.project-fifo.net/docs) installation, doing backups to leofs)

The objects all belong to the files deleted. The files I did not delete are fine. I did a `leofs-adm recover-cluster` to make the

[2018-03-09 00:12] mocchira commented on #1000
### Target Configuration List

- `backend_db.eleveldb.write_buf_size_for_metadata_in_total`
  - Calculated by `num_of_containers` * `backend_db.eleveldb.write_buf_size`
  - `backend_db.eleveldb.write_buf_size` get deprecated

[2018-03-09 00:33] mocchira commented on #917
We've decided to leave this configuration as is for 1.4.x and will change the configuration as described on https://github.com/leo-project/leofs/issues/917#issuecomment-342731074 for 2.0. No backward compatible changes but we will provide a conf migration tool for 1.4.x users who want to upgrade 2.0.
Related issue: https://github.com/leo-project/leofs/issues/1000

Please reopen this issue if you f

[2018-03-09 00:33] #917 closed

[2018-03-09 00:44] yosukehara opened #1002 "[doc] Fix recover-cluster's section because there is a possibility of misunderstanding"
I've recognized [recover-cluster's section](https://leo-project.net/leofs/docs/admin/system_operations/data/#commands_1) of LeoFS documentation is abstract and difficult to understand for LeoFS' users. We need to fix it immediately to administrate LeoFS correctly.

* Link: leo-project/leofs/issues/1001

[2018-03-09 00:52] yosukehara commented on #1001
@MrApe Thank you for your report. We would like to know your LeoFS' environment and the current state as below:

* Environment
    * LeoFS version
    * Erlang version
    * What kind of virtualization(VMWare/Docker/Xen...) are you using or using a bare metal?
    * What operating system(`uname -a`) and processor architecture(`cat /proc/cpuinfo`) and memory(`cat /proc/meminfo`) are you using?
* Co

[2018-03-09 00:55] mocchira commented on #1001
@MrApe Let me ask a few additional questions.

- The exact s3cmd with parameters when you deleted files
- Error logs if possible.

If your LeoFS version isn't the latest one (1.3.8) and you used `s3cmd rb` or `s3cmd del/rm -r` to delete files then you may hit some known issues described on https://github.com/leo-project/leofs/issues/725. If that's the case, the fundamental fix would be upgrade Leo

[2018-03-09 01:01] yosukehara opened #1003 "[leo_manager] To avoid executing recover-cluster in case of not using multi DC replication"
I've recognized LeoFS executes `recover-cluster` when not using multi DC replication. In case of that, LeoFS need to decline its command.

* Link: #1001

[2018-03-09 07:51] MrApe commented on #1001
Thanks for having a look. This is the environment:

* Leofs: 1.3.4 (from [project fifo](https://gitlab.com/Project-FiFo/FiFo/leofs))
* Erlang: 19.1
* The nodes are SmartOS zones
* System: SunOS 5.11 joyent_20170622T212149Z i86pc i386 i86pc
* The hypervisors are 4 different machines but all with a x86 Xeon E5-263x
* `zonememstat` (on 4 distinct hypervisors but copied together for better readability

[2018-03-14 01:46] yosukehara commented on #1001
@MrApe Thank you for sharing the informative report.

We're going to survey this issue from today. I'm now suspecting that this issue is similar with #859 .

[2018-03-18 23:48] yosukehara commented on #812
We have been reproducing this issue. However, we need more time to reproduce and fix it. So we decided that we fix it with [v1.4.1](https://github.com/leo-project/leofs/milestone/68).

[2018-03-20 00:16] #1003 closed

[2018-03-22 06:12] yosukehara commented on #941
To be able to retrieve other items through SNMP, I'm going to add 12 items to [LEO-STORAGE.mib](https://github.com/leo-project/leofs/blob/master/apps/leo_storage/snmp/snmpa_storage_0/LEO-STORAGE.mib).

* MQ related items
    * Total number of MQ's messages of recovery node
    * Total number of MQ's messages of async deletion
    * Total number of MQ's messages of deletion directory
    * Total nu

[2018-03-22 08:59] yosukehara opened #1006 "[RPC] To improve LeoFS' internal communication, replace its way from Erlang RPC to gRPC"
We need to improve security of internal communication to cover a new segment, "Enterprise Storage _(Secure Data Storage)_ ".

That means all data paths should be secure. To clear its needs, we've decided we replace the way of LeoFS' internal communication from [Erlang RPC](http://erlang.org/doc/man/rpc.html) to [gRPC](https://grpc.io/).

[2018-03-23 05:39] mocchira commented on #728
Since leo_konsul will be introduced on 2.0.0, this issue depending on it also should postpone to 2.0.0.

[2018-03-23 05:44] mocchira commented on #985
Since the planned breaking changes are going to happen on 2.0.0, there will be no more RPC protocol format changes in the future for 1.4.x so postpone to 2.0.0.

[2018-03-23 08:05] mocchira opened #1007 "[leo_gateway][cowboy] Upgrade cowboy to 2.2.2"
The following procedures will be needed to achieve the goal.

### TODO

- [ ] Refactor the code in leo_gateway
 based on https://ninenines.eu/docs/en/cowboy/2.2/guide/migrating_from_1.0/
- [ ] Refactor the code in leo_gateway
 based on https://ninenines.eu/docs/en/cowboy/2.2/guide/migrating_from_2.0/
- [ ] Refactor the code in leo_gateway
 based on https://ninenines.eu/docs/en/cowboy/2.2/guide/mig

[2018-03-26 13:23] Abdelwaheb-Hnaien opened #1009 "can't start Leofs Gateway"
Hello everyone,
I'm trying to start Leofs Gateway, but I can't until now make it.
I run this command [ leo_gateway/bin/leo_gateway start ]
than I check the status : [ leofs-adm status ] :

-------+--------------------------+--------------+----------------+----------------+----------------------------
 type  |           node           |    state     |  current ring  |   prev ring    |          upda

[2018-03-26 13:37] yosukehara commented on #941
I've just recognized that there is one task to completely fix this issue as below:

* [ ] To be able to insert some new statistics items of LeoStorage into [Grafana](https://grafana.com/), modify [influxdata/telegraf/plugins/inputs/leofs](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/leofs)

[2018-03-27 00:45] yosukehara commented on #1009
@Abdelwaheb-Hnaien Thank you for your report. Let me/us check the environment of your LeoFS. Do you think you could answer following questions?

### [Questions]

* Network: Can LeoGateway connect LeoManager node(s)?
* LeoFS version
* Attach error log files if that exists.
* What operating system(uname -a) and processor architecture(cat /proc/cpuinfo) and memory(cat /proc/meminfo) are you using?

[2018-03-27 05:55] mocchira commented on #1001
WIP

[2018-03-27 06:36] #1002 closed

[2018-03-27 11:57] Abdelwaheb-Hnaien commented on #1009
Thank you for your fast reply.
I'll explain the situation, I'm using LeoFS in a production environment.
I'm using EC2 CentOS 7 server.
first I run a docker image [firejun/leofs/](https://hub.docker.com/r/firejun/leofs/), it turns out that Gateway won't start, then I run another docker image [touchcast/leofs/](https://hub.docker.com/r/touchcast/leofs/) and now the gateway works fine but not able to

[2018-03-28 02:00] yosukehara commented on #1009
@Abdelwaheb-Hnaien It seems Docker image's issue. If you would like to use Docker, I recommend you write a docker file for LeoGateway instread of `touchcast/leofs/` and others.

[2018-03-28 02:03] mocchira opened #1010 "[leo_manager] whereis doesn't work for an object having grandchildren"
Like this
[code]

[2018-03-28 02:09] mocchira opened #1011 "[leo_storage] delete doesn't delete grandchildren"
Reported on https://groups.google.com/forum/#!topic/leoproject_leofs/TFCEFftftu0

After deleting an object having grandchildren, we will get the following with leofs-adm whereis
[code]

[2018-03-28 06:37] #1010 closed

[2018-03-28 06:38] #1011 closed

[2018-03-29 01:41] yosukehara opened #1014 "[data-compaction] After overwriting a large file and executing data-compaction, cannot retrieve the one"
I've found a data-compaction issue which is reproduced in following the procedure, and according to the diagnose's result, I've recognized the children and the grandchildren exist in each containers that means **the data-compaction only removed a parent object and metadata**.

### PUT objects then overwrite the same them

[code]

#### Diagnose's Result:

[code]

[2018-03-29 01:51] mocchira opened #1015 "[leo_manager] leofs-adm recover-file doesn't work for a chunked object"
escape_large_obj_sep should be applied to the given path as well as leofs-adm whereis.

[2018-03-29 01:59] mocchira opened #1016 "[leo_manager][leo_storage] leofs-adm recover-file doesn't work for a large object"
By design recover-file works only for a small object or a chunked object (after #1015 get fixed) so it can be tedious work to recover a large object which has a very large number of children so it would be great to make recover-file work also for a large object.

[2018-03-29 04:59] mocchira opened #1017 "[leo_object_storage][compaction] Grandparent objects can be removed unintentionally"
Now we have the following checks to validate objects in AVS
https://github.com/leo-project/leo_object_storage/blob/develop/src/leo_object_storage_transformer.erl#L535-L539
however there can be some cases where Meta#?METADATA.csize is set to a large value over ?MAX_DATABLOCK_SIZE(=10MB) when uploading a large object through multipart upload and its multipart chunk size is set to > 10MB.

So we have

[2018-03-29 05:06] mocchira commented on #1017
According to https://docs.aws.amazon.com/AmazonS3/latest/dev/UploadingObjects.html, its theoretical limit is 5GB so we are going to increase MAX_DATABLOCK_SIZE to 5GB.

[2018-03-29 05:19] yosukehara commented on #1014
We've recognized that this issue's root cause is #1017.

[2018-03-29 05:22] mocchira commented on #1015
Close as this was already solved in 1.3.8.

[2018-03-29 05:22] #1015 closed

[2018-03-29 06:56] mocchira commented on #1017
Since we store the csize as a 32bit field into AVS, 5GB won't work due to the buffer overflow so we've decided to set MAX_DATABLOCK_SIZE to 2GB for now.

[2018-03-29 07:14] yosukehara commented on #1014
Closed because we fixed #1017.

[2018-03-29 07:14] #1014 closed

[2018-03-29 07:20] yosukehara commented on #1017
I'm going to write "MAX_DATABLOCK_SIZE to 2GB" on the documentation.

[2018-03-29 07:25] yosukehara commented on #1017
We've checked that this issue was fixed.

[2018-03-29 07:25] #1017 closed

[2018-03-29 13:28] #941 closed

[2018-03-29 13:37] #983 closed

[2018-03-29 14:20] vstax commented on #930
@mocchira I think the problem from #940 shouldn't affect this; I mean, even if there are some internal locks in (e)leveldb preventing parallel opening of containers, compaction already works in parallel just fine. Extra level of parallelism between AVS directories probably shouldn't change anything here?

[2018-03-30 02:47] mocchira commented on #877
Close as it seems not related to. Please reopen if you find some evidence that LeoFS can affect a host hangs.

[2018-03-30 02:47] #877 closed

[2018-03-30 04:49] #775 closed

[2018-03-30 04:58] mocchira commented on #760
Confirmed #1017 fixed this issue.

[2018-03-30 04:58] #760 closed

[2018-04-03 05:31] mocchira opened #1018 "[libcutil] Fix subunit dependencies for the upcoming ubuntu 18.04"
https://github.com/leo-project/libcutil/commit/8f75fc03087ea1820c7ec6a342a3bbd02be14613 same hack should be applied to handle 18.04.

[2018-04-03 05:36] yosukehara commented on #1018
I've shared the results of some commands as below:

[code]

[2018-04-03 06:55] yosukehara commented on #1018
@mocchira I've checked this issue was fixed.

[2018-04-03 06:55] #1018 closed

[2018-04-04 00:06] rmayhue opened #1019 "Wrong mime type set for webm & webp"
LoeFS is setting an incorrect mime type for both '.webm' & '.webp' in [leo_mime.erl](https://github.com/leo-project/leo_commons/blob/develop/src/leo_mime.erl).

Line [#L422](https://github.com/leo-project/leo_commons/blob/develop/src/leo_mime.erl#L422) should be <<"video/webm">>
Line [#L424](https://github.com/leo-project/leo_commons/blob/develop/src/leo_mime.erl#L424) should be <<"image/webp">>

[2018-04-04 00:33] yosukehara commented on #1019
@rmayhue Thank you for your report. I've recognized those mime types are incorrect as you mentioned.

[Correct]

| Extension | Kind of document| MIME Type  |
|-----------|-----------------|------------|
| .webm     | WEBM video      | video/webm |
| .webp     | WEBP image      | image/webp |

If you have time, could you send a PR?

The latest version does not support it yet. We'll consider how to

[2018-04-04 01:21] yosukehara opened #1020 "[gateway] Able to modify/override and append mime types"
According to #1019 , if some part of [leo_mime](https://github.com/leo-project/leo_commons/blob/develop/src/leo_mime.erl#L422) are not correct or missing, LeoFS' user cannot fix and add mime-types with the latest version.

We're going to provide the way of fixing and appending mime types.

[2018-04-04 01:44] mocchira opened #1021 "[leo_gateway][s3] PUT Object acl should be ignored"
Reference: https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUTacl.html

Now when LeoFS receives a PUT Object acl request, the request will be processed as a normal PUT Object request so that result in making the object being overwritten as the unexpected XML file like below.

[code]

We confirmed this could happen when trying to overwrite a file using DragonDisk as reported on https://gr

[2018-04-04 05:15] mocchira commented on #1021
In order to succeed the operation for DragonDisk, I've implemented just returning 200 instead of 501 and now seems to work fine.

[2018-04-04 05:36] mocchira commented on #1001
@MrApe I've tried to reproduce this case but still no luck however with 1.3.4, there are many bugs related to handling large objects so I'd recommend you upgrade >= 1.3.8 (1.4.0 would be the best at the moment).

Regarding remained queue items, would you like to try this procedure https://gist.github.com/mocchira/1c4852c57c7b328aef46eb234b74093b ? That would free the queue on leo_storage up. I hop

[2018-04-04 06:32] mocchira opened #1023 "[test][CI] Add Concuerror test suites"
In order to detect concurrency errors systematically.
Reference: https://github.com/parapluu/Concuerror

[2018-04-04 06:40] mocchira opened #1024 "[leofs] Improve handling timeout with the backoff strategy"
Now the timeout logic with the fixed value has been scattered across the code base. those should be improved using the backoff strategy to decrease the load.
To solve this issue, https://github.com/ferd/backoff can be used.

[2018-04-04 06:43] mocchira commented on #753
Also https://github.com/ferd/pobox should be considered in general cases for safe.

[2018-04-04 07:59] MrApe commented on #1001
I temporarily solved the problem by resetting the storage completely and importing the objects. It runs fine now. However, I will do an update as soon as possible.

On 4. Apr 2018, 07:36 +0200, yoshiyuki.kanno <notifications@github.com>, wrote:

[2018-04-04 09:04] mocchira commented on #1001
@MrApe Great to hear that. I will close this issue however if you find something wrong after upgrading then feel free to reopen this issue or file another issue :)

[2018-04-04 09:04] #1001 closed

[2018-04-05 00:44] #1021 closed

[2018-04-06 07:37] mocchira commented on #995
@vstax Now the fallocate is called on every mmap region extent and It seems the fragmentation problem has gone at least on our test environments with ext4. If you have time, it would be great to check if this also works for your environment with xfs.

[2018-04-07 10:14] vstax commented on #995
@mocchira Unfortunately, I won't be able to test this (given it's not in release and the problem was noticeable only on production).. I remember that original problem was worse on xfs than on ext4, though (every fragment was 4K or 8K, but fragments were somewhat bigger for ext4).

Is this change compatible with Solaris and FreeBSD, btw?

[2018-04-07 10:27] mocchira commented on #995
@vstax

Got it. I will build the test environment with xfs and do the test in my spare time.

I've kept the same behavior (calling ftruncate) on Solaris and FreeBSD instead of calling posix_allocate as we can't ensure the enough bandwidth to test this change on those environments. So if any PR comes from the community with enough tests, we are willing to merge it :)

[2018-04-10 00:44] windkit commented on #114
## Status Update
Basic Implementation of SSEC PUT/GET (small object only, key verification skipped)
https://github.com/windkit/leofs/tree/ssec

## Related PR
https://github.com/leo-project/leo_object_storage/pull/28
https://github.com/leo-project/leo_commons/pull/13

[2018-04-10 01:39] #891 closed

[2018-04-10 02:35] windkit commented on #114
# TODO
## Cache Handling
I think we would cache encrypted one for data privacy

## Range Get Handling
### Handle at leo_gateway
Pros:
1. Do not need to send the key around
Cons:
1. Increased Traffic

[2018-04-11 06:15] yosukehara commented on #574
@mocchira My proposal is that we deliver **scrub tool** with LeoFS v2 not v1.

* 1st because, v1 should focus on maintenance without providing new features.
* 2nd because, we need to carefully design it, and we cannot implement a big impact feature on the two branches.

[2018-04-11 13:37] Abdelwaheb-Hnaien commented on #1009
@yosukehara I changed the server and everything works well now.
I think LeoFS had a **minimum hardware requirements** (2 core cpu, 4 gb RAM), at first I was running a server with 1 core cpu and 1Gb RAM, I think that's the reason why it didn't work.

Thanks for confirming that or telling us what are the reasons that might occur LeoFS Gateway not to start.

Here is the new configuration :
[code]
[co

[2018-04-12 00:33] mocchira commented on #574
@yosukehara Agree with you in terms of cost to implement/maintain both two branches. so we will provide the official scrub tool only for v2 releases and will write documents for users using v1 releases about kind of scrub best practices.

Things to be documented for v1 releases.
- Recommended frequencies to run recover-node
- Run recover-node one-by-one at off-peak time
- How to handle edge cases

[2018-04-12 05:25] mocchira commented on #1009
@Abdelwaheb-Hnaien Thanks for the additional info.

As fa as I know, there is no requirements for the number of cpu cores for the latest version.
However old versions used by https://hub.docker.com/r/firejun/leofs/ and https://hub.docker.com/r/touchcast/leofs/ have a problem which causes leo_gateway to fail to start so this might be the first problem you faced before.

As for memory requirements,

[2018-04-12 07:17] mocchira commented on #673
WIP.

Note: Since signal handling in Erlang has been supported from OTP20, we go for the nodetool way.

[2018-04-13 03:34] yosukehara commented on #114
@windkit

We need to consider its implementation way which includes your concern. We're going to share its design later.

[2018-04-13 03:40] yosukehara commented on #982
Link: #1006

[2018-04-13 14:56] francoricci opened #1028 "LeoFS storage node fails - write error"
I have LeoFS in production installed with the follwing settings:

[code]

If I suspend a singole node or stop a single node or in general a single node fails, when I try to upload a file I receive an error. The file was uploaded but when I ask leofs where is file:
`leofs-adm whereis infostud/studenti/1494447/inps4.png`
[code]

Why LeoFS try to write file to a failed node? There are 4 other running

[2018-04-15 13:28] yosukehara commented on #1028
@francoricci I've recognized that your LeoFS configuration is `Extremely High`:
* Reference: [Data Availability of Consistency Level](https://leo-project.net/leofs/docs/admin/settings/cluster/#data-availability-of-consistency-level)

### Current Configuration

[code]

When one node is stopped In this setting, LeoFS returns an error if PUT or DELETE is requested. I recommend you change its configur

[2018-04-15 15:59] francoricci commented on #1028
Thanks.
I don't understand why  LeoFS ties to write file to a failed node?
There are 4 other running nodes, it should use them!

Franco

[2018-04-16 06:41] yosukehara commented on #1028
If `Total Number of Replicas = 2` of  your LeoFS configuration , LeoFS retrieves two nodes from your LeoFS' RING whose parameter is `<Bucket>/<Sub Dir>/<Object Name>`.

* All Nodes of LeoFS _(LeoManager, LeoStorage, and LeoGateway)_ have LeoFS' RING
* It is based on [Consistent hashing](https://en.wikipedia.org/wiki/Consistent_hashing)

As long as the nodes belonging to the cluster are not changed

[2018-04-16 11:42] francoricci commented on #1028
Thanks, now it's clear.

Franco

[2018-04-16 11:42] #1028 closed

[2018-04-16 17:56] vstax commented on #1009
I'd like to add one thing from my experience. Leo_gateway can consume low amounts of memory (typically like 100 MB + cache.cache_ram.capacity) only when working in S3 mode with default chunk size for large objects (5 MB) and with low amount of clients. Right now when uploading large objects in REST mode, or when working in NFS mode gateway can consume a lot of memory under certain circumstances. A

[2018-04-19 00:17] mocchira commented on #995
@vstax I built the xfs environments and confirmed the issue has also been fixed on that so will close this issue. feel free to reopen if you find any problems.

[2018-04-19 00:17] #995 closed

[2018-04-20 00:16] mocchira opened #1030 "[leo_object_storage] Fix error handling/where to call of file:datasync in case of SYNC_MODE_WRITETHROUGH"
file:datasync should be called right after the file:pwrite call and also should handle any returned errors properly.

[2018-04-20 00:23] #1009 closed, assigned to yosukehara

[2018-04-20 01:18] mocchira opened #1031 "[leo_gateway][rest] CDN integration hasn't worked"
Because http_custome_header_settings has not been passed to the REST handler leo_gateway_rest_api.

[2018-04-20 02:57] #673 closed

[2018-04-20 02:57] #1031 closed

[2018-04-24 00:47] mocchira commented on #673
@pannon It's been a long time since you filed this issue. We've finally implemented this feature and it will be shipped with upcoming 1.4.1 (probably today) so please give it a try once it gets released.
[code]
Feel free to reopen if you find any problems.

[2018-04-25 05:44] mocchira commented on #498
No we've reached the consensus that we will rely on third-party log analysis tools like kibana, logstash etc to analyze log files and provide user-friendly error messages so we will document how to integrate LeoFS with third-party log analysis tools in our official document.

[2018-04-25 09:10] vstax commented on #498
Just wanted to share a working example for fluentd (`td-agent.conf`) that ships logs to elastic (relies on global paths to log files):
[code]

[2018-04-25 20:44] mocchira commented on #498
@vstax Thanks! That's really helpful to us. we are going to cite the above as a fluentd's example.

[2018-04-26 04:47] yosukehara commented on #431
I've confirmed <a href="https://github.com/embulk/embulk-input-s3" target="_blank">embulk-input-s3</a> did not work due to this issue. It recursively called `BUCKET-GET` as below:

[code]

[2018-04-29 09:33] Abdelwaheb-Hnaien commented on #1009
Hi,
I'd like to report two issues that I encountered with LeoFS recently:
The first one is related to LeoFS v1.4.0 , I followed exactly the same installation steps mentioned in the official documentation and everything seems to be fine but when I come to run the following command
`systemctl start leofs-manager-master leofs-manager-slave leofs-gateway leofs-storage`
it says :
**Job for leofs-manage

[2018-04-29 10:04] Abdelwaheb-Hnaien opened #1036 "Can't start leofs_manager"
Hi,
I'd like to report two issues that I encountered with LeoFS recently:
The first one is related  to LeoFS v.1.4.0, I followed exactly the same installation steps mentioned in the official documentation and everything seems to be fine but when I come to run the following command **systemctl start leofs-manager-master leofs-manager-slave leofs-gateway leofs-storage**
I get :
`Job for leofs-manage

[2018-04-29 16:57] vstax commented on #1036
@Abdelwaheb-Hnaien I'm sorry that I can't provide you with fully working solution. However, I wanted to note a few things that cause your current problem.

[code]
This won't work; you are trying to start LeoFS nodes using systemd, but systemd itself is not running inside your docker container! Additionally, even if you had systemd running, this command (`systemctl start`) would exit as soon as all

[2018-05-02 08:00] mocchira commented on #984
WIP: https://github.com/mocchira/leofs/commit/15513c47e158bbd93f15048053abba47ec07b02a

The new module - leo_throttle (realtime resource throttling) works as expected, however the memory consumption still goes over the limit. maybe there are still some place where explicit erlang:garbage_collect should be called.

[2018-05-07 12:04] yosukehara opened #1038 "[leofs-adm] leofs-adm issue when requesting msgs to LeoFS on Debian v9.x"
It is similar with Ubuntu-18.04, which was fixed with v1.4.1.

[2018-05-07 23:59] #947 closed

[2018-05-07 23:59] #1030 closed

[2018-05-09 00:16] yosukehara commented on #1038
Published its documentation as follows:

- [ FAQ / Administration / Why doesn't leofs-adm respond to a command like leofs-adm status?](https://leo-project.net/leofs/docs/faq/administration/#why-doesnt-leofs-adm-respond-to-a-command-like-leofs-adm-status)

[2018-05-09 00:16] #1038 closed, assigned to yosukehara

[2018-05-10 00:47] mocchira commented on #984
It turns out that simple web applications using only cowboy_req:body cause the same problem under concurrent connections uploading a large file with the single part upload. That being said, there is nothing Leofs can do for now to solve this problem. Since our home grown cowboy was based off the very old version of the original one, we will confirm that this problem can be fixed with the latest co

[2018-05-10 04:38] mocchira commented on #1007
Note: At first, check the latest cowboy version when you get started this issue.

[2018-05-11 03:46] #1016 closed

[2018-05-11 08:31] mocchira commented on #549
It would be good to rely on how many bytes skipped rather than timeout so I will implement it stopping the compaction if the bytes skipped go over a certain threshold which can be configurable through leo_storage.conf.

[2018-05-14 02:08] yosukehara commented on #618
Fixed  this with PR#1042

[2018-05-14 02:08] #618 closed

[2018-05-15 07:01] mocchira commented on #710
We've come to the conclusion adopting the retry-later queue approach. Since this force us to use leo_redundant_manager v2 in order to detect the status changes happened on leo_storage(s), we put off to 2.0.0.

[2018-05-15 07:04] mocchira commented on #1020
Rather than providing the way to manage mime types on server-side, we may have to focus on providing the client-side mime types management (clients can explicitly set the mime type per object basis) according to https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html#RESTObjectPUT-requests.

[2018-05-15 21:06] #549 closed

[2018-05-16 07:49] mocchira commented on #766
Get tests done in below cases.

- large_object.reading_chunked_obj_len setting
  - 5MB (current default)
  - 2MB
  - 1MB
  - 512K
  - 256K (stopped improving both throughput/latency here

As large_object.reading_chunked_obj_len gets small, Not only throughput has it improved but latency. Needless to say, the possibility the timeout happens also decreases. that being said, there are no drawbacks at

[2018-05-17 00:11] yosukehara commented on #1020
Actually, LeoFS provides multi-protocol, REST-API, S3-API and NFS v3. I propose we should follow the current specifications, not store mime types in metadata.

If we receive _"management of mime types on server-side"_ from users, we consider that again.

[2018-05-17 00:25] mocchira commented on #766
### 5M
![pl5m](https://user-images.githubusercontent.com/279052/40150305-d50dd9f6-59b3-11e8-8c51-ff7bfc357600.png)
### 2M
![pl2m](https://user-images.githubusercontent.com/279052/40150312-e463fc6e-59b3-11e8-821a-e944719d2659.png)
### 1M
![pl1m](https://user-images.githubusercontent.com/279052/40150317-e9a1ceb8-59b3-11e8-853c-b536b2784780.png)
### 512K
![pl512](https://user-images.githubusercontent

[2018-05-17 04:44] yosukehara commented on #1020
I propose that **this function's configuration format** adopt [nginx/conf/mime.types](https://github.com/nginx/nginx/blob/master/conf/mime.types). Users can add and edit it, and easily understand its format.

By centralized management of the configuration, users can quickly understand what to correct and what to add.

[2018-05-17 05:50] yosukehara commented on #1020
The latest [Cowboy](https://github.com/ninenines/cowboy) _(LeoFS utilize it as LeoGateway's HTTP server)_ uses [erlangpack / mimetypes](https://github.com/erlangpack/mimetypes), and its [mime.types](https://github.com/erlangpack/mimetypes/blob/master/priv/mime.types) is almost similar with Nginx's one. We will consider it to utilize instead of LeoFS' mime.

[2018-05-22 06:15] mocchira commented on #824
https://github.com/leo-project/libcutil/pull/6 fixed this issue so I'll close.

[2018-05-22 06:15] #824 closed

[2018-05-22 07:54] yosukehara commented on #766
We benchmarked the latest of LeoFS, `v1.4.2-dev` to find the most suitable configuration of `large_object.reading_chunked_obj_len setting`, and published [its report on leo-project/notes](https://leo-project.github.io/notes/benchmark/leofs/1.4/1.4.2/front/20180516_image2_f3m_load_ssd_for_issue766/README/). Then we reached the consensus that the suitable value is **512 KB**.

[2018-05-24 01:50] mocchira opened #1045 "[rack aware][docs] Publish the detailed explanation about rack awareness"
As I posted on https://groups.google.com/d/msg/leoproject_leofs/_3AVe-ulTxo/Nz1zaliFBgAJ, Now there is almost no information about rack awareness support on LeoFS so we'd like to publish the detailed explanation page like https://www.elastic.co/guide/en/elasticsearch/reference/current/allocation-awareness.html

[2018-05-24 01:58] mocchira opened #1046 "[rack aware] doesn't work as expected"
Now there are some cases that rack awareness doesn't work as expected.
For example, let's say that we try to create a cluster with

- 5 storage nodes (node[1-5])
- 2 physical racks (rack[1-2])
- 2 replicas (N=2) and each replica should belong to a different rack

then set the configurations as following

- replication.rack_awareness.rack_id on each leo_storage.conf
  - storage_0@127.0.0.1: replica

[2018-05-24 02:08] mocchira opened #1047 "[rack aware] rack-id isn't displayed on leofs-adm status <NODE>"
so the only way we confirm rack-id is to issue application:get_env(leo_storage, grp_level_2) on the remote console. we have to display it on leofs-adm status <NODE> to make the operation easy for administrators.

[2018-05-24 04:46] mocchira opened #1048 "[leo_manager][dockerise] for container orchestration tools like k8s"
Since leo_manager needs the IP address of their partner (master/slave) before starting it, it's impossible to boot leo_manager properly on some container orchestration tools such as k8s which doesn't allow users to set static IP address for their containers. That being said, we have to provide users with the Chart as minio does on https://github.com/kubernetes/charts/tree/master/stable/minio to ma

[2018-05-24 04:51] mocchira commented on #1048
Tips assigning static IP for those who try to deploy LeoFS on the container environment without any orchestration tools.
- https://stackoverflow.com/a/35359185

[2018-05-30 08:01] mocchira opened #1049 "[leo_storage][multipart] Abort multi-part upload (MP) leaves parts objects"
With the default setting (multipart.dont_abort_cleanup = false in leo_gateway.conf),
Invoking Abort MP has to delete all parts objects uploaded through upload part API. however they are left (only the parent object gets deleted).

Upon the result of the surveys so far, https://github.com/leo-project/leofs/blob/v1/apps/leo_storage/src/leo_storage_handler_del_directory.erl seems to have some bug in

[2018-05-30 08:05] mocchira opened #1050 "[leo_gateway][multipart] Return wrong status code in some abnormal cases"
1. The specified multipart upload does not exist. The upload ID might be invalid, or the multipart upload might have been aborted or completed. In this case, the status code should be 404 however now LeoFS returns 503 instead.
2. One or more of the specified parts could not be found. The part might not have been uploaded, or the specified entity tag might not have matched the part's entity tag. In

[2018-06-04 03:26] yosukehara commented on #762
DONE

[2018-06-04 03:27] yosukehara commented on #1049
DONE

[2018-06-04 03:27] #1049 closed, assigned to mocchira

[2018-06-04 03:28] yosukehara commented on #1050
DONE

[2018-06-04 03:28] #1050 closed, assigned to mocchira

[2018-06-04 18:56] siepkes commented on #1048
I've bumped into the same issue when deploying LeoFS on Joyent Triton.

[2018-06-07 21:17] #875 closed

[2018-06-10 22:49] yosukehara commented on #1046
Fixed it by leo-project/leo_redundant_manager/pull/9

[2018-06-10 22:49] #1046 closed, assigned to yosukehara, mocchira

[2018-06-10 22:49] yosukehara commented on #1047
Fixed it by leo-project/leofs/pull/1052

[2018-06-10 22:49] #1047 closed, assigned to yosukehara, mocchira

[2018-06-13 08:01] mocchira opened #1054 "[docs] add the explanation about the rollback command"
leofs-adm rollback enables users to rollback a detached node to the normal one.

[2018-06-13 08:06] mocchira opened #1055 "[leo_storage][mq][docs] mq-(suspend|resume) get ignored when the queue is idle"
In other words,

- mq-suspend works only when the queue is running
- mq-resume works only when the queue is suspending

Since this behavior is spec, we have to describe this behavior on the official document.

[2018-06-13 08:14] mocchira opened #1056 "[leofs_test2] Expand the test suites towards v0.6"
With https://github.com/project-fifo/libleofs/pull/1, we are going to implement
- https://github.com/leo-project/leofs_test2#v04-improve-the-basic-scenarios-retrieved-from-leofs-adms-commands
- https://github.com/leo-project/leofs_test2#v06-implement-the-advanced-scenarios-mainly-in-case-of-failures

to increase the integration test coverage.

In addition to the above milestones (0.4, 0.6), we wil

[2018-06-13 08:20] mocchira opened #1057 "[leofs_test2] Improve the test time"
Since there are many timer:sleep calls over leofs_test2 and some of its value seems to be larger more than necessary, so making those values as smaller as possible could contribute to decreasing the test time of leofs_test2.

[2018-06-15 01:19] mocchira commented on #1055
Since we've reached the consensus that mq-suspend should work even if its state is idle, I'll close this issue and file another issue to enable users to mq-suspend in such cases.

[2018-06-15 01:19] #1055 closed, assigned to mocchira

[2018-06-15 01:25] mocchira opened #1058 "[leo_mq] the state is not changed to suspend after issuing mq-suspend"
To be precise, its internal state will be changed to "suspended" however what mq-stats shows is either "idle" or "running".

[2018-06-15 01:32] mocchira opened #1059 "[leo_mq] The state suspend can be changed to running/idle by leo_watchdog"
In case the state get changed to "suspended" by issuing mq-suspend, LeoFS should keep its state "suspended" until mq-resume is issued regardless of any messages sent from leo_watchdog.

[2018-06-15 01:38] mocchira opened #1060 "[leo_mq] Improve the CPU utilization by changing consumers to event-driven way"
Now it's been polling based consuming so the CPU util tends to be high more than necessary.

[2018-06-15 01:42] mocchira opened #1061 "[leo_mq] enables users to issue mq-suspend in case the state is idle"
Reference: #1055

[2018-06-18 05:40] varuntanwar opened #1062 "LeoFS Users and Leo_Gateway Logging"
How can I restrict users not to delete files from the leofs cluster or is there any other way to get the IP address of the users which are accessing the gateway for files.
and
What is the main difference between user role_id 1 and 9?

[2018-06-18 07:06] yosukehara commented on #1062
You can control users' access with using S3-API:
* See [S3-API Related Operations](https://leo-project.net/leofs/docs/admin/system_operations/s3/#s3-api-related-operations)

We don't deliver this function but you can satisfy your request by placing HAProxy, etc in front of LeoFS.

LeoFS' Web GUI, [LeoCenter](https://github.com/leo-project/leo_center) uses this configuration _(`leofs-adm` does not

[2018-06-20 04:51] mocchira commented on #1062
@varuntanwar

Just in case, I'd drop the more specific procedure below.

1. Create user A
2. Create a bucket with the owner A
3. Set the bucket's ACL to "public-read"
4. Create user B
5. Provide LeoFS users with B's credential (Accesskey and SecretKey)

then

Operations they can do with B's credential are limited to only GET/HEAD requests. I think this might work for you, however if you aim to all

[2018-06-22 01:10] mocchira commented on #1059
Fixed with https://github.com/leo-project/leo_mq/pull/13

[2018-06-22 01:10] #1059 closed, assigned to mocchira

[2018-06-22 01:11] mocchira commented on #1061
Fixed with https://github.com/leo-project/leo_mq/pull/13

[2018-06-22 01:11] #1061 closed, assigned to mocchira

[2018-06-22 01:11] mocchira commented on #1060
Fixed with https://github.com/leo-project/leo_mq/pull/13

[2018-06-22 01:11] #1060 closed, assigned to mocchira

[2018-06-22 01:12] mocchira commented on #1058
Fixed with https://github.com/leo-project/leo_mq/pull/13

[2018-06-22 01:12] #1058 closed, assigned to mocchira

[2018-06-22 06:25] mocchira commented on #1057
Sent PR at https://github.com/leo-project/leofs_test2/pull/7

[2018-06-22 07:09] mocchira commented on #1054
Sent PR at https://github.com/leo-project/leofs/pull/1064

[2018-06-25 23:04] #1057 closed, assigned to mocchira

[2018-06-25 23:04] #1054 closed, assigned to mocchira

[2018-06-25 23:04] #514 closed

[2018-06-26 02:46] mocchira commented on #1036
@Abdelwaheb-Hnaien I think @vstax answered your question and asked you some info to solve your problem however there has been no responses from you so I'll close this issue.

Please reopen this issue and answer the asking from @vstax if you still have some problem.

FWIW for your second problem, we are going to provide official docker images for each component and helm chart for k8s deployment thr

[2018-06-26 02:46] #1036 closed, assigned to mocchira

[2018-06-29 02:20] mocchira commented on #1036
@Abdelwaheb-Hnaien Regarding the first problem, we found the problem that the packages published on github were built by OTP **without systemd enabled** so it failed to start any components due to epmd not listening to sockets from systemd.

Now we have just updated the latest(1.4.1) packages at

- https://github.com/leo-project/leofs/releases/download/1.4.1/leofs-1.4.1-1.el7.x86_64.rpm for CentOS

[2018-06-29 02:39] mocchira opened #1066 "[test] Add the integration test suites for the cluster started by systemd"
to prevent accidents like https://github.com/leo-project/leofs/issues/1036#issuecomment-401227680 from happening again.

[2018-07-03 07:34] mocchira opened #1068 "[leo_manager] log_level is not output on json I/F"
Through leofs_test2 improvements, I noticed that log_level is not output on json I/F. this info should be output as text I/F has done.

[2018-07-03 12:28] #1068 closed, assigned to mocchira

[2018-07-05 00:14] mocchira opened #1069 "[leo_manager] The response from get-(users|endpoints|buckets) are inconsistent when it's empty"
[code]

[2018-07-06 06:03] #1069 closed, assigned to mocchira

[2018-07-06 06:06] mocchira opened #1071 "[leofs_test2] Expand the test suites towards v0.4"
Implement https://github.com/leo-project/leofs_test2#v04-improve-the-basic-scenarios-retrieved-from-leofs-adms-commands-phase-1-leofs-142-will-come-out-with-v04-tests-passed

[2018-07-06 06:07] mocchira commented on #1071
Done at https://github.com/leo-project/leofs_test2/tree/0.4.3

[2018-07-06 06:07] #1071 closed, assigned to mocchira

[2018-07-06 08:17] mocchira opened #1072 "[leofs_client_tests] test for aws-sdk-cpp keeps running even if some error occurs"
Instead it should be stopped and do exit with non-zero return code

[2018-07-14 16:37] plmikhail opened #1076 "Different ring hash on masters and nodes"
This happened after we take over the node

[System Confiuration]
-----------------------------------+----------
 Item                              | Value
-----------------------------------+----------
 Basic/Consistency level
-----------------------------------+----------
                    system version | 1.3.8
                        cluster Id | leofs_1
                             DC Id | d

[2018-07-14 16:47] plmikhail commented on #1076
[manager ring dump](https://www.dropbox.com/s/ul1r263dyvts7ki/ring_cur.dump.63698805473?dl=0)
[node05 ring dump](https://www.dropbox.com/s/f1xut1pzpz268q7/ring_cur.dump.63698805628?dl=0)

[2018-07-15 02:56] mocchira commented on #1076
@plmikhail Thanks for reporting this issue and sorry for inconvenience.

Can I ask you what procedure you took for the take over in details?
The terminal log or a script you'd use for this operation would be helpful to reproduce this issue on our environment.
and also please share the previous cluster status before node01@10.3.15.101 joined in and before the old node (being replaced by node01) sti

[2018-07-15 03:12] mocchira commented on #1076
@plmikhail Once you provide the information I asked on the prev comment and it turns out that manager's ring hash is the latest (proper) one, I will ask you to issue the commands below

[code]

this would probably make the ring hash of all nodes in the cluster sync with the latest one and solve your problem.

[2018-07-15 08:51] plmikhail commented on #1076
@mocchira Thanks for the answer

Procedure from here: https://leo-project.net/leofs/docs/admin/system_operations/cluster/
- Execute `leofs-adm detach` command to remove a target node in the cluster
- Then launch a new node to take over the detached node
- Finally, execute `leofs-adm reebalance` command to start rebalancing data in the cluster

Result:
[code]
nothing changed
manager ring: 265d7b4c

[2018-07-16 15:09] vstax commented on #1076
I'd like to add a few comments on the situation. First of all, about main problem (RING). Dumps are identical on all nodes and gateways, _cur* files are identical to _prv* as well. Full dumps are here: [node05-ring.tar.gz](https://github.com/leo-project/leofs/files/2198046/node05-ring.tar.gz)

(a minor nitpick: it would be nice if timestamp was fixed for all the dumps, right now it can be "members

[2018-07-16 15:27] vstax commented on #1076
Correction: node01 (the last launched node) has 6 AVS directories with 64 containers in each. All other nodes in cluster have 16 containers in each directory. There were plans to change them to 64 containers as well eventually after whole cluster is running on physical hardware.

So this operation (takeover from node03 to node01) essentially changed number of containers on new node as well, which

[2018-07-17 00:07] #1045 closed, assigned to mocchira

[2018-07-18 03:28] mocchira commented on #1076
@vstax Thanks for the additional info, we have started the investigation and planed to do the followings

- Provides the procedure to fix the inconsistent RING problem
    - This procedure might include the operation on remote_console if it's impossible to fix the problem without remote_console.
    - Once the RING get fixed on all nodes, you'd have to issue recover-node on all nodes to recover th

[2018-07-18 13:19] vstax commented on #1076
@mocchira
Thanks! Please also advise on how to make node01 start again (wiping all queues on the rest of the nodes or some other solution), because right now it still cannot be started.

[2018-07-18 14:21] mocchira commented on #1076
@vstax

OK, Got it. let me clarify which task is the most high priority for you? maybe this one (node01 start again) ? I'm now assuming the each priority as below.

1. Get node01 back to running
2. Sync RING across the cluster somehow (then recover-node on all nodes)
3. Find out/Fix the root problem that caused the RING inconsistency on the take over operation
4. Implement the new command on leofs

[2018-07-18 14:41] vstax commented on #1076
@mocchira
I think that would be:
1. Sync RING
2. Get node01 back to running
3. Run recover-node on all nodes
4. Replace node09 (in VM) with the node running on physical hardware, using takeover procedure

Recover-node across cluster should be done after node01 is running, but making it running before RING is fixed is not very useful: the original problem of writes being refused will return. After

[2018-07-19 00:00] mocchira commented on #1076
@vstax OK. We'd like to get started as below

### Trouble Shooting
1. Sync RING
  - @mocchira (and/or other project members) will try to find out the way to do so
2. Get node01 back to running
  - @mocchira (ditto)
3. Run recover-node on all nodes
  - @vstax or @plmikhail
4. Replace node09 (in VM) with the node running on physical hardware, using takeover procedure
  - @vstax or @plmikhail
### Pre

[2018-07-19 02:57] mocchira commented on #1076
This can cause the errors (noproc) like followings

[code]

due to the number of containers changed so that rolling obj.num_of_containers back to the original one might help node01 back to running.

[2018-07-19 07:23] mocchira commented on #1076
@vstax let me tell you the current status

@yosukehara is working on this and he will provide you with the procedure to get the inconsistent RING back to the normal status. Please wait for a while.

I'm taking on this and have already answered at https://github.com/leo-project/leofs/issues/1076#issuecomment-406138897 . let me know whether or not it works

I'm taking on this and found out the repro

[2018-07-19 07:35] mocchira opened #1077 "[leo_manager]"

[2018-07-19 07:35] #1077 closed, assigned to nobody

[2018-07-19 07:58] mocchira opened #1078 "[leo_manager][leo_storage] Inconsistent RING can happen when rebalancing the cluster"
Through the investigation for https://github.com/leo-project/leofs/issues/1076, I've found out the way to reproduce this problem.

In short, Trying to join the node which node name was previously used by another node which existed in the cluster can cause this RING inconsistent problem. For example, the below procedure can reproduce the problem.

### Prerequisites
[code]

### Steps to reproduce
[c

[2018-07-19 07:59] mocchira commented on #1076
filed https://github.com/leo-project/leofs/issues/1078 to solve the root problem

[2018-07-19 11:08] vstax commented on #1076
@mocchira
Thanks for finding this out. I have a few questions:

I don't quite understand what you meant here. The current node01 was launched with [64,64,64,64,64,64] num_of_containers from the very start. And rebalance operation filled all these 64 containers in each AVS directories with data. There doesn't seem to be any meaningful rollback, unless you mean kill all the data and recreate node01

[2018-07-20 02:40] mocchira commented on #1076
@vstax

Got it. I misunderstood the situation. so yes you are right as long as you are using 1.3.8. (with 1.4.0 or higher ones, users can issue recover-disk on leofs-adm ONLY in case every node has a same num_of_containers setting.)

Thanks. I'd better understand the current situation.

Given that what you shared on the above comment and what I observed by reproducing this problem with https://git

[2018-07-20 07:51] mocchira commented on #1078
I'd like to summarize what happens when hitting this issue.

### What happens
- Manager's RING table get broken
    - OTOH, Manager's cluster member table keep being healthy
- No Storage/Gateway's RING table get broken
- The rebalance(takeover) operation itself on storage nodes succeeds even though some errors get appeared on error.log
- No side effects by issuing leofs-adm recover-ring
    - beca

[2018-07-20 07:54] mocchira commented on #1076
@vstax I summarized this problem at https://github.com/leo-project/leofs/issues/1078#issuecomment-406518483 so please check it out.

[2018-07-20 08:00] mocchira commented on #1076
@vstax Now it turns out that All Storage's RING table has been correct and all takeover operations has gone well so you can ignore any comments dropped at https://github.com/leo-project/leofs/issues/1076#issuecomment-406472111 to save your time, instead please check https://github.com/leo-project/leofs/issues/1078#issuecomment-406518483 out as described above.

[2018-07-20 09:00] mocchira commented on #1076
@vstax

Can you check that you had deleted the queues for delete-(bucket|directory) on node01?
The default path is ${QUEUE_DIR}/del_dir/state.
On my dev-box, it's placed as below
[code]

From what I understand through reading the source code,

[code]

Those errors never happen in case ${QUEUE_DIR}/del_dir/state is properly created (automatically created during the boot process on a storage node)
S

[2018-07-20 09:11] mocchira commented on #1076
This racy problem will be fixed by moving the leo_backend_db for delete-(bucket|dir) initializing logic (currently placed at https://github.com/leo-project/leofs/blob/v1/apps/leo_storage/src/leo_storage_app.erl#L236-L237) to the position before https://github.com/leo-project/leofs/blob/v1/apps/leo_storage/src/leo_storage_app.erl#L174 (this will start the rpc service so that any gen_server on a sto

[2018-07-20 10:34] vstax commented on #1076
@mocchira

Yes, I was removing del_dir as well (everything except for "membership" subdirectory, in fact). Maybe it would be of help: del_dir was **NOT** recreated. The startup fails without creating this directory. Here is exactly what I did
[code]
At the end of startup node fails with messages like above, and here is output of `ls /usr/local/leofs/current/leo_storage/work/queue` after that:
`1

[2018-07-20 11:57] vstax commented on #1078
@mocchira
Thanks! The RING is in order now, cur/prev version on manager is the same as it was on the nodes right now.

node01 still refuses to start (with del_dir removed). Maybe full logs will help, info:
[code]
error:
[code]

crash.log (last part; before that there are few others ERROR REPORTS regarding different files, they look exactly like the one I quoted here):
[code]

Should we remove all

[2018-07-20 12:57] mocchira commented on #1078
@vstax

Yes as I've answered at https://github.com/leo-project/leofs/issues/1076#issuecomment-406536504

The below is the relevant information quoted from the above comment.

So the procedure you would have to take is
- deleting all queue files in the cluster
- issuing mq-suspend leo_delete_dir_queue_[1-8] on all storage nodes except node01
- restarting node01

OR

Wait for the racy problem I desc

[2018-07-20 13:04] vstax commented on #1078
@mocchira
Ok, I'd like to go with the first plan, but I have a question: do you mean deleting queue subdirectories *with node running*? Is it safe? Because I was thinking of shutting down all storage nodes for a short time and removing directories when no nodes are running, then starting all nodes (with node01 probably being the last).

(cherry-picking/building and installing would be pretty hard

[2018-07-20 13:15] mocchira commented on #1078
@vstax

Got  it.

No. It's not safe so

The above procedure you commented would be best if it's allowed to stop all nodes for a short time.
One thing I would like to suggest is "starting node01 at first".
Because the racy problem could happen in case the other nodes have delete messages in their queue and send those messages to node01 during its startup phase so starting node01 at first would avoi

[2018-07-20 15:30] vstax commented on #1078
@mocchira
Thanks, the procedure with removing all queues worked. node01 is up and running. Now will be executing recover-node for all nodes for now (starting with node09), one by one to make sure that data is not lost.

However, the original problem with errors in logs of node01 has returned. There are messages in logs like
[code]
Whereis output:
[code]
Another strange one is
[code]
[code]

Anyhow

[2018-07-21 11:41] vstax commented on #1076
@mocchira

Sorry that the question was not clear. It was probably too abstract from your point of view; it was just an example, what I really want to understand is how recover-node operation scans objects and whether it cares about anything except for new (current) RING.

Let's assume that yes, all nodes have new RING. Let me rephrase the question. From what I understand, what `recover-node Sx` es

[2018-07-21 13:25] mocchira commented on #1078
Great to hear that.

I see. This might be something other problem happening only on node01. I will dig in from the next working day.

[2018-07-21 13:40] mocchira commented on #1076
OK. I think I got your point now.

Since LeoFS tries to find the requested file based on the current(for PUT/DELETE) or prev(for GET/HEAD) RING, so

With this assumption,

It will NOT because LeoFS can't find the object "A" with (current/prev) RING.

No it won't due to the same reason above.

[2018-07-21 13:57] vstax commented on #1076
@mocchira
Thanks! I understand now (also why what you called "over wrapped nodes" are important here).

[2018-07-22 00:55] mocchira opened #1079 "[f_ring] Dump RING before changing it"
The dumped RING can be used for restoring and also would be useful for the diagnosis.

[2018-07-22 01:06] mocchira opened #1080 "[leo_manager] Recover manager's RING in case storage's RING is correct in a manual way"
In order to deal with cases like https://github.com/leo-project/leofs/issues/1078

Through the investigation for #1078, It turns out that we can recover the manager's RING by just issuing the command "leo_redundant_manager_api:create()." on remote_console if you are sure that the cluster member list is correct.

[2018-07-22 01:11] mocchira opened #1081 "[leo_manager] Restore/Rollback RING from files generated by dump-ring"
In case RING get broken for some reason.

[2018-07-22 01:23] mocchira opened #1082 "[leo_storage] Fail to start in case it receives delete-(bucket|dir) messages during its startup"
As I described at the latter part of the comment here: https://github.com/leo-project/leofs/issues/1076#issuecomment-406536504, there is a racy problem which prevents leo_storage from starting up correctly.
We can fix this issue by doing https://github.com/leo-project/leofs/issues/1076#issuecomment-406539455.

[2018-07-22 01:59] mocchira commented on #1078
- When an unavailable error can happen on leo_storage with 1.3.8
  - Any watchdog got triggered
  - Write blocking time due to the compaction in switching the old AVS to the new one
  - The number of Erlang processes is exceeding the threshold process_limit specified in leo_storage.conf
  - No available nodes found during the read-repair process

[2018-07-22 03:22] mocchira commented on #1078
@vstax Given that
- IIRC, All watchdogs disabled on your cluster
- Any compaction is not running now on node01
- If you don't modify the process_limit then it rarely happens to exceed the default (1048576) except massive amounts of PUT/DELETE operations have been sent to the cluster

That being said, `{cause,unavailable}` is most likely to be caused by the last one so RING managed by leo_redundant

[2018-07-22 09:20] vstax commented on #1078
@mocchira
Yes, watchdogs are in default configuration (just rex), no compactions and process_limit was never reached (`procs | 3586/1048576`). All configuration and stats (everything default, really, except for AVS directories and num_of_containers) are identical between nodes. The only difference between node01 and the others is 64 AVS containers per directory and troubles that followed the takeo

[2018-07-24 00:33] mocchira commented on #1078
@vstax Thanks. It seems no problems around RING. Anyway, I've just remembered there has been a drawback in increasing num_of_containers while it has several advantages like decreasing the AVS file size, minimizing the compaction time etc.

Increasing num_of_containers results in increasing the number of erlang processes (You can think of it as the degree of concurrency) dealing with AVS operations

[2018-07-24 00:47] mocchira commented on #1078
@vstax if increased num_of_contianers is the culprit then you may decrease its value to more lower one to solve this problem.

[2018-07-24 05:00] yosukehara commented on #965
* [create_user's transaction - apps/leo_manager/src/leo_manager_console.erl#L2097-L2132](https://github.com/leo-project/leofs/blob/1.4.2/apps/leo_manager/src/leo_manager_console.erl#L2097-L2132)
* [import_user's transaction - apps/leo_manager/src/leo_manager_console.erl#L2156-L2175](https://github.com/leo-project/leofs/blob/1.4.2/apps/leo_manager/src/leo_manager_console.erl#L2156-L2175)

[2018-07-24 05:11] mocchira opened #1083 "[leofs] Improve Circle CI tasks to deal with the release"
When a tag is created on v1/v2 branch, we think of it as a release and do the following tasks

- Make packages for each supported platform
  - Ubuntu14.04/16.04/18.04
  - CentOS6/7
- Make a release on github.com by using github API with packages created by the above task
- Run the integration test using each package

[2018-07-24 07:52] vstax commented on #1078
@mocchira
Thanks for looking.

Actually now that I checked, there are 100% CPU spikes in Eleveldb thread for a second or two every 5-7 seconds or so:

[code]

However, these are present on all nodes in cluster. Still, it's somewhat strange.

Anyhow, leo_doctor output for problematic node node01: https://pastebin.com/0WxpQF4p

And for node05 which is under recovery atm (as in `recover-node node05`)

[2018-07-24 08:57] mocchira commented on #1078
@vstax Thanks for the quick reply with the result of leofs_doctor on several nodes. It seems there are no problems at all. so my assumption was wrong.

Yes this can be the original source problem so I will dig into this from now on.

The queue filling up phase happening right after recover-node get started tend to hog only one OS thread (iterating eleveldb to find objects to be sent to the target

[2018-07-24 09:27] vstax commented on #1078
@mocchira

I see. None of the nodes were filling queues in any of the above examples, though. node01 and node09 weren't doing anything with the queues and node05 was only accepting data pushed by queues from other nodes. I don't know if processing of recovery queue on e.g. node07 which is pushing data to node05 can cause any kind of load on node01 (which is long done with its recovery queue), thou

[2018-07-25 04:42] mocchira commented on #1078
@vstax

Processing of the recovery queue on node07 which is pushing data to node05 (led by leofs-adm recover node05) shouldn't cause any kind of load on node01. (only node07 and node05 can be affected)

I see. please check it out once the every recover-node operation has finished.

Yes I think so (actually I was going to ask you to do so if I couldn't find any solution within a certain period) jus

[2018-07-25 06:11] mocchira opened #1085 "[leo_storage] Allow users to choose a network for each (online/offline) processing"
In order to avoid the offline processing affecting the online processing in terms of network bandwidth. This feature will be important when someone try to build LeoFS as a service and guarantee its users with SLA including a minimum bandwidth and a maximum latency etc even while some maintenance is going on.

Notes:
- What the online processing is
  - GET/PUT/DELETE/HEAD/LISTING requests from gate

[2018-07-26 08:44] #1082 closed, assigned to mocchira

[2018-07-26 12:01] vstax commented on #1078
@mocchira
I've tried to check what these high-CPU consumption Elevedb threads are doing with strace. Not perfect, I know, and it's hard to make anything out of this output, but maybe you will have some ideas about what might be going on (or more like, if there is something strange in there or not)?

Here is trace from node06 which is not participating in any recovery, queues are all at zero. The l

[2018-07-26 21:28] vstax commented on #1078
@mocchira
Some good news, one of the problems is gone! (also feel free to ignore strace output from my previous comment as I made a better one here).

Since recovery was finished for 5 nodes, I was trying some experiments that might show the nature of the problem. I suspended and stopped node01 (it had zero queues at that moment) and wiped all the data from AVS. Launched it without data (same sett

[2018-07-27 22:34] mocchira commented on #1078
@vstax

Great to hear that! and I see regarding the prev comment.

Now I'm suspecting that some lock contention has occurred because of scrambling for some shared resources between underlying leveldb instances. This rarely happens in case num_of_containers is relatively small however it starts to happen once num_of_containers goes above a certain threshold (192 or 256 as you mentioned). I will loo

[2018-07-27 23:09] mocchira commented on #1076
@plmikhail @vstax I think the root problem is now filed on #1078 so we can close this issue so please do so if there are no remaining problems.

[2018-07-27 23:26] mocchira opened #1086 "[leo_storage] Setting a large num_of_containers causes leo_storage not to work properly"
Going through #1076 and #1078, it turns out that Setting a large num_of_containers causes leo_storage not to work properly (many errors will start to appear on the node with such setting)
As I mentioned at https://github.com/leo-project/leofs/issues/1078#issuecomment-408555356, some resource contention may happen on underlying leveldb instances.

[2018-07-27 23:37] mocchira commented on #1078
Now it turns out that there have been three problems in the original issue filed on #1076 .

1. Manager's RING got broken
2. A large num_of_containers setting can cause leo_storage to dump many errors
3. CPU spike by eleveldb (and leveldb) threads

I'm going to deal with the first problem here, the second problem here: https://github.com/leo-project/leofs/issues/1086. I think the last one will pro

[2018-07-28 02:19] mocchira opened #1088 "[all] Remove the dependency to erlang-sd_notify"
Now we are using https://github.com/systemd/erlang-sd_notify for the integration with systemd from 1.3.8. However there are some drawbacks depending on it like
- A few hacks are needed around building tools (Makefile, reltool.conf, scripts for packaging)
- External dependency
- erlang-sd_notify is written in NIF

Fortunately, @maxlapshin has published the erlang native solution at https://gist.git

[2018-07-28 03:19] mocchira commented on #1083
Reference:
- https://developer.github.com/v3/repos/releases/#releases

How to make a release with CI
- Build all supported packages
- Run the integration test with the packages
- Call https://developer.github.com/v3/repos/releases/#create-a-release with draft = true
- Call https://developer.github.com/v3/repos/releases/#upload-a-release-asset with the release-id (generated by the above call) for a

[2018-07-28 08:05] #1076 closed, assigned to mocchira

[2018-07-30 07:40] yosukehara opened #1089 "[LeoGateway] No error log when setting an invalid IP of one of LeoManager nodes"
LeoGateway did not output error log when setting invalid IP of one of LeoManager nodes. However, LeoGateway's process was alive as below. The correct behavior of LeoGateway is that it outputs an error log and stops itself.

### The process of LeoGateway node:

[code]

### The result of `leofs-adm status` command:

I confirmed that the result of `leofs-adm status` is correct, which means LeoManager

[2018-07-30 14:00] vstax opened #1090 ""whereis" output can be wrong when the storage node is slow"
Situation: in cluster of 6 nodes running 1.4.2 a new node (node02) is getting recovered in takeover operation (node09 -> node02). This appears in log of the node02:
[code]
To check what's going on I execute whereis and it is very slow to respond, after some time it produces the output:
[code]

I execute whereis again and get this output:
[code]

There are two problems. First (minor) is that object

[2018-07-30 20:33] vstax opened #1091 "Rebalance get slow down when ingesting messages into leo_rebalance_queue"
Please note that I don't have solid evidence about this problem as it's mostly observation, more like a feeling that there might be some issue here. Observing how "rebalance" (during node takeover operation) works on 1.4.2 I get the feeling that it works much slower than on 1.3.8 before. The queues are barely processed and CPU load on nodes (all except for one being recovered) is *extremely* high,

[2018-07-31 07:35] mocchira commented on #1091
@vstax Thanks for reporting in details.

I've checked the all changes committed during 1.3.8 and 1.4.2. Almost all changes are to

- Add the additional features
- Fix bugs
- Improve performance

however there are two exceptions (Improve something at the expense of **performance** or in other words **load against disks**.

- Improve the performance of delete a large-object (which can happen on abor

[2018-07-31 08:01] vstax commented on #1091
@mocchira
Thanks for checking. No, its not critical at all (and the cluster "got over" it).

Hmm no disk load at all (and I don't think there should be any significant amounts of multipart objects anyway).

Maybe, or maybe it's something else. Because, like I mentioned, I saw pretty similar situation on 1.3.8 on 3 nodes in VM, then on 2 nodes on VM, then on last VM node as they were taken over by

[2018-07-31 08:17] mocchira commented on #1091
@vstax Thanks for the quick reply.

Great to hear that.

OK. Thanks to your hints, I've just noticed a few things which only get executed on rebalance paths and may become sort of bottleneck (now we keep tracking the number of messages per VNode during the rebalance and this logic depends on ets (erlang's builtin in-memory key value store). since this module may use so-called spin lock to deal wit

[2018-08-01 00:10] yosukehara commented on #1089
LINK: https://github.com/leo-project/leofs/pull/1092

[2018-08-01 00:10] #1089 closed, assigned to yosukehara

[2018-08-01 00:37] yosukehara opened #1093 "[LeoStorage] No error log when setting an invalid IP of one of LeoManager nodes"
This issue is same as #1089. It is necessary to connect with LeoManager nodes when LeoStorage is launched.

[2018-08-01 01:56] mocchira commented on #1091
It turns out that some unnecessary operations make the rebalance slower than what it should be.

- Count the number of messages per VNode
- Send the above info to LeoManager

Especially the former one tend to consume much CPU resource in the phase ingesting messages into leo_rebalance_queue.

Since it turns out that those operations are unnecessary, we will fix this issue by getting rid of those o

[2018-08-01 02:13] mocchira opened #1094 "[leo_gateway] Reading a file through s3fs can fail"
### Prerequisites
- s3fs: https://github.com/dask/s3fs

### The code to reproduce
[code]

### What happens
[code]

### Consideration
- Error happens when the parquet file size >= around 11MB
- Error never happens when the parquet file size <= 10MB

That being said, there is something wrong when handling Range GET to a file which chunks >= 3.

[2018-08-01 03:15] FunnyRyan opened #1096 "How to make leofs storage support streaming media ?"
How to make leofs storage support streaming media,
 I want to use it as a backend storage for video sites

tips:
S3 Gateway
supoot MP4 at lest
HTML5 Player

[2018-08-01 03:16] FunnyRyan commented on #1096
Thank you guys

[2018-08-01 04:04] FunnyRyan commented on #1096
another problem was.....when i using command "leofs-adm create-user myuserID"
there was error message below:
/usr/local/bin/leofs-adm: line 71: lsb_release: command not found
/usr/local/bin/leofs-adm: line 72: lsb_release: command not found

dose anybody know why ?

[2018-08-01 04:09] #1093 closed, assigned to yosukehara

[2018-08-01 04:39] mocchira commented on #1096
I want to use it as a backend storage for video sites

S3 Gateway
supoot MP4 at lest
HTML5 Player

Yes you can with LeoFS >= 1.3.8. (The current stable is 1.4.2)
Actually there were another user trying to watch video files stored in LeoFS through the video tag (HTML5 Player) at https://groups.google.com/forum/#!topic/leoproject_leofs/wOiid2kR5c4

However I'd strongly recommend you put some reverse

[2018-08-01 05:00] FunnyRyan commented on #1096
thank u  :>

[2018-08-01 07:29] mocchira commented on #1094
It turns out that s3fs can make a part request in a different size on each part as described below.

[code]

(The fifth column denotes the size of a body LeoGateway receives.)

Since LeoGateway expect the part size to be same among all parts except the last one when calculating the position where to start to read, LeoGateway fails to respond to a GET with Range request (wrong data can be returned

[2018-08-01 07:31] FunnyRyan commented on #1096
I have built a single machine for leofs
It works, I bind Endpoint, and can upload or download files via  DragonDisk.
But i can't access files through the 80 port using direct link like this: http://testbucket.leofs.mydomain.com/test.jpg
Test.jpg exists in the bucket, I can download or delete it via DragonDisk.

dose anybody know why ?

thank u guys

[2018-08-01 07:40] FunnyRyan commented on #1096
the testbucket's ACL was public-read, is it right ?

[2018-08-01 07:43] mocchira commented on #1096
If you run LeoGateway with the protocol set to s3 (default) at https://github.com/leo-project/leofs/blob/v1/apps/leo_gateway/priv/leo_gateway.conf#L48-L49 then HTTP access need the authentication header defined in S3 protocol spec.
That being said, you need to set protocol to rest or set the ACL to public-read|public-read-write.

[2018-08-01 07:43] mocchira commented on #1096
Yes that should work.

[2018-08-01 07:46] FunnyRyan commented on #1096
Thank you very much. Some  cloud  i have used before need to be token verified. I think this is the problem, I will go see

[2018-08-01 08:08] FunnyRyan commented on #1096
excuse me
How does leofs achieve token protection?

The last question has been resolved
thank you very much

[2018-08-01 09:40] mocchira commented on #1096
@FunnyRyan Great to hear that then I'll close this issue. (Please reopen the issue or file another issue if you face another problem)

[2018-08-01 09:40] #1096 closed, assigned to mocchira

[2018-08-01 11:34] FunnyRyan opened #1097 "How does leofs achieve token protection?"
How does leofs use tokens to protect files?

[2018-08-02 00:15] mocchira commented on #1097
LeoFS protect files by implementing AWS S3 Authentication in accordance with its spec defined at https://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html.

So in order to understand "How does leofs use tokens to protect files", I think you'd need to read the above spec.

Please feel free to ask me again if I misunderstand your question.

[2018-08-02 00:18] #1079 closed, assigned to yosukehara, mocchira

[2018-08-02 01:56] mocchira opened #1098 "[docs] Add the explanation on how LeoFS handle streaming media"
There has been questions about how LeoFS handle streaming media files at
- https://groups.google.com/forum/#!topic/leoproject_leofs/wOiid2kR5c4
- https://github.com/leo-project/leofs/issues/1096

so it'd be good to have the explanation about it on the official docs.

[2018-08-02 02:51] mocchira commented on #1090
@yosukehara

IMHO, this should be fixed. how do `leofs-adm whereis` show those differences?
Now in any failure cases, whereis output the value only at the node column and empty at other columns  as shown below
[code]
Since the additional error column is so lengthy and outputting the error detail in an existing column looks weird, How about showing the error detail at the bottom apart from the tabl

[2018-08-02 04:46] yosukehara commented on #1090
@mocchira I agree to clarify the result of `leofs-adm whereis` command:

[code]

[2018-08-02 05:06] mocchira commented on #1086
WIP. the number of native OS threads created by eleveldb could be problem. I'll test with num_of_containers set to a large value to check if the assumption is correct.

[2018-08-02 08:17] FunnyRyan opened #1099 "Does leofs have storage quota management?"
I didn't see the relevant commands in the documentation. Does anyone know?

[2018-08-02 09:09] vstax commented on #1090
I have a suggestion, I think that output
[code]
is confusing. Because it's in the list of failures and looks like some kind of internal error ("File not found" just sounds like a very typical error where some *actual* file is missing on the filesystem), so the real meaning - that the object is just missing on that node - is a bit hard to grasp.

I suggest either not to list "File not found" in "Fa

[2018-08-02 11:38] mocchira commented on #1099
Unfortunately LeoFS has not supported the quota management yet.
However there are some related issues already filed on github.

- https://github.com/leo-project/leofs/issues/127
  - Keep tracking the size of a bucket
- https://github.com/leo-project/leofs/issues/557
  - Multi-Tenancy Support

That being said, we may implement the buckcet/user level multi-tenancy and limit the used disk space per b

[2018-08-02 11:46] mocchira commented on #1090
@vstax Thanks for your suggestion.

Make sense to me.

The former sounds good to me.

[code]

@yosukehara Thoughts?

[2018-08-02 16:36] FunnyRyan commented on #1098
mp4 also can't be load by video.js

URL :http://backet01.leofs.mydomain.com:8080/2.mp4

Connection: keep-alive
Date: Thu, 02 Aug 2018 16:34:36 GMT
Content-Length: 0
Server: LeoFS
Content-Type: video/mp4
ETag: "d41d8cd98f00b204e9800998ecf8427e"
Last-Modified: Thu, 02 Aug 2018 15:27:10 GMT
x-amz-meta-leofs-from-cache: True/via memory
X-From-Cache: True/via memory

[2018-08-02 23:56] mocchira commented on #1098
@FunnyRyan It looks like uploading "2.mp4" failed because the response header from LeoFS included **Content-Length: 0** so uploading the "2.mp4" file may fail (or just uploading 0 byte size for some reason).

Can you tell us how you uploaded the file?

- The original file size of "2.mp4"
- S3 Client you use
- How you use it
- HTTP Request Header sent to LeoFS
- HTTP Response Body from LeoFS
- Acce

[2018-08-03 02:29] mocchira commented on #1083
Reference: https://hub.github.com/hub-release.1.html

[2018-08-03 06:21] FunnyRyan commented on #1098
I uploaded this video again with DragonDisk, still can't play it.
http://backet01.leofs.xiaohost.com:8080/2.mp4
Connection: keep-alive
Date: Fri, 03 Aug 2018 06:22:28 GMT
Content-Length: 659938
Server: LeoFS
Content-Type: video/mp4
ETag: "0788294c879201c7d8d0221c5bc166be"
Last-Modified: Fri, 03 Aug 2018 01:17:41 GMT
x-amz-meta-leofs-from-cache: True/via memory
X-From-Cache: True/via memory

**But

[2018-08-03 07:19] mocchira commented on #1098
@FunnyRyan Thanks for sharing the accessible links. I did sniff HTTP req/res and It seems LeoFS respond to GET with Range requests properly however the client (video.js) don't think of the response from LeoFS as valid ones. Since LeoFS may violate the HTTP spec regarding Range/Content-Range headers, I will look into the issue further.

[2018-08-03 07:30] mocchira commented on #1098
@FunnyRyan It seems that on my dev-box

- I can play the video (two guys are fighting each other at some office?) on Edge & Firefox
- I can't play on Chrome

So there might be problems related to Chrome.

[2018-08-03 07:41] FunnyRyan commented on #1098
Product managers and programmers are playing because of functional requirements

I can't play it on my phone or PC Chrome

but working on IE...or Media Player

[2018-08-03 08:01] mocchira commented on #1098
I see. It seems that working environments (IE, Edge, Firefox) issue GET and get the full content through 200 response OTOH NOT working envs (Chrome etc) issue GET with Range and get the full content through 206 response so the latest Chrome doesn't think of the 206 response from LeoFS as valid one for some reason. I'll get back to you once I find the root problem.

Memo: HTTP headers sniffed by De

[2018-08-04 00:01] mocchira commented on #1098
@FunnyRyan it turns out that I can play the video (2.mp4) on Chrome. so let me ask you about your system

- LeoFS version
- OS (including version)
- System Architecture
  - ex)
    - Browser <-> LeoGateway <-> LeoStorage
    - Browser <-> Nginx <-> LeoGateway <-> LeoStorage
    - Browser <-> HAProxy <-> LeoGateway <-> LeoStorage

On my dev-box,

- Browser (the latest Edge, Firefox, Chrome) <-> Leo

[2018-08-04 17:17] FunnyRyan commented on #1098
soft version :
LeoFS v1.4.2
LeoGateway && LeoStorage working on CentOS Linux release 7.5.1804 (Core)

my Browser version was:
Chrome 67.0.3396.99

Chrome<-> LeoGateway <-> LeoStorage

[2018-08-05 15:48] FunnyRyan opened #1100 "excuse me, how to change the default port 8080 to 80 ?"

[2018-08-06 07:46] mocchira commented on #1100
As you can see at the below links,
- https://github.com/leo-project/leofs/blob/v1/apps/leo_gateway/priv/leo_gateway.conf#L56
- https://leo-project.net/leofs/docs/admin/settings/leo_gateway/#leogateway-configurations

You can change the port through http.port in leo_gateway.conf

[2018-08-06 07:48] mocchira commented on #1098
@FunnyRyan Thanks. I will try to reproduce with the environment almost similar to yours.

[2018-08-06 07:53] mocchira commented on #1098
@FunnyRyan Also I may ask you make http://backet01.leofs.xiaohost.com:8080/2.mp4 accessible again when I fail to reproduce the issue with your setting on my dev-box in order to capture the packets flowed between the browser and LeoGateway.

[2018-08-06 09:10] FunnyRyan commented on #1100
thank u

[2018-08-06 09:20] FunnyRyan commented on #1098
I uploaded another mp4 video yesterday, and the strange thing is that it works.
so,i rebuild server's system....
I am now trying to build a leofs with multiple machines and then testing it...

[2018-08-06 11:22] FunnyRyan opened #1101 "closing this topic please"
...

[2018-08-06 15:48] FunnyRyan commented on #1101
# Please check roles/common/vars/leofs_releases for available versions
[all:vars]
leofs_version=1.4.2
build_temp_path="/tmp/leofs_builder"
build_install_path="/tmp/"
build_branch="master"
source="https://github.com/leo-project/leofs/releases/download/1.4.2/leofs-1.4.2-1.el7.x86_64.rpm"

[builder]
45.79.96.27

# nodename of leo_manager_0 and leo_manager_1 are set at group_vars/all
[leo_manager_0]
4

[2018-08-06 15:49] FunnyRyan commented on #1101
source="source"
also doesn't work.....

thank u

[2018-08-06 23:53] #1101 closed, assigned to nobody

[2018-08-06 23:56] mocchira commented on #1098
@FunnyRyan OK. Let me know once you finish to test on the new cluster.

[2018-08-06 23:57] #1100 closed, assigned to mocchira

[2018-08-07 15:44] FunnyRyan opened #1102 "There was an error when i useing ansible stop or start cluster"
there is an error

TASK [leo_gateway : Stop LeoGateway] **********************************************************************************************************************************************************
fatal: [45.33.47.145]: FAILED! => {"changed": true, "cmd": ["bin/leo_gateway", "stop"], "delta": "0:00:00.356088", "end": "2018-08-07 15:42:06.928290", "msg": "non-zero return code", "rc":

[2018-08-07 15:52] FunnyRyan commented on #1102
Aug 07 15:50:54 li997-145.members.linode.com systemd[1]: Unit leofs-gateway.service entered failed state.
Aug 07 15:50:54 li997-145.members.linode.com systemd[1]: leofs-gateway.service failed.
Aug 07 15:50:54 li997-145.members.linode.com polkitd[453]: Registered Authentication Agent for unix-process:14963:1424017 (system bus name :1.116 [/usr/bin/pkttyagent --notify-fd 5 --fallback
Aug 07 15:51:14

[2018-08-07 16:24] FunnyRyan commented on #1102
I rebuild it again and it also doesn't work

-- Unit leofs-gateway.service has begun starting up.
Aug 07 16:22:48 li997-145.members.linode.com leo_gateway[30616]: Config path: /usr/local/leofs/current/leo_gateway/etc
Aug 07 16:22:48 li997-145.members.linode.com leo_gateway[30616]: Exec: /usr/local/leofs/current/leo_gateway/erts-8.3/bin/erlexec -noinput -boot /usr/local/leofs/current/leo_gateway/re

[2018-08-07 23:58] mocchira commented on #1102
@FunnyRyan You can't use leofs_ansible with the cluster managed by systemd because currently leofs_ansible is supposed to be used with the cluster started by the startup script of each component (leo_manager|leo_storage|leo_gateway).

we will consider to make leofs_ansible compatible with the cluster managed by systemd. Until it comes out, please consider using leofs_ansible with the startup scrip

[2018-08-08 00:02] mocchira opened #1103 "[leo_gateway][REST] GET with the Range header doesn't work"
Because leo_gateway_rest_api doesn't handle the Range header.

[2018-08-08 00:06] mocchira opened #1104 "[leofs_ansible] Make it compatible with the cluster managed by systemd"
As you can see at https://github.com/leo-project/leofs/issues/1102, there are such needs from users.

[2018-08-08 01:27] FunnyRyan commented on #1102
i got it

thank u

[2018-08-08 02:16] FunnyRyan opened #1105 "Something about load balance(traffic balance) ,thanks everybody..."
I build a leofs cluster and it works fine. It contains manager0, manager1, gateway0, storage0~3.

If I add a gateway1 or more to balance traffic, what is the solution for the front of the leased gateway?

Is there any other solution for the front of the gateway besides lvs?

I mean to divert traffic, This does not seem to be the same concept as load balance on the leofs website image.

Otherwise t

[2018-08-08 02:50] FunnyRyan commented on #1098
It is seem to be stable now.....i used a unsupported version of  Erlang 19.3......so i change it to 18.3 on centos7.

this is the video which doesn't play on chrome last time i building on single servers
http://s3.xiaohost.com:8080/bucket1/2.mp4

[2018-08-08 02:59] FunnyRyan opened #1106 "How to deal with different names but the same files?"
I think this is a very important functional requirement.

How to deal with different names but the same files uploading by different user or myself ?

I have testing it...but it was re-uploaded it ....

I suggest to add the feature of md5 to stop duplicate file uploads, and record different names for different user in database ,

[2018-08-08 04:31] mocchira commented on #1106
Let me clarify your question.

For example, let's say
We have a file A and upload it into

- bucket/path/to/file/A
- bucket2/path/to/file/A

then How LeoFS deal with those two files is just having the same content at each name. This is the current spec. In a future version, we may implement Deduplication as described at https://github.com/leo-project/leofs#version-2. Until the Dedup comes out, I'd

[2018-08-08 04:45] mocchira commented on #1105
Have you read the document at https://leo-project.net/leofs/docs/admin/system_admin/load_balancing/ ? I think there is the answer to your question. so If not, please read it and ask me again if you have any questions after reading it.

[2018-08-09 14:28] vlakas opened #1108 "Great amount of failed put due container lock?"
Hello.

## Summary

I'm trying to investigate issue with great amount of failed PUTs. I have cluster with 18 nodes (27 in the future). LeoFS version - 1.4.2

Gateway logs:
[code]

On storage nodes I see multiple log records:
[code]

I think that my problem is here https://github.com/leo-project/leo_object_storage/blob/v1/src/leo_object_storage_server.erl#L431

Those this problem is due container l

[2018-08-09 15:06] vlakas commented on #1108
Sorry for mistake. I can purge delete queues. But I still cannot understand of unavailable cause.

[2018-08-09 17:16] vlakas commented on #1108
From the client side I see the following:
[code]

[2018-08-10 03:16] mocchira commented on #1108
@vlakas

The unavailable error caused by "a container being locked" can happen only while the compaction is ongoing so if no compaction is ongoing then there is another reason for unavailable errors.

I've summarized when an unavailable error can happen at the below comment.
- https://github.com/leo-project/leofs/issues/1078#issuecomment-406835531

I think the most probable one you've hit is the f

[2018-08-10 06:27] mocchira opened #1109 "[docs] Add the best practice about rebalance"
Such as
- Avoid to rebalance with many nodes attached.
  - Instead, divide the ong big rebalance into smaller multiple rebalances in order to avoid affecting the cluster's performance as the one big rebalance tend to cause massive data transfer and disk I/O on all storage nodes.

[2018-08-10 08:29] mocchira commented on #1083
Done

[2018-08-10 08:29] #1083 closed, assigned to mocchira

[2018-08-10 08:37] vlakas commented on #1108
@mocchira Thank you for your answer.

It seems I did not provide enough info here. Sorry.

1. All watchdogs are turned off in leo_storage.conf
2. I did try to suspend `leo_per_object_queue` (and then all MQ queues) on all storage nodes earlier with no effect.

But I will try suspend queues once more and report here.

My leo_storage.conf is here:

[leo_storage.conf.txt](https://github.com/leo-proje

[2018-08-10 08:57] mocchira commented on #1108
@vlakas Thanks for the info.

Your leo_storage.conf looks good (no watchdog enabled) so my second guess

might be the reason why unavailable errors have happened.

I see.
If that doesn't work for you then we have to look into further with more system metrics and Erlang/LeoFS diagnostic tools so let me know. I'll provide the info related to those tools.

Although it's possible to add 4 nodes and re

[2018-08-13 08:26] vlakas commented on #1108
@mocchira Thank you for the rebalancing tip. It makes sense.

Unfortunately suspending MQ queues makes no difference. There are no any compaction tasks running.

I'm now investigating bottleneck according to system metrics.

It would be helpful.

[2018-08-13 22:21] mocchira commented on #1108
I see. Just in case, Please tell us the output of mq-stats on every storage node.

OK. Please tell us any system metrics if you find something weird.

Please try the below tool out on your storage nodes (especially the ones under higher load)

- https://github.com/leo-project/leofs_doctor

This would enables us to find how many times each module:function is called in a certain period (CPU bound pr

[2018-08-14 08:10] vlakas commented on #1108
[mq-stats-active.txt](https://github.com/leo-project/leofs/files/2285982/mq-stats-active.txt)
[mq-stats-full.txt](https://github.com/leo-project/leofs/files/2285983/mq-stats-full.txt)

mq-stats-active.txt shows only active queues. And full output of mq-stats command on all storage nodes just in case.

I am afraid that main bottleneck may be disk subsystem. On each storage node I have 3x4TB HDD (md

[2018-08-14 11:26] vlakas commented on #1108
Here is the result of leofs_doctor for 2 loaded nodes (high disk usage):
[leofs_docktor_mamba.txt](https://github.com/leo-project/leofs/files/2286677/leofs_docktor_mamba.txt)
[leofs_docktor_viper.txt](https://github.com/leo-project/leofs/files/2286678/leofs_docktor_viper.txt)

Here is the result for nodes with non-empty `leo_per_object_queue` queue:
[leofs_docktor_asp.txt](https://github.com/leo-p

[2018-08-16 05:10] mocchira commented on #1108
@vlakas

Maybe, however your leveldb setting described below looks good to me. so I think some other tuning might be needed.

Suggestions based on the results of diagnostic tools and system metrics.

From leofs_docktor_mamba.txt, I can see logging related processes are bursting probably due to massive amount of PUT errors you've faced now and this can result in high disk utilization on that node.

[2018-08-16 08:30] vlakas commented on #1108
@mocchira I appreciate your help.

Good point about leo_gateways. I will try to reduce amount of leo_gateways (with cache tuning) and will try some balancing tricks (i.e. some sort of ip hash balancig or so).

Currently "small" cacheing disks are replaced it may help a bit.

[2018-08-20 15:16] vlakas commented on #1108
1. Done with leveldb logs rate limit on each storage node

[code]

2. 2 servers has been upgraded with new SSD 1TB Disks. So load on each node is almost the same

3. Amount of leo_gateways has been reduced to 4 nodes with consistent uri balancing on haproxy (here I assume that requests on specific uri goes to the same leo_gateway in most cases).

4. Tuning leo_gateway cacheing:

[code]

And it see

[2018-08-20 15:44] vlakas commented on #1108
One more question. There is many reqests of non-existent objects (1/4) in leofs (all not_founds we try to write to leofs from backup amazon S3 bucket). Is it an issue for eleveldb?

Is is safe to purge `leo_rebalance_queue` queue on storage node under recover-consistency? Or is there another way to cancel recover consistency process?

[2018-08-21 01:03] mocchira commented on #1108
@vlakas looks good to me on what you did > https://github.com/leo-project/leofs/issues/1108#issuecomment-414353914 other than

Please try to set this field to "false". This may reduce the number of read operations on leo_storage(s).

As I said at the previous comment, "container locks" is not the root cause. (This can happen only in case compaction(s) running) For more details, please read the com

[2018-08-21 01:37] mocchira commented on #1108
@vlakas In order to replicate your situation on our testing environment, it would be great if you tell us

- Oprations Per Second (ops) for each method
  - ex) PUT: 100, GET: 1,000, DELETE: 10, HEAD: 2,000
- Histgram of the object size
  - ex) 1-64KB: 10%, 64KB-512KB: 20%, 512KB-2MB: 55%, 2MB-10MB: 10%, 10MB-50MB: 5%
- System Architecture
  - ex) haproxy version x.x.x with uri balancing enabled ->

[2018-08-21 08:08] yosukehara commented on #1090
@mocchira Sorry for replying so late. LGTM.

[2018-08-21 12:06] #1103 closed, assigned to mocchira

[2018-08-22 05:11] mocchira commented on #1108
@vlakas I've just remembered another user faced the very similar problem you're facing now and their problem has been solved by lowering obj_containers.num_of_containers (In their case, they changed from 384 to 64). so it might work for you (for example changing it from 128 to 64 or 32).

Please bear in mind that changing obj_containers.num_of_containers on leo_storage means all objects stored in

[2018-08-22 07:58] vlakas commented on #1108
@mocchira Thank you for detailed explanation

Got it.

I forget to say that I have dedicated leo_gateway servers currently. So it will not help a lot.

Regarding to replicating the situation. I really do not want to bother you for now. First of all it seems that I have servers performance issue (in particular disk subsystem). We decided to add more nodes to the cluster (7 or 8 nodes).

It may take

[2018-08-22 08:05] vlakas commented on #1108
@mocchira Thank you for valuable info. Unfortunately procedure of changing containers count will be very slow (because of great amount of stored objects). But I think that I have to give it a try. If I change containers number on couple of nodes can we undarstand if it would be positive changes? Or we need to change it on every storage node in the cluster?

Also do I correctly understand procedure

[2018-08-22 08:07] vlakas commented on #1108
Numbers on requests and system metrics I will post here a little later.

[2018-08-22 08:24] mocchira commented on #1108
@vlakas

Yes you can.
however keep in mind that there is one drawback while "obj_containers.num_of_containers" is not consistent across the cluster. You cannot issue leofs-adm recover-disk during "obj_containers.num_of_containers" is not consistent. (You can issue other recover related commands like reocver-(file|node|ring|cluster|consistency))

After starting the storage node, issue `recover-node

[2018-08-23 01:16] mocchira commented on #965
I'll close this as the fix has already been merged into v1.

[2018-08-23 01:16] #965 closed

[2018-08-23 06:31] mocchira commented on #1106
I'll close this issue as it's already answered and no replies for a long time. please reopen if you have more questions about this topic.

[2018-08-23 06:31] #1106 closed, assigned to mocchira

[2018-08-23 06:33] mocchira commented on #1105
I'll close this issue as it's already answered and no replies for a long time. please reopen if you have more questions about this topic.

[2018-08-23 06:33] #1105 closed, assigned to mocchira

[2018-08-23 06:35] mocchira commented on #1102
I'll close this issue as it's already answered and OP seems to get it.

[2018-08-23 06:35] #1102 closed, assigned to mocchira

[2018-08-23 06:37] mocchira commented on #1099
I'll close this issue as it's already answered.

[2018-08-23 06:37] #1099 closed, assigned to mocchira

[2018-08-23 06:38] mocchira commented on #1097
I'll close this issue as it's already answered and no replies for a long time.

[2018-08-23 06:38] #1097 closed, assigned to mocchira

[2018-08-23 06:49] mocchira commented on #1048
WIP

[2018-08-24 11:57] #1098 closed, assigned to mocchira

[2018-08-24 11:57] #1109 closed, assigned to yosukehara, mocchira

[2018-08-24 11:57] #1090 closed, assigned to mocchira

[2018-08-28 01:04] mocchira opened #1112 "[docs] Add the explanation on how to scale up a leo_storage node"
Fix the below pages.

- https://leo-project.net/leofs/docs/admin/system_operations/data/#file-structure
- https://leo-project.net/leofs/docs/admin/system_operations/data/#use-cases
- https://leo-project.net/leofs/docs/faq/administration/
- https://leo-project.net/leofs/docs/admin/settings/leo_storage/#irrevocable-and-attention-required-items

[2018-08-30 01:33] #1112 closed, assigned to mocchira

[2018-08-31 05:45] NewDund opened #1115 "Delete a storage node would cause data loss."
There is a very serious problem here.

When I dropped a storage node, I found that some objects would disappear. My copy number is three.Is there any setup to ensure data integrity?

So, I want to know how Leofs's replica storage strategy is. And how to solve this problem.

I hope to answer this question as soon as possible.

[2018-08-31 07:44] mocchira commented on #1115
Let me clarify what the drop operation was in detail.
Did you do the proper detach step described on the official doc: https://leo-project.net/leofs/docs/admin/system_operations/cluster/#remove-a-node OR
just stop and delete the node?

- The former
  - There should be no chances to lose any objects as long as all storage nodes are healthy and rebalance get finished without any errors.
- The latter

[2018-08-31 08:17] NewDund commented on #1115
My consistency settings are "n = 3, r = 1, w = 2, d = 2." My operation is just normal deletion of a storage node ("leofs-adm detach storage_01@x.x.x" and then "leofs-adm rebalance"), a total of four storage nodes, no error was reported, but I later traversed the whole of cluster and found data missing.

[2018-08-31 08:21] NewDund commented on #1115
And here's another question. When rebalance executes, my intranet bandwidth is very high. Is there any settings that can be limited?

[2018-08-31 13:03] francoricci opened #1116 "Cyberduck not listen files"
Until version 6.2.2 cyberduck listen files inside leofs buckets and directories.
Latest version of cyberduck can list only directories but now files inside is accessible.

[2018-09-03 16:28] vlakas commented on #1108
@mocchira Here are some fresh results of leofs_doctor. Currently I have 24 nodes (recently it was only 18). with the same hardware configuration.

Some notes:
1. Nodes with reduced containers count (from 64 to 32):
    - anaconda
    - rattler
    - serpent
    - boiga
2. Nodes with high count of `leo_per_object_queue`:
    - adder
    - boa
    - boomslang
    - wutu

[storage_0@adder.pleiad.uapr

[2018-09-03 16:29] vlakas commented on #1108
leofs-adm status

[code]

[2018-09-04 00:29] mocchira commented on #1115
@NewDund

The above procedure seems to be correct. however I heard from another commiter that you asked him about another question how to add the additional disk capacity to a leo_storage node and before asking him, you had already added a new disk partition to `obj_containers.(path|num_of_container)` in leo_storage.conf. Is it correct? if so then did you run `leofs-adm recover-node` on that node?

[2018-09-04 00:50] mocchira commented on #1108
@vlakas Thanks for the info.

The result of leofs_doctor(s) looks nothing bad to me.

In order to check if num_of_containers is the cause, it would be more better to check the iostat between a storage node with 32 containers and another one with 64 containers. if the disk util is lower on the node with 32 containers then it works.

[2018-09-04 02:14] NewDund commented on #1115
I run the leofs-adm recover-node command after the storage node has added disks as normal. Maybe after the cluster is balanced, the data will be restored to integrity, but the production environment does not want any temporary loss of data.
Similar environment is when I offline a storage node, in the execution of the leofs-adm rebalance command process, I do not want to read and write data problem

[2018-09-04 02:32] mocchira commented on #1116
@francoricci Thanks for reporting this issue. I've confirmed on the latest (6.7.1.28683). Since other s3 clients works fine, there might be something wrong specific to the cyberduck latest. I'll dive into the cyberduck code from now on. Until I find the fix, would you like to keep using 6.2.2 cyberduck or try dragondisk (http://www.s3-client.com/) out as a GUI browser?

[2018-09-04 03:22] mocchira commented on #1115
(I may misunderstand what you want to tell us. let me know if I wrongly interpreted your question)
With the proper settings and operations, any temporary loss of data almost never happen even while an offline storage node exists AND/OR rebalance is ongoing except multiple node failures. That being said, if you face any (temporary) loss of data then there should be something wrong operations OR bug

[2018-09-04 04:48] NewDund commented on #1115
This is my working directory.

When I run "uname -r”, I got "3.10.0-327.el7.x86_64”.My system version is Centos7.2. My leafs cluster version is 1.3.6. AndI have 4c8g resources.

I'll reiterate the problem. After the cluster is working properly, I'm importing data, and during that time I'm offline with a node and I find that some objects are not accessible.

原始邮件
发件人:yoshiyuki.kannonotifications@gi

[2018-09-04 04:51] NewDund commented on #1115
I have just replied to you in the form of mail, but I am not sure if you have received the mail and the attachment.

[2018-09-04 05:28] mocchira commented on #1115
I can confirm your comment however any attachments are not accessible on github so please attach files using github web UI if that includes detailed information. Current information you've given us is not enough to dig into further this problem.

One thing I have to confirm.
Given that your LeoFS version is quite old, this might cause the problem so give me some time to check if there is any serio

[2018-09-04 05:40] NewDund commented on #1115
This is my working directory for storage nodes.
https://github.com/NewDund/my_leofs
If you need any other documents or information, please let me know.

[2018-09-04 07:55] mocchira commented on #1116
Found the differences between the one succeeding and the another failing.

- The succeeding one has non-empty NextMarker field
- The failing one receives HTTP Body in HTTP/1.0 way (Connection: close) OHOH the succeeding one receives in HTTP/1.1 way (ContentLength is set to HTTP Header)

### Example Request/Response
- Succeeded
[code]
- Failed
[code]

[2018-09-04 08:03] francoricci commented on #1116
I'll use the old version f CyberDuck until solution.
Thanks

[2018-09-04 08:16] mocchira commented on #1116
The culprit function which return the response body in HTTP/1.0 way
- https://github.com/leo-project/leo_gateway/blame/develop/src/leo_gateway_s3_api.erl#L1603-L1638

- Related commits
  - https://github.com/leo-project/leo_gateway/commit/01a653b35429541ce3bb64c777bcf4521bef8430
  - https://github.com/leo-project/leo_gateway/commit/3cc5866fdf78b51f99abea2849a9b60f6a241039

[2018-09-04 11:53] mocchira commented on #1116
Memo: diff between 6.2.2 and 6.7.2 (the latest): https://trac.cyberduck.io/changeset?old_path=%2Ftags%2Frelease-6-2-2%2Fs3%2Fsrc%2Fmain%2Fjava%2Fch%2Fcyberduck%2Fcore%2Fs3%2FS3ObjectListService.java&old=45028&new_path=%2Ftags%2Frelease-6-7-2%2Fs3%2Fsrc%2Fmain%2Fjava%2Fch%2Fcyberduck%2Fcore%2Fs3%2FS3ObjectListService.java&new=45028

[2018-09-05 01:37] mocchira commented on #1115
### What I got from your working direcory and some questions/recommendations to you
### leo_storage
- **"alarm_handler", ... {set,{system_memory_high_watermark,..."** can be found in info log files. That being said,  you may add some memory capacity on leo_storage nodes.
- The below log lines can be found in info log files. It seems you delete large files (OR update(overwrite) large files) in oper

[2018-09-05 10:41] NewDund commented on #1115
I have upgraded to 1.4.2 version. But there are problems in the process of data import.
when i run 'tail /usr/local/leofs/1.4.2/leo_gateway/log/app/error'
`[E]	gateway_01@10.0.1.103	2018-09-05 18:35:31.14806 +0800	1536143731	null:null	0	{module,"leo_s3_auth"},{function,"authenticate_5/1"},{line,434},{body,"get_credential rpc failed"}
[E]	gateway_01@10.0.1.103	2018-09-05 18:35:33.98483 +0800	153614

[2018-09-06 00:45] mocchira commented on #1116
It turns out that several comments I previously posted at here were wrong so I deleted those to keep comments clean.

[2018-09-06 00:56] mocchira commented on #1116
The reason why the latest cyberduck can't display any files but display folders stored in LeoFS is that they've changed the API retrieving the object list from https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGET.html to https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGETVersion.html.

Since LeoFS has no yet supported **GET Bucket Object versions** API, any files have not been d

[2018-09-06 02:00] mocchira commented on #1115
@NewDund Just in case, I've confirmed the migration test from 1.3.6 to 1.4.2 and just works fine without any errors you are facing now. let me ask some questions

- Have you followed the migration instruction described on the official document here: https://leo-project.net/leofs/docs/admin/system_admin/migration/ ?
- Can you share the terminal log related to LeoFS migration operations with us?
- C

[2018-09-06 02:47] NewDund commented on #1115
I just uploaded all the configuration information and logs of 1.4.2 version.
https://github.com/NewDund/my_leofs/tree/master/1.4.2
But there is a little disappointed. I deleted everything from the old version. I'm sorry.
Is there any solution to the existing version?

[2018-09-06 05:05] mocchira commented on #1115
@NewDund

According to https://github.com/NewDund/my_leofs/blob/master/1.4.2/leo_manager_0/etc/leo_manager.conf#L121, you set `mnesia.dir` to the default relative path. That being said, as I mentioned at the previous commment,

This is why you are facing the error (get_credential rpc failed) because mnesia records storing credential information has been deleted.

- Create a new user using `leofs-a

[2018-09-06 05:22] NewDund commented on #1115
I did what you said.

    Create a new user using leofs-adm create-user
    Change the owner of a bucket using leofs-adm chown-bucket with access-key-id generated by the above command and buckets you have
    Distribute access-key-id/secret-access-key pair to the S3 clients connecting to LeoFS

But there are still the same problems. I visited with Python.

import boto.s3.connection

access_key = '

[2018-09-06 07:36] mocchira commented on #1116
@francoricci I've just sent PR https://github.com/leo-project/leofs/pull/1118 to fix the problem. The next stable release 1.4.3 will include the fix so once 1.4.3 comes out and you finish to upgrade LeoFS, you will be able to use the latest cyberduck. Please wait for a while.

[2018-09-06 08:14] mocchira opened #1119 "[leo_gateway] Support GET Bucket (List Objects) Version 2"
AWS has published the new API - GET Bucket (List Objects) Version 2 (https://docs.aws.amazon.com/AmazonS3/latest/API/v2-RESTBucketGET.html) as a successor of Version 1 (https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGET.html).

With this new I/F, we can implement listing objects more efficiently especially in case the key count goes beyond max-keys because the new one abolished `NextMar

[2018-09-06 08:41] mocchira commented on #1115
@NewDund Can you share the full error log files on leo_gateway? I'll look into further.

and also let me confirm that you probably lost the mnesia records which includes not only user credentials but buckets, endpoints and ACL information. Did you recover those records into the new cluster? if not then try to recover the records using leofs-adm add-endpoint, add-bucket and so on.

[2018-09-06 09:45] NewDund commented on #1115
@mocchira All the configuration and log of my cluster are here now.
https://github.com/NewDund/my_leofs/tree/master/1.4.2
What I did during the upgrade was actually equivalent to restarting a new cluster. I emptied all the old versions of the data files and so on, so I didn't know what would happen if I started a new cluster like this.
The current error reports are "{module,'leo_s3_auth'}, {functi

[2018-09-06 10:31] NewDund commented on #1115
@mocchira
I found the answer.
I found that there was always a 503 error report, but I returned to normal after the LB node ran "system CTL restart haproxy"
I came to the conclusion that if the cluster is restarted or stopped, the load balancing machine should restart.
I think this should be marked in the document. Thank you.

[2018-09-06 13:17] francoricci commented on #1116
Great!
Thanks a lot, I'll wait for the next leofs release.

Franco

[2018-09-06 13:17] #1116 closed, assigned to mocchira

[2018-09-07 00:26] mocchira commented on #1115
@NewDund Great to hear that you managed to fix your problem.

Generally speaking, It's always not true, it probably depends on your haproxy setting (and/or) how much time you took to upgrade (stop the old leo_gateway and start the new one). I will try some other scenarios and I will add the document if I think it's worth noting in the doc.

Anyway, please close the issue if every problem got clear

[2018-09-07 01:33] #1115 closed, assigned to mocchira

[2018-09-10 09:38] asphytotalxtc opened #1120 "Objects restored as part of recover-cluster do not appear to include headers when retrieved"
Hey guys, wonder if anyone could give me some pointers on an issue I'm seeing using recover-cluster. We've simulated a DR cluster going unavailable (by just shutting it all down) and when bringing it up again and doing a recover-cluster on the master (with the cluster name of the now available DR cluster) things seem to work, objects created on the primary whilst the second cluster was down appear

[2018-09-10 14:11] asphytotalxtc commented on #1120
Just an update, I'm seeing this happen with freshly replicated objects too. Neither (s3) HEAD nor GET methods are including any headers.

[2018-09-11 05:33] mocchira commented on #1120
@asphytotalxtc Thanks for reporting this issue.

Can I ask you what version of LeoFS are you using? (IIRC, some older version have the issue which symptom was very similar to yours. so if you don't use the latest, Bumping up to the latest (1.4.2) may solve your problem.

[2018-09-11 07:34] asphytotalxtc commented on #1120
@mocchira I'm using the latest 1.4.2 version, I actually read back up on some of the previous issues trying to resolve the issue. I'm honestly at a loss!

Just to expand on that, this is just a development environment at the moment. I'm running two VM's, each running a master manager, slave manager, single gateway and two storage nodes. Pretty much all of the config is as default as possible and I

[2018-09-11 07:44] mocchira commented on #1120
@asphytotalxtc Thanks for the quick reply. I'm going to try to reproduce the issue on as much similar env to yours as possible. I'll get back to you once I find the root problem.

[2018-09-11 07:53] NewDund opened #1121 "The bandwidth of leofs cluster is high."
- mq.num_of_batch_process_max = 100
- mq.num_of_batch_process_regular = 50
- mq.interval_between_batch_procs_max = 5000
- mq.interval_between_batch_procs_regular = 3000

This is my configuration. This is the case.

I don't know why. And I want some help.

[2018-09-11 11:34] vlakas commented on #1108
@mocchira I have a good news. LeoFS works as expected. The reason of fails is overtuned config of leo_storage.

I've reverted to default config with minor modifications and reassembled leofs cluster.

Later I will post diff of configs (currently I do not understand the root cause of my problem).

[2018-09-11 23:37] mocchira commented on #1108
Great to hear that.

Yes please, that will help a lot to find out the root cause for me.

[2018-09-11 23:50] mocchira commented on #1121
Let me confirm a couple of things.
- the bandwidth is fairly stable during the recover-node?
- however after a day, the bandwidth increases a lot. Has this happened after the recover-node finished?
- What does mq-stats show on each storage node while the bandwidth increases?
- Can you share ops/bandwidth of the incoming requests from gateway nodes while the bandwidth increases?
- Are there any err

[2018-09-12 02:08] NewDund commented on #1121
First thing, I only ran recover-node, and the gateway node did not any request during recovery.
But the storage node in the recovery process, because I did a limit the initial bandwidth is relatively stable, but about a day later, the node is still in the recovery process, bandwidth increased a lot.
I share the logs and bandwidth details.

zabbix_network_traffic.png
As you can see in this picture,

[2018-09-12 05:14] mocchira commented on #1121
@NewDund Thanks for the info.

I got what you want to do now. Since It's really difficult for LeoFS to limit(control) bandwidth in such a fine grained unit, I'd recommend you another way to limit bandwidth using linux tc command (https://linux.die.net/man/8/tc) with qdisc which enables you to limit/control bandwidth in very flexible ways. (tbf or HTB Qdisc seem to great fit for limiting the bandwi

[2018-09-12 13:20] asphytotalxtc commented on #1120
@mocchira  I believe I've just had a bit of a breakthrough! purely out of luck noticing a packet trace too..

I've noticed that all the objects that replicate perfectly, all have custom metadata in the PUT request. s3client, CloudBerry etc all seem to set custom client specific metadata along with their put requests.

Our custom internal application based on nodejs and the amazon aws s3 sdk doesn'

[2018-09-13 01:00] mocchira commented on #1120
@asphytotalxtc Great catch.

Yes I think so! I'll look into around.

[2018-09-13 08:24] asphytotalxtc commented on #1120
Let me know if I can be of any further help 👌

[2018-09-14 05:59] mocchira commented on #1120
WIP. Successfully reproduced with s3cmd/LeoFS 1.4.2.

[2018-09-14 07:27] mocchira commented on #1120
### Cause
It turns out that `leo_object_storage_transformer:get_udm_from_cmeta_bin` has wrongly been applied to every object **twice** to be sent to a remote cluster by recover-cluster.

- https://github.com/leo-project/leofs/blob/v1/apps/leo_storage/src/leo_storage_mq.erl#L1051 will call https://github.com/leo-project/leofs/blob/v1/apps/leo_storage/src/leo_storage_handler_object.erl#L235 and as a

[2018-09-14 07:37] asphytotalxtc commented on #1120
@mocchira fantastic! Glad you managed to find the root cause :) We'll be upgrading to the latest release before going to production with this but since we were going to make use of custom meta data (eventually anyway, this was just a proof of concept) it's certainly not a showstopper for us.

Thank you guys for not only the excellent support, but also for this fantastic object storage system. Grea

[2018-09-14 10:07] vlakas commented on #1108
[leo_storage.conf-new.txt](https://github.com/leo-project/leofs/files/2382900/leo_storage.conf-new.txt)
[leo_storage.conf-old.txt](https://github.com/leo-project/leofs/files/2382901/leo_storage.conf-old.txt)

@mocchira New (actual working config) and old (non-working config) configs are attached here.

Also `containers_num` currently is 64 on each storage node. Rack awareness has been turned off (

[2018-09-14 11:14] vlakas opened #1122 "Common Headers support for object"
Here is list of common HTTP headers that AWS S3 supports for requests:
https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html#RESTObjectPUT-requests

Example:
[code]

[code]

Pay attention on `Content-Encoding` header.

The same thing with leofs:

[code]

[code]

Do LeoFS support such headers for object?

With custom request headers `x-aws-meta-*` there is no issues.

[2018-09-15 06:09] mocchira commented on #1122
@vlakas

Still not yet, however we have the issue to support gzip encoding here: https://github.com/leo-project/leofs/issues/420 so please vote(pick your reaction) on the issue if you do want the feature as we tend to prioritize the issue which many users want.

[2018-09-17 13:51] plmikhail opened #1123 "SNMP don't return leo_per_object_queue"
snmpwalk -v2c -cpublic leofs-node08:4010 .1.3.6.1.4.1.35450
SNMPv2-SMI::enterprises.35450.56.1.0 = STRING: "node08@10.3.15.108"
SNMPv2-SMI::enterprises.35450.56.2.0 = Gauge32: 2050
SNMPv2-SMI::enterprises.35450.56.3.0 = Gauge32: 158701913
SNMPv2-SMI::enterprises.35450.56.4.0 = Gauge32: 122338033
SNMPv2-SMI::enterprises.35450.56.5.0 = Gauge32: 36303603
SNMPv2-SMI::enterprises.35450.56.6.0 = Gauge32

[2018-09-18 00:10] mocchira commented on #1108
@vlakas Thanks for the great feedback.

[code]

The difference which may affect the performance and error rate is

- mq.num_of_batch_process_max
- mq.interval_between_batch_procs_max

Since those two settings control how fast the background processing (recover/rebalance) is proceeded (In other words, how much system resources the background processing consumes), the old configuration caused the ba

[2018-09-18 00:11] mocchira commented on #1108
@vlakas if there is no problem remained then please close the issue.

[2018-09-18 00:15] mocchira opened #1124 "[docs] The way to control how much system resources the background processing consumes"
Details can be found on https://github.com/leo-project/leofs/issues/1108#issuecomment-422210969

[2018-09-18 06:37] yosukehara commented on #1123
@plmikhail Thank you for your report.
I've reproduced its situation on my environment as below. I'll fix this issue soon.

### LeoStorage's debug-log during data-rebalance

[code]

### Result of snmpwalk command during data-rebalance

[code]

[2018-09-18 10:04] NewDund commented on #1121
Hello, now I want to know.
If the number of copies of the storage nodes is guaranteed to work properly, even if multiple other nodes fail. Is it possible to confirm that data loss will not occur?

[2018-09-18 10:14] vlakas commented on #1108
@mocchira Thank you very much for amazing support. This issue is completely solved.

[2018-09-18 10:14] #1108 closed, assigned to yosukehara, mocchira

[2018-09-18 23:57] mocchira commented on #1121
@NewDund

It depends on what "fail" means and what nodes "fail".
Let's say "fail" means that a node completely get broken (never be able to get back to the cluster) then

- replicas of an object "A" are stored on node01, node02, node03
- those three nodes "failed" at the same time

then an object "A" got lost.
That being said, it's impossible to confirm that in such catastrophic failure cases.

Th

[2018-09-19 00:00] mocchira commented on #1123
@plmikhail The fix will be included in the next stable release 1.4.3 so please wait for a while.

[2018-09-19 00:06] mocchira commented on #1122
As I commented on the above, this issue is duplicated with #420  so I'll close this one. Now two users have voted on #420 so we will re-consider its priority.

[2018-09-19 00:14] #1122 closed, assigned to mocchira

[2018-09-19 02:14] NewDund commented on #1121
I have five storage nodes "node01, node02, node03, node04, node05" and have three copies.

replicas of an object "A" are stored on node01, node02, node03

If there are two nodes randomness fails in cluster, like "node1,node3" failes, does it guarantee that data will not be lost?

[2018-09-19 02:25] mocchira commented on #420
We've changed the milestone to 1.4.3 as there are some needs from our community. WIP.

[2018-09-19 02:28] mocchira commented on #1121
Not lost as long as node02 is alive.

[2018-09-19 06:28] plmikhail commented on #1123
@mocchira thank you!

[2018-09-19 07:55] #1120 closed, assigned to mocchira

[2018-09-19 07:55] #1124 closed, assigned to mocchira

[2018-09-19 14:06] asphytotalxtc commented on #338
Just to chime in here, we too would be really interested in this functionality (we have three DCs). Is it still planned for a 2.0.0 release?

[2018-09-20 00:02] #420 closed

[2018-09-20 00:06] #1123 closed, assigned to yosukehara

[2018-09-20 00:43] mocchira commented on #1094
As the temporal fix works for our users, I'll close the issue. Please reopen if there are some users who want the fundamental fix.

[2018-09-20 00:43] #1094 closed, assigned to mocchira

[2018-09-20 00:54] mocchira commented on #1086
No resource conflicts have been confirmed. The problem seems that a large num_of_containers with many cpu cores causes the high disk utilization resulting in errors on leo_storage. The workaround is already described on our official doc https://leo-project.net/leofs/docs/faq/administration/#what-should-i-do-when-many-errors-have-started-to-appear-in-log-files-on-leostorage so I'll close the issue.

[2018-09-20 00:54] #1086 closed, assigned to mocchira

[2018-09-20 01:09] mocchira commented on #1062
I'll close as it's already answered and no replies for a long time.

[2018-09-20 01:09] #1062 closed, assigned to mocchira

[2018-09-20 01:25] mocchira commented on #911
@yosukehara Since otp18 has become EOL, Can I re-send https://github.com/leo-project/leo_object_storage/pull/17 to solve this issue?

[2018-09-20 01:32] mocchira commented on #465
Since https://github.com/leo-project/leofs/issues/592 has already solved the problem, I'll close the issue.

[2018-09-20 01:32] #465 closed

[2018-09-20 03:03] NewDund commented on #1121
In this case, is the maximum number of n-1 machines allowed to be down?

If my cluster is already running, is there any way to change the number of copies?

[2018-09-20 03:32] yosukehara commented on #911
@mocchira

Yes, please.

I've just recognized we need to modify `require_otp_vsn` in `rebar.config` of each Leo's app and lib  before we release LeoFS v1.4.3.

[2018-09-20 03:58] mocchira commented on #1121
Yes.

Unfortunately there are no easy ways to do so. However there are two workarounds.

1. Build a new cluster with the number of copies increased and copy all objects stored in the old cluster to the new one (you should have the list of all objects in this way)
2. Build a new cluster with the number of copies increased and use the Multi DC replication feature to copy all objects stored in the ol

[2018-09-20 04:01] mocchira commented on #911
OK will do.

Yes I'll file the issue for that task just in case.

[2018-09-20 04:04] mocchira opened #1128 "[leofs] Change require_otp_vsn to the current maint versions"
from 18/19/20 to 19/20/21.

[2018-09-20 05:28] mocchira commented on #911
Check if the patch works on each OTP maint release

- [x] 19.3.x
- [x] 20.3.x
- [x] 21

[2018-09-20 14:56] #1091 closed, assigned to mocchira